CONTAINER_NAME: aquamark
MINIMUM_UPTIME_MS: 60000

SMTP_SERVER: <YOUR SMTP SERVER>
SMTP_PORT: 587
SMTP_USE_TLS: True
SMTP_USERNAME: <SMTP SERVER USERNAME>
SMTP_PASSWORD: <SMTP SERVER PASSWORD>

MESSAGE_SEND_FROM: <SENDER EMAIL>
MESSAGE_SEND_TO: [<RECEIPIENT LIST>]
N_LOG_LINES: 100

MESSAGE_SUBJECT_CRASHED: Upmark has CRASHED
MESSAGE_CONTENT_CRASHED: |
    The Upmark server ${server} has CRASHED.

    Here are the last ${n_log_lines} lines from the logs:
    ${logs}

MESSAGE_SUBJECT_RECOVERED: Upmark is RUNNING
MESSAGE_CONTENT_RECOVERED: |
    The Upmark server ${server} has recovered.

    Here are the last ${n_log_lines} lines from the logs:
    ${logs}

MESSAGE_SUBJECT_TEST: Upmark watchdog TEST
MESSAGE_CONTENT_TEST: |
    This is a TEST email from the Upmark server ${server}.
