<div class="header">
<div class="container">
    <h2 page-title>
        Custom Query
    </h2>
</div>
</div>

<div class="container">
<form>
    <div class="form-group"
            textarea-label="{{!query ? 'Enter SQL query' : ''}}">
        <textarea autoresize ng-model="query"
            class="autoresize form-control">
        </textarea>
    </div>
    <div class="form-group text-center">
        <button ng-click="format(query)"
                class="btn btn-default"
                title="Format">
            <i class="fa fa-paragraph"></i>
            <span class="sr-only">Format</span>
        </button>
        <span dropdown dropdown-append-to-body>
            <button class="btn btn-default" title="Download" dropdown-toggle>
                <i class="fa fa-cloud-download"></i></button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Download as</li>
                <li>
                    <a href ng-click="download(query, 'csv')">
                        <i class="fa fa-table"></i>
                        CSV
                    </a>
                </li>
                <li>
                    <a href ng-click="download(query, 'xlsx')">
                        <i class="fa fa-file-excel-o"></i>
                        Excel
                    </a>
                </li>
            </ul>
        </span>
        <button ng-click="execute(query)"
                class="btn btn-default">
            <i class="fa fa-play"></i>
            Execute
        </button>
        <span dropdown dropdown-append-to-body>
            <button class="btn btn-default" title="Presets" dropdown-toggle>
                <i class="fa fa-bookmark"></i></button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Sample queries</li>
                <li ng-repeat="sample in samples">
                    <a href ng-click="setQuery(sample.query)">
                        {{sample.name}}
                    </a>
                </li>
            </ul>
        </span>
    </div>
</form>

<div ng-if="result.cols">
    <div class="scroll-x">
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="col in result.cols track by $index">
                    {{col.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in result.rows track by $index">
                <td ng-repeat="cell in row track by $index">
                    {{cell}}
                </td>
            </tr>
        </tbody>
    </table>
    </div> <!-- scroll-x -->

    <div class="spaced">
        <p ng-if="result.cols && !result.rows">Empty result set.</p>
        <p class="text-warning text-center"
                ng-if="result.rows.length >= execLimit">
            <small>
                <i class="fa fa-bug"></i>
                Results in web view are limited to {{execLimit}} items. If you
                want the next page, add an
                <a title="PostgreSQL docs on LIMIT and OFFSET"
                    href="http://www.postgresql.org/docs/9.4/static/queries-limit.html"
                    ><code>OFFSET</code></a>
                to your query or <i class="fa fa-cloud-download"></i> download
                the results.
            </small>
        </p>
    </div>
</div>
</div>
