<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Print"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
    </div>
    <h2 page-title>
        Custom Query
    </h2>
</div>
</div>

<div class="container">
<form>
    <div class="form-group text-center hidden-print">
        <button ng-click="format(query)"
                class="btn btn-default"
                title="Format">
            <i class="fa fa-paragraph"></i>
            <span class="sr-only">Format</span>
        </button>
        <span class="btn-group">
            <span class="btn-group-addon">
                <i class="fa fa-cloud-download"></i>
            </span>
            <button ng-click="download(query, 'csv')"
                    class="btn btn-default"
                    title="Execute and download as comma-separated values (text)">
                CSV
            </button>
            <button ng-click="download(query, 'xlsx')"
                    class="btn btn-default"
                    title="Execute and download as an Excel spreadsheet">
                Excel
            </button>
        </span>
        <button ng-click="execute(query)"
                class="btn btn-default"
                    title="Execute and display on this page">
            <i class="fa fa-play"></i>
            Execute
        </button>
        <span uib-dropdown dropdown-append-to-body>
            <button class="btn btn-default" title="Presets" uib-dropdown-toggle>
                <i class="fa fa-bookmark"></i></button>

            <ul uib-dropdown-menu class="dropdown-menu-right">
                <li class="dropdown-header">Sample queries</li>
                <li ng-repeat="sample in samples">
                    <a href ng-click="setQuery(sample.query)">
                        {{sample.name}}
                    </a>
                </li>
            </ul>
        </span>
    </div>
    <div class="form-group"
            textarea-label="{{!query ? 'Enter SQL query' : ''}}">
        <textarea autoresize ng-model="query"
            class="autoresize form-control">
        </textarea>
    </div>

    <docs>
        <i class="fa-li fa fa-database fa-border"></i>
        <p>
            Enter a query to run against the database. Queries should be written
            as SQL in the
            <a href="http://www.postgresql.org/docs/9.4/static/sql-select.html">
                PostgreSQL dialect</a>.
            Only <code>SELECT</code> statements are allowed.
        </p>
        <p>
            Up to {{execLimit}} result rows can be displayed in browser window
            by pressing <i class="fa fa-play"></i> Execute. Up to
            {{config.maxLimit}} rows can be returned by downloading the data as
            CSV or as an Excel spreadsheet.
            <span ng-if="config.wallTime">
                All queries are limited to {{config.wallTime / 1000}}s of
                runtime.
            </span>
        </p>
    </docs>

    <docs>
        <i class="fa-li fa fa-user fa-border"></i>
        <h3>User tables</h3>
        <p>
            Users belong to organisations:
        </p>
        <img src="images/design-tables-user.svg" class="img-responsive">
        <dl>
            <dt>organisation</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Basic details about organisations - both those taking part in
                surveys, and those authoring them. Has a one-to-one relationship
                with <code>org_meta</code>, and one-to-many mappings with
                <code>appuser</code> and <code>org_location</code>.
            </dd>

            <dt>appuser</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Stores credentials for users when logging in, and is used to
                identify actions (such as response edits).
                The <code>appuser.password</code> field is not accessible, so
                running <code>SELECT * FROM appuser</code> will fail. List the
                fields you want explicitly.
                <p>Email addresses are case-insensitive and unique.</p>
            </dd>

            <dt>org_location</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                The locations that organisations operate in.
            </dd>

            <dt>org_meta</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Water utility-specific metadata about organisations.
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-sitemap fa-border"></i>
        <h3>Survey tables</h3>
        <p>
            Survey questions are stored in the <code>survey</code>,
            <code>hierarchy</code>, <code>qnode</code> and
            <code>measure</code> tables. <code>qnode_measure_link</code> stores
            the many-to-many relationship between <code>qnode</code> and
            <code>measure</code>.
            The naming of these tables no longer matches the terminology in this
            web app: "programs" are stored in the <code>survey</code> table,
            "surveys" are stored in the <code>hierarchy</code> table, and
            "categories" are stored in the <code>qnode</code> table.
        </p>
        <img src="images/design-tables-survey.svg" class="img-responsive">
        <dl>
            <dt>survey</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                The survey table stores programs. Each program has a unique id,
                but may be linked to other program by using the same tracking
                id. This is used to maintain lineage when programs are
                duplicated. A program may have more than one survey (see
                hierarchy).
            </dd>

            <dt>hierarchy</dt>
            <dd>
                <p>PK: <code>id</code>, <code>survey_id</code>.</p>
                The hierarchy table stores surveys. Surveys have a collection of
                categories (qnodes).
                Each survey has an id which
                may be shared with other surveys of the same lineage in other
                programs.
            </dd>

            <dt>qnode</dt>
            <dd>
                <p>PK: <code>id</code>, <code>survey_id</code>.</p>
                Represents categories in the survey, used to group measures.
                Each qnode may have multiple measures or other qnodes as
                children.
            </dd>

            <dt>qnode_measure_link</dt>
            <dd>
                <p>
                    PK: <code>survey_id</code>, <code>qnode_id</code>,
                    <code>measure_id</code>.
                </p>
                Links qnodes to measures. This is required because a measure may
                belong to multiple categories (one per hierarchy) - or none, in
                which case it is orphaned.
            </dd>

            <dt>measure</dt>
            <dd>
                <p>PK: <code>id</code>, <code>survey_id</code>.</p>
                An actual question in a program. Measures can be shared between
                surveys, but not between programs (there is a many-to-many
                relationship with the <code>qnode</code> table, via the
                <code>qnode_measure_link</code> table). The
                <code>response_type</code> determines
                the options available to the user. That field is a soft link to
                data in <code>survey.response_types</code>.
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-check fa-border"></i>
        <h3>Submission tables</h3>
        <p>
            Submissions are an organisation's answer to a survey. Generally,
            there is a one-to-many mapping between entities in the survey tables
            and those in the submission tables.
        </p>
        <img src="images/design-tables-response.svg" class="img-responsive">
        <dl>
            <dt>purchased_survey</dt>
            <dd>
                <p>PK: <code>survey_id</code>, <code>hierarchy_id</code>,
                    <code>organisation_id</code>.</p>
                Links an organisation to the surveys it has purchased.
            </dd>

            <dt>assessment</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                A submission against a survey.
            </dd>

            <dt>rnode</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Caches aggregate scores within a category (i.e. the sum of the
                scores of the responses). Has no parent; to traverse the tree,
                traverse the qnodes instead.
            </dd>

            <dt>response</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                An actual, current response to a question (measure). The
                <code>response_parts</code> field is the authoritative response;
                the <code>score</code> is the cached, calculated score.
            </dd>

            <dt>response_history</dt>
            <dd>
                <p>PK: <code>id</code>, <code>version</code>.</p>
                Past versions of a response (shares an <code>id</code> with a
                response). Not shown in the diagram.
            </dd>

            <dt>attachment</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Files and links; supporting documentation for a response.
                Usually files will not be stored in the actual database;
                instead, the <code>url</code> field will point to the actual
                location (not accessible through this screen).
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-envelope-o fa-border"></i>
        <h3>Activity stream tables</h3>
        <p>
            The information for the <a href="#/">timeline</a> is stored in
            two tables:
        </p>
        <img src="images/design-tables-activity.svg" class="img-responsive">
        <dl>
            <dt>activity</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Stores events that occur across the system in a generic way.
                <code>subject_id</code> is a foreign key to the user who
                performed the action. <code>verbs</code> is a list of the
                actions that were taken, e.g. <em>create</em> or
                <em>update</em>. <code>message</code> is the title of the object
                that was modified; it is stored denormalised in this table to
                avoid complex joins and because some of the events may refer to
                objects that have been deleted. <code>sticky</code> forces the
                activity to be displayed at the top of the timeline.
                </p>
                <p>
                The reference to the target object is stored in a generic way:
                <code>ob_type</code> says what kind of object was acted on,
                e.g. <em>program</em> or <em>qnode</em>. <code>ob_ids</code> is
                a generic reference to any other table. It's an array of IDs
                that uniquely and minimally identify the target object (not
                necessarily by primary key). For example, a row linking to a
                program would have an array of <em>[survey.id]</em>; a row
                linking to a qnode would have <em>[qnode.id, survey.id]</em>;
                while a row linking to a response would have
                <em>[measure.id, assessment.id]</em>.
                </p>
                <p>
                To allow hierarchical subscriptions, e.g. to allow searching for
                events that relate to a program and all of its surveys, qnodes
                and measures, the <code>ob_refs</code> field stores an array of
                all object IDs in the subscription chain, sorted from shallow to
                deep. For example, a measure that belongs to two surveys
                (hierarchies) might have a reference chain of
                <em>[survey.id, hierarchy.id, hierarchy.id, qnode.id, qnode.id,
                measure.id]</em>.
                </p>
            </dd>

            <dt>subscription</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Links users to events in the activity table in a many-to-many
                fashion. <code>user_id</code> is a foreign key to the user, and
                <code>subscribed</code> indicates whether it is a subscription
                or an <em>un</em>subscription. The <code>ob_type</code> field
                has the same role as <code>activity.ob_type</code>.
                <code>ob_refs</code> is a generic reference to both the actual
                object that is subscribed to, and all the activities that refer
                to it.
                </p>
                <p>
                To find out if a subscription matches an activity, check whether
                all of the IDs in the <code>ob_refs</code> column are contained
                in <code>activity.ob_refs</code>. For example,
                <code>activity.ob_refs <a href="http://www.postgresql.org/docs/9.4/static/functions-array.html">@&gt;</a> subscription.ob_refs</code>. Deeper
                subscriptions override shallow ones, so to check a subscription
                against a row in the activity table, find the index of the
                subscription reference in the <code>activity.ob_refs</code>
                column. For example, expand <code>activity.ob_refs</code> with
                <code><a href="http://www.postgresql.org/docs/9.4/static/functions-array.html">unnest</a>(activity.ob_refs) <a href="http://www.postgresql.org/docs/9.4/static/functions-srf.html">WITH ORDINALITY</a></code>
                and then order the results by
                <code>activity.created DESC, activity.id, ordinality DESC</code>.
                </p>
            </dd>
        </dl>
    </docs>
</form>

<div ng-if="result.cols">
    <div class="scroll-x">
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="col in result.cols track by $index">
                    {{col.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in result.rows track by $index">
                <td ng-repeat="cell in row track by $index"
                        ng-class="colClass($index)"
                        ng-switch="colRichType($index)">
                    <span ng-switch-when="float">{{cell | number:2}}</span>
                    <span ng-switch-when="int">{{cell | number:0}}</span>
                    <span ng-switch-when="datetime">{{cell | date}}</span>
                    <span ng-switch-when="json">{{cell}}</span>
                    <span ng-switch-default>{{cell}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    </div> <!-- scroll-x -->

    <div class="spaced">
        <p ng-if="result.cols && !result.rows">Empty result set.</p>
        <p class="text-warning text-center"
                ng-if="result.rows.length >= execLimit">
            <small>
                <i class="fa fa-bug"></i>
                Results in web view are limited to {{execLimit}} items.
                <span class="hidden-print">
                    If you want the next page, add an
                    <a title="PostgreSQL docs on LIMIT and OFFSET"
                        href="http://www.postgresql.org/docs/9.4/static/queries-limit.html"
                        ><code>OFFSET</code></a>
                    to your query or <i class="fa fa-cloud-download"></i> download
                    the results.
                </span>
            </small>
        </p>
    </div>
</div>
</div>
