<div class="header">
<div class="container">
    <h2 page-title>
        Ad-hoc Query
    </h2>
</div>
</div>

<div class="container">
<form>
    <div class="form-group"
            textarea-label="{{!query ? 'Enter SQL query' : ''}}">
        <textarea autoresize ng-model="query"
            class="autoresize form-control">
        </textarea>
    </div>
    <div class="form-group text-center">
        <button ng-click="format(query)"
                class="btn btn-default">
            <i class="fa fa-paragraph"></i>
            Format
        </button>
        <button ng-click="execute(query)"
                class="btn btn-default">
            <i class="fa fa-play"></i>
            Execute
        </button>
        <span dropdown dropdown-append-to-body>
            <button class="btn btn-default" title="Presets" dropdown-toggle>
                <i class="fa fa-bookmark"></i></button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Sample queries</li>
                <li ng-repeat="sample in samples">
                    <a href ng-click="setQuery(sample.query)">
                        {{sample.name}}
                    </a>
                </li>
            </ul>
        </span>
    </div>
</form>

<div ng-if="result.cols">
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="col in result.cols track by $index">
                    {{col.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in result.rows track by $index">
                <td ng-repeat="cell in row track by $index">
                    {{cell}}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="spaced">
        <p ng-if="result.cols && !result.rows">Empty result set.</p>
        <p class="text-warning text-center"
                ng-if="result.rows.length >= 20">
            <small>
                <i class="fa fa-bug"></i>
                Results in web view are limited to 20 items. If you want the
                next page, add e.g. <code>OFFSET 20</code> to your query.
            </small>
        </p>
    </div>
</div>
</div>
