<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="!edit.model && checkRole('assessment_admin')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <a class="btn btn-default btn-round" title="Cancel"
                ng-href="#/survey/{{survey.id}}"
                ng-if="edit.model && !edit.model.id">
            <i class="fa fa-times"></i></a>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('assessment_edit')">
            <i class="fa fa-pencil"></i></button>
    </div>
    <question-header entity="assessment.hierarchy" assessment="assessment"></question-header>
</div>
</div>


<assessment-header ng-if="!edit.model"></assessment-header>


<div class="container" ng-if="edit.model && !edit.model.hierarchy">
    <p>
        Please choose a survey. This will determine the categories that
        are available to you.
    </p>

    <ul class="list-results">
        <li ng-repeat="hierarchy in hierarchies">
            <a href ng-click="edit.model.hierarchy = hierarchy">
                <h4>{{hierarchy.title}}</h4>
                <p class="truncate">{{hierarchy.nMeasures}} measures</p>
            </a>
        </li>
    </ul>
</div>

<div class="container" ng-if="edit.model && edit.model.hierarchy">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
    </form>

    <p class="text-muted" ng-if="duplicate">
        Source submission: <i>{{duplicate.title}}</i>
    </p>

    <p class="text-muted">
        Target submission: <i>{{edit.model.hierarchy.title}}</i>
    </p>

</div>

<div ng-if="!edit.model" class="container">
    <!-- Don't wrap the contents of this tag! -->
    <p ng-if="assessment.hierarchy.description"
            class="formatted">{{assessment.hierarchy.description}}</p>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: assessment.approval == 'draft'}"
                    ng-click="setState('draft')">
                Draft
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: assessment.approval == 'final'}"
                    ng-click="setState('final')">
                Final
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: assessment.approval == 'reviewed'}"
                    ng-click="setState('reviewed')">
                Reviewed
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: assessment.approval == 'approved'}"
                    ng-click="setState('approved')">
                Approved
            </button>
        </div>
    </div>
</div>

<div class="container"
    ng-controller="QnodeChildren" ng-include="'qnode_children.html'"
    ng-if="!edit.model"></div>
