<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
    </div>
    <h2 page-title>
        Comparison Report
    </h2>
</div>
</div>

<div class="subheader bg-muted">

<div>
<div class="container text-center text-muted assessment-header"
         title="Switch to a different survey">
    <div title="Program">
        <a ng-href="#/survey/{{survey1.id}}"
                class="stealth btn btn-link">
            {{survey1.title}}</a>
    </div>
    <div>
        <button class="btn-round btn btn-default"
                ng-click="toggleDropdown(1)">
            <i class="fa fa-caret-up"
                ng-if="chooser == 1"></i>
            <i class="fa fa-caret-down"
                ng-if="chooser != 1"></i>
        </button>
    </div>

    <div title="Program" ng-if="survey2">
        <a ng-href="#/survey/{{survey2.id}}"
                class="stealth btn btn-link">
            {{survey2.title}}</a>
    </div>
    <div>
        <button class="btn-round btn btn-default"
                ng-click="toggleDropdown(2)">
            <i class="fa fa-caret-up"
                ng-if="chooser == 2"></i>
            <i class="fa fa-caret-down"
                ng-if="chooser != 2"></i>
        </button>
    </div>
</div>
</div>

<div class="atop" ng-if="chooser == 1"
        assessment-select="assessment1"
        track survey="assessment1.survey"
        org="org1"
        format-url="getAssessmentUrl1"
        disallow-none="assessment2 == null"></div>

<div class="atop" ng-if="chooser == 2"
        assessment-select="assessment2"
        track survey="assessment1.survey"
        org="org2"
        format-url="getAssessmentUrl2"
        disallow-none="assessment1 == null"></div>

</div>

<div class="container">
    <ul class="cardlist">
        <li ng-repeat="item in diff.diff">
            <h2>
                <span semantic-diff
                    left-obj="item[0].title || ''"
                    right-obj="item[1].title || ''"></span>
            </h2>
            <p class="clearfix">
                <span class="only-new pull-right"
                    ng-if="item[1].path"
                    semantic-diff
                    left-obj="item[0].path || ''"
                    right-obj="item[1].path || ''"></span>
                <span class="pull-right"
                    ng-if="!item[1].path">Deleted</span>

                <span class="only-old pull-left"
                    ng-if="item[0].path"
                    semantic-diff
                    left-obj="item[0].path || ''"
                    right-obj="item[1].path || ''"></span>
                <span class="pull-left"
                    ng-if="!item[0].path">New</span>
            </p>

            <p ng-if="item[0].description || item[1].description">
                <span class="text-muted">Description:</span>
                <span semantic-diff
                    left-obj="item[0].description || ''"
                    right-obj="item[1].description || ''"></span>
            </p>
            <p ng-if="item[0].weight != null || item[1].weight != null">
                <span class="text-muted">Weight:</span>
                <span>
                    <del>{{item[0].weight}}</del><ins>{{item[1].weight}}</ins>
                </span>
            </p>
            <p ng-if="item[0].intent || item[1].intent">
                <span class="text-muted">Intent:</span>
                <span semantic-diff
                    left-obj="item[0].intent || ''"
                    right-obj="item[1].intent || ''"></span>
            </p>
            <p ng-if="item[0].inputs || item[1].inputs">
                <span class="text-muted">Inputs:</span>
                <span semantic-diff
                    left-obj="item[0].inputs || ''"
                    right-obj="item[1].inputs || ''"></span>
            </p>
            <p ng-if="item[0].scenario || item[1].scenario">
                <span class="text-muted">Scenario:</span>
                <span semantic-diff
                    left-obj="item[0].scenario || ''"
                    right-obj="item[1].scenario || ''"></span>
            </p>
            <p ng-if="item[0].questions || item[1].questions">
                <span class="text-muted">Questions:</span>
                <span semantic-diff
                    left-obj="item[0].questions || ''"
                    right-obj="item[1].questions || ''"></span>
            </p>
        </li>
    </ul>
</div>
