<div class="header">
<div class="container">
    <h2 page-title>
        Survey Comparison Report
    </h2>
</div>
</div>

<div class="container">
    <ul class="cardlist">
        <li ng-repeat="item in diff.diff">
            <h3>
                <span semantic-diff
                    left-obj="item.pair[0].title || ''"
                    right-obj="item.pair[1].title || ''"></span>
            </h3>
            <p>
                <span class="label"
                    ng-repeat="tag in item.tags"
                    ng-class="'label-' + tag.toLowerCase().replace(' ', '-')"
                    >{{tag}}</span>
            </p>
            <p class="clearfix">
                <a class="only-new pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], survey2)}}"
                    title="View in second survey"
                    ng-if="item.pair[1].path"
                    path-diff
                    left-obj="item.pair[0].path || ''"
                    right-obj="item.pair[1].path || ''"></a>
                <span class="pull-right text-muted"
                    ng-if="item.type != 'survey' && item.type != 'hierarchy' &&
                           !item.pair[1].path">-</span>
                <a class="pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], survey2)}}"
                    ng-if="item.type == 'survey'">New program</a>
                <a class="pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], survey2)}}"
                    ng-if="item.type == 'hierarchy'">New survey</a>

                <a class="only-old pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], survey1)}}"
                    title="View in first survey"
                    ng-if="item.pair[0].path"
                    path-diff
                    left-obj="item.pair[0].path || ''"
                    right-obj="item.pair[1].path || ''"></a>
                <span class="pull-left text-muted"
                    ng-if="item.type != 'survey' && item.type != 'hierarchy' &&
                           !item.pair[0].path">-</span>
                <a class="pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], survey1)}}"
                    ng-if="item.type == 'survey'">Old program</a>
                <a class="pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], survey1)}}"
                    ng-if="item.type == 'hierarchy'">Old survey</a>
            </p>

            <p ng-if="item.pair[0].description || item.pair[1].description">
                <span class="text-muted">Description:</span>
                <span semantic-diff
                    left-obj="item.pair[0].description || ''"
                    right-obj="item.pair[1].description || ''"></span>
            </p>
            <p ng-if="item.pair[0].weight != null || item.pair[1].weight != null">
                <span class="text-muted">Weight:</span>
                <span>
                    <del>{{item.pair[0].weight}}</del><ins>{{item.pair[1].weight}}</ins>
                </span>
            </p>
            <p ng-if="item.pair[0].intent || item.pair[1].intent">
                <span class="text-muted">Intent:</span>
                <span semantic-diff
                    left-obj="item.pair[0].intent || ''"
                    right-obj="item.pair[1].intent || ''"></span>
            </p>
            <p ng-if="item.pair[0].inputs || item.pair[1].inputs">
                <span class="text-muted">Inputs:</span>
                <span semantic-diff
                    left-obj="item.pair[0].inputs || ''"
                    right-obj="item.pair[1].inputs || ''"></span>
            </p>
            <p ng-if="item.pair[0].scenario || item.pair[1].scenario">
                <span class="text-muted">Scenario:</span>
                <span semantic-diff
                    left-obj="item.pair[0].scenario || ''"
                    right-obj="item.pair[1].scenario || ''"></span>
            </p>
            <p ng-if="item.pair[0].questions || item.pair[1].questions">
                <span class="text-muted">Questions:</span>
                <span semantic-diff
                    left-obj="item.pair[0].questions || ''"
                    right-obj="item.pair[1].questions || ''"></span>
            </p>
        </li>
    </ul>
</div>
