<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Print"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
    </div>
    <h2 page-title>
        Survey Comparison Report
    </h2>
</div>
</div>

<div class="container text-center">
    <span class="visible-print-inline">Showing: </span>
    <a class="label"
            ng-repeat="tag in tags"
            ng-class="['label-' + tag.toLowerCase().replace(' ', '-'),
                       tagEnabled(tag) ? null : 'label-disabled']"
            ng-click="toggleTag(tag)">
        {{tag}}
    </a>
</div>

<div class="container">
    <p class="spaced text-center">
        <span ng-if="update.promise">
            Pending.
        </span>
        <span ng-if="!update.promise && !diff.$resolved">
            Generating report.
            <span ng-if="longRunning">
                This may take some time...
            </span>
        </span>
    </p>
    <ul class="cardlist diff">
        <li ng-repeat="item in diff.diff">
            <h3>
                <span semantic-diff
                    left-obj="item.pair[0].title || ''"
                    right-obj="item.pair[1].title || ''"></span>
            </h3>
            <p>
                <span class="label"
                    ng-repeat="tag in item.tags"
                    ng-class="'label-' + tag.toLowerCase().replace(' ', '-')"
                    >{{tag}}</span>
            </p>
            <p class="clearfix">
                <a class="only-new pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], program2)}}"
                    title="View in second program"
                    ng-if="item.pair[1].path"
                    path-diff
                    left-obj="item.pair[0].path || ''"
                    right-obj="item.pair[1].path || ''"></a>
                <span class="pull-right text-muted"
                    ng-if="item.type != 'program' && item.type != 'hierarchy' &&
                           !item.pair[1].path">-</span>
                <a class="pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], program2)}}"
                    ng-if="item.type == 'program'">New program</a>
                <a class="pull-right"
                    ng-href="#{{getItemUrl(item, item.pair[1], program2)}}"
                    ng-if="item.type == 'hierarchy'">New survey</a>

                <a class="only-old pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], program1)}}"
                    title="View in first program"
                    ng-if="item.pair[0].path"
                    path-diff
                    left-obj="item.pair[0].path || ''"
                    right-obj="item.pair[1].path || ''"></a>
                <span class="pull-left text-muted"
                    ng-if="item.type != 'program' && item.type != 'hierarchy' &&
                           !item.pair[0].path">-</span>
                <a class="pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], program1)}}"
                    ng-if="item.type == 'program'">Old program</a>
                <a class="pull-left"
                    ng-href="#{{getItemUrl(item, item.pair[0], program1)}}"
                    ng-if="item.type == 'hierarchy'">Old survey</a>
            </p>

            <p ng-if="item.pair[0].description || item.pair[1].description">
                <span class="text-muted">Description:</span>
                <span semantic-diff
                    left-obj="item.pair[0].description || ''"
                    right-obj="item.pair[1].description || ''"></span>
            </p>
            <p ng-if="item.pair[0].weight != null || item.pair[1].weight != null">
                <span class="text-muted">Weight:</span>
                <span>
                    <del>{{item.pair[0].weight}}</del><ins>{{item.pair[1].weight}}</ins>
                </span>
            </p>
        </li>
    </ul>
</div>
