<div>

<div class="header">
<div class="container">
    <h2>
        <a ng-href="#/survey/{{survey.id}}">{{survey.title}}</a> &raquo;
        <span ng-show="func.title">{{func.title}}</span>
        <span ng-show="!func.title">New function</span>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('func_edit')">
            <i class="fa fa-pencil"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
    </h2>
</div>
</div>

<div class="measure" ng-if="edit.model">
<div class="container">
    <editor-error class="measure" edit="edit"></editor-error>
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description</label>
            <span class="help-label" ng-if="form.desc.$error.required">
                Please provide a description.</span>
            <input type="text" class="form-control" id="desc" name="desc"
                ng-model="edit.model.description" required />
        </div>
    </form>
</div>
</div>

<div class="measure" ng-if="!edit.model">
<div class="container">
    <h2>
        Processes
        <a class="btn btn-default btn-round" title="Add new"
                ng-href="#/process/new?branch={{func.branch}}"
                ng-if="checkRole('proc_add')">
            <i class="fa fa-fw fa-plus"></i></a>
    </h2>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="proc in procs"
                    any-href='/proc/{{proc.id}}'">
                <td>{{proc.seq + 1}}</td>
                <td>{{proc.title}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

</div>
