<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="!edit.model && checkRole('hierachy_del')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('hierachy_edit')">
            <i class="fa fa-pencil"></i></button>
    </div>
    <question-header entity="hierarchy" type="question set"></question-header>
</div>
</div>

<div class="measure" ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <textarea id="desc" name="desc" class="form-control"
                ng-model="edit.model.description"></textarea>
        </div>

        <div class="section">
            <div class="toolbar">
                <a class="btn btn-default btn-round" title="Add new"
                        ng-click="addLevel(edit.model)">
                    <i class="fa fa-fw fa-plus"></i></a>
            </div>
            <h2>Hierarchy</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="shrink">Short label</th>
                    <th class="shrink">Has measures</th>
                    <th class="shrink"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="level in edit.model.structure.levels"
                        class="form-row">
                    <td class="form-group" show-errors>
                        <label for="ltitle{{$index}}" class="sr-only">
                            Name</label>
                        <input type="text" class="form-control"
                            id="ltitle{{$index}}" name="ltitle{{$index}}"
                            ng-model="level.title" required />
                    </td>
                    <td class="shrink form-group" show-errors>
                        <label for="llabel{{$index}}" class="sr-only">
                            Short label</label>
                        <input type="text" class="form-control"
                            id="llabel{{$index}}" name="llabel{{$index}}"
                            ng-model="level.label" required maxlength="2" />
                    </td>
                    <td class="shrink">
                        <div class="btn-group">
                            <button title="Can not have measures as children"
                                    class="btn btn-default"
                                    ng-class="{active: !level.hasMeasures}"
                                    ng-click="level.hasMeasures = false">
                                No
                            </button>
                            <button title="Has measures as direct children"
                                    class="btn btn-default"
                                    ng-class="{active: level.hasMeasures}"
                                    ng-click="level.hasMeasures = true">
                                Yes
                            </button>
                        </div>
                    </td>
                    <td class="shrink">
                        <button class="btn btn-default btn-round" title="Remove"
                                ng-click="removeLevel(edit.model, level)"
                                ng-style="{visibility: $index < 1 ? 'hidden' : null}">
                            <i class="fa fa-fw fa-trash-o"></i></button>
                    </td>
                </tr>
                <tr class="form-row">
                    <td class="form-group" show-errors>
                        <label for="mtitle" class="sr-only">
                            Name</label>
                        <input type="text" class="form-control"
                            id="mtitle" name="mtitle"
                            ng-model="edit.model.structure.measure.title"
                            required />
                    </td>
                    <td class="shrink form-group" show-errors>
                        <label for="mlabel" class="sr-only">
                            Short label</label>
                        <input type="text" class="form-control"
                            id="mlabel" name="mlabel"
                            ng-model="edit.model.structure.measure.label"
                            required maxlength="2" />
                    </td>
                    <td class="shrink text-muted">
                        <span>Measure</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="help-label">
            <p>
                <i class="fa fa-info fa-2x fa-pull-left fa-fw fa-border"></i>
                These levels define the category types in the survey. Users can
                refer to categories by the name of the level. For example, if
                there is a level called "Functions", a user might refer to a
                category as "Function 2".
                The short label is displayed in a
                bubble next to the header. It should be no longer than two
                characters.
            </p>
            <p>
                Some categories can contain measures. Typically, only the
                deepest level of a hierarchy should containe measures.
            </p>
        </div>
    </form>
</div>
</div>

<div class="measure" ng-if="!edit.model">
<div class="container">
    <p ng-if="hierarchy.description">{{hierarchy.description}}</p>
    <p>
        <span class="text-muted">Structure:</span>
        <span ng-repeat="level in hierarchy.structure.levels">
            <span class="text-muted" ng-if="$index > 0">&raquo;</span>
            {{level.title}}
        </span>
        <span>
            <span class="text-muted">&raquo;</span>
            {{hierarchy.structure.measure.title}}
        </span>
    </p>
</div>
</div>

<reorderable href="/qnode/{}?survey={{survey.id}}&hierarchy={{hierarchy.id}}"
        model="qnodes" check-role="checkRole"
        title="{{hierarchy.structure.levels[0].title}}"
        params="{surveyId: survey.id, hierachyId: hierachy.id}"
        resource="Hierarchy" ng-if="!edit.model"></reorderable>

</div>
