<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <survey-history entity="hierarchy" service="Hierarchy"
                ng-if="!edit.model"></survey-history>
    </div>
    <question-header entity="hierarchy"></question-header>
</div>
</div>

<div class="subheader bg-warning text-warning"
        ng-if="hierarchy.deleted">
    <div class="container">
        <i class="fa fa-trash"></i>
        This survey has been deleted.
    </div>
</div>

<div class="subheader bg-warning text-warning"
        ng-if="!hierarchy.deleted && survey.deleted">
    <div class="container">
        <i class="fa fa-trash"></i>
        <a ng-href="#/survey/{{survey.id}}">
            This survey's program</a>
        has been deleted.
    </div>
</div>

<div class="container" ng-if="structure.hierarchy.description">
    <p>{{structure.hierarchy.description}}</p>
</div>


<div assessment-select
        survey="structure.survey"
        hierarchy="structure.hierarchy"
        org="org"></div>
