<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
    </div>
    <h2>Timeline</h2>
</div>
</div>

<div class="container">
    <ul class="list-results">
        <li ng-repeat="action in activity.actions">
            <a ng-href="#{{url(action)}}" title="Open this {{obType(action)}}">
                {{action.subject.name}}
                <span class="text-muted">
                    {{verbs(action)}} the {{obType(action)}}
                </span>
                {{action.objectDesc}}
                <p>{{action.created * 1000 | timeAgo:'medium'}}</p>
            </a>
        </li>
    </ul>
    <p ng-if="!activity.actions.length">
        There are no events for this time period.
        Perhaps you'd like to <a href="#/surveys">browse the programs</a>?
    </p>
</div>
