<!DOCTYPE html>
<html lang="en" ng-app="wsaa.aquamark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for s in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{s}}">
    {% end %}

</head>

<body ng-controller="RootCtrl">

<header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="col-md-3 nav navbar-nav">
                <a href="#/" class="navbar-brand">
                    {% include images/logo.svg %}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-href="#/user/{{user.id}}">
                        {{user.name}}
                        {% if organisation is not None %}
                        of {{organisation.name}}
                        {% end %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="page-content">
    <div ng-view autoscroll="true"></div>
</div>

{% for s in scripts %}
<script src="{{s}}"></script>
{% end %}

{% include settings.html %}

{% include analytics.html %}

</body>
</html>
