<div class="legal">

<div class="header">
<div class="container">
    <h2 page-title>Acknowledgements</h2>
</div>
</div>

<div>
<div class="container">

    <p>
        <span ng-if="aqVersion">This is version {{aqVersion}}</span>
        <span ng-if="!aqVersion">This is a development version</span>
        of the Asset Management Customer Value (AMCV) web app, created by
        <a href="http://vpac-innovations.com.au/"
            title="VPAC Innovations home page">VPAC Innovations</a>
        for the
        <a href="https://www.wsaa.asn.au" title="WSAA home page">
            Water Services Associaton of Australia</a> (WSAA).
    </p>

    <p>
        This web app's code and styling is copyright © 2015-2016 Water Services
        Associate of Australia. User-entered data such as survey and submission
        content are potentially under different copyright.
    </p>

    <h3>Libraries and Code Fragments Used by the GUI</h3>

    <ul class="software-list list-unstyled">
        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="http://angularjs.org/">
                AngularJS</a>,
            for templating, dynamics and general presentation
            <span class="attribution">Copyright (c) 2010-2014 Google, Inc. http://angularjs.org</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="http://jquery.com/">
                jQuery</a>,
            for dynamic HTML and HTTP data transforms
            <span class="attribution">Copyright 2005, 2014 jQuery Foundation and other contributors, https://jquery.org/</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="http://angular-ui.github.io/bootstrap/">
                UI Bootstrap</a>,
            for some controls like the search box
            <span class="attribution">Copyright (c) 2012-2014 the AngularUI Team, https://github.com/organizations/angular-ui/teams/291112</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="http://getbootstrap.com/">
                Bootstrap</a>,
            for the basic style
            <span class="attribution">Copyright (c) 2011-2014 Twitter, Inc</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT, OFL</span>
            <a href="http://fortawesome.github.io/Font-Awesome">
                Font Awesome</a>,
            for icons
            <span class="attribution">Font Awesome by Dave Gandy - http://fontawesome.io</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="http://angularjs.org/">
                Angular Hotkeys</a>,
            for binding keyboard events to the controls
            <span class="attribution">Copyright (c) 2014 Wes Cruver. https://github.com/chieffancypants/angular-hotkeys</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/TheSharpieOne/angular-validation-match">
                Angular Validation Match</a>,
            for password checking
            <span class="attribution">Copyright (c) 2014 CSC - IT Center for Science https://github.com/TheSharpieOne/angular-validation-match</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/paulyoder/angular-bootstrap-show-errors">
                Angular Bootstrap Show Errors</a>,
            for form validation
            <span class="attribution">Copyright (c) 2013-2014 Paul Yoder https://github.com/paulyoder/angular-bootstrap-show-errors</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/enyo/dropzone">
                Dropzone</a>,
            for file uploading
            <span class="attribution">Copyright (c) 2012 Matias Meno &lt;m@tias.me&gt; https://github.com/enyo/dropzone</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/furf/jquery-ui-touch-punch">
                jQuery UI Touch Punch</a>,
            for making touch events behave like mouse clicks
            <span class="attribution">Copyright 2011–2014, Dave Furfero https://github.com/furf/jquery-ui-touch-punch</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/silentmatt/js-expression-eval">
                JavaScript Expression Evaluator</a>,
            for safe evaluation of mathematical expressions
            <span class="attribution">Copyright (c) 2015 Matthew Crumley https://github.com/silentmatt/js-expression-eval</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/eddywashere/angular-select-text">
                angular-select-text</a>,
            for selecting text when a user clicks on something
            <span class="attribution">Copyright (c) 2014 Eddy Hernandez &lt;yaru22@gmail.com&gt; https://github.com/eddywashere/angular-select-text</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/mbostock/d3">
                d3</a>,
            for drawing charts
            <span class="attribution">Copyright (c) 2010-2015, Michael Bostock https://github.com/mbostock/d3</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/bevacqua/megamark">
                megamark</a>,
            for converting markdown to HTML
            <span class="attribution">Copyright © 2015 Nicolas Bevacqua https://github.com/bevacqua/megamark</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/bevacqua/domador">
                domador</a>,
            for converting HTML to markdown
            <span class="attribution">Copyright © 2015 Nicolas Bevacqua https://github.com/bevacqua/domador</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/thijsw/angular-medium-editor">
                angular-medium-editor</a>,
            for rich text editing
            <span class="attribution">Copyright © Thijs Wijnmaalen et al. https://github.com/thijsw/angular-medium-editor</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/amweiss/angular-diff-match-patch">
                angular-diff-match-patch</a>,
            for displaying changes in text
            <span class="attribution">Copyright (c) 2014 Adam Weiss https://github.com/amweiss/angular-diff-match-patch</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/friedolinfoerder/google-diff-match-patch">
                Diff Match and Patch</a>,
            for displaying changes in text
            <span class="attribution">Copyright 2006 Google Inc. http://code.google.com/p/google-diff-match-patch/</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/carlos-algms/FileSaver.js">
                FileSaver.js</a>,
            for saving arbitrary data as files to the user's computer (with
            permission)
            <span class="attribution">Copyright © 2015 Carlos A. Gomes. https://github.com/carlos-algms/FileSaver.js</span>
        </li>

        <li>
            <span class="label label-default pull-right">MIT</span>
            <a href="https://github.com/msieurtoph/angular-checkboxes">
                angular-checkboxes</a>,
            for checkbox-based multi-select
            <span class="attribution">Copyright (c) 2015 M'sieur Toph'</span>
        </li>

    </ul>

    <h3>Notable Server-side Programs</h3>

    <ul class="software-list list-unstyled">
        <li>
            <a href="http://www.tornadoweb.org/">
                Tornado</a>,
            for servicing web requests
        </li>

        <li>
            <a href="http://www.postgresql.org/">
                PostgreSQL</a>,
            for relational data storage
        </li>

        <li>
            <a href="http://www.sqlalchemy.org/">
                SQLAlchemy</a>,
            for database access
        </li>

        <li>
            <a href="https://www.python.org/">
                Python</a>
            for lightweight web services
        </li>

        <li>
            <a href="https://github.com/danthedeckie/simpleeval">
                Simple Eval</a>
            for safe evaluation of mathematical expressions
        </li>

        <li>
            <a href="http://www.python-excel.org/">
                xlrd and xlsxwriter</a>,
            for writing Excel files
        </li>
    </ul>

    <h3>External Services</h3>

    <ul class="software-list list-unstyled">
        <li>
            <span class="label label-default pull-right">ODbL</span>
            <a href="http://wiki.openstreetmap.org/wiki/Nominatim">
                OSM Nominatim</a>,
            for looking up addresses
            <span class="attribution">Data © OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright</span>
        </li>
    </ul>

</div>
</div>

</div>
