<!DOCTYPE html>
<html lang="en" ng-app="wsaa.aquamark">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% for s in stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{s}}">
        {% end %}
    </head>
    <body ng-controller="RootCtrl">

<div class="measure">

    <div class="brand">
    {% include images/logo.svg %}
    </div>

    <div class="jumbotron">
    <form class="form-signin" action="/login/" method="POST">
        {% module xsrf_form_html() %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control"
            placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
            placeholder="Password" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-default btn-lg btn-block" type="submit">
            Sign in
        </button>
    </form>
    </div>

    {% if error %}
    <div class="subheader bg-danger text-danger">
        <div class="text-center container">
            <i class="fa fa-warning"></i>
            {{error}}
        </div>
    </div>
    {% end %}

</div>

    </body>
</html>
