<!DOCTYPE html>
<html lang="en" ng-app="wsaa.aquamark">
<head>
<title>AMCV - Log In</title>
{% include page-style.html %}
</head>
<body ng-controller="RootCtrl">

<div>

    <div class="brand">
    {% include images/logo.min.svg %}
    <h1>Asset Management Customer Value</h1>
    </div>

    <div class="jumbotron">
    <form class="form-signin" action="/login" method="POST">
        {% module xsrf_form_html() %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control"
            placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
            placeholder="Password" name="password" required>
        <input type="hidden" name="next" value="{{next}}">
        <button class="btn btn-default btn-lg btn-block" type="submit">
            Sign in
        </button>
        <input type="hidden" id="next" name="next" value="#/">
        <script>
            document.getElementById('next').value = window.location.hash;
        </script>
    </form>
    </div>

    {% if error %}
    <div class="subheader bg-danger text-danger">
        <div class="text-center container">
            <i class="fa fa-warning"></i>
            {{error}}
        </div>
    </div>
    {% end %}

</div>

</body>
</html>
