<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('proc_edit')">
            <i class="fa fa-pencil"></i></button>
    </div>
    <question-header entity="measure"></question-header>
</div>
</div>

<div class="measure" ng-if="edit.model">
<div class="container">
    <editor-error class="measure" edit="edit"></editor-error>
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="title">Weight</label>
            <span class="help-label" ng-if="form.weight.$error.required">
                Please provide a weight.</span>
            <span class="help-label" ng-if="form.weight.$error.min">
                Negative numbers are not allowed</span>
            <input type="number" class="form-control" id="weight" name="weight"
                ng-model="edit.model.weight" min="0" required />
        </div>
        <div class="form-group" show-errors>
            <label for="intent">Intent</label>
            <textarea id="intent" name="intent" class="form-control"
                ng-model="edit.model.intent"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="inputs">Inputs</label>
            <textarea id="inputs" name="inputs" class="form-control"
                ng-model="edit.model.inputs"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="scenario">Scenario</label>
            <textarea id="scenario" name="scenario" class="form-control"
                ng-model="edit.model.scenario"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="questions">Questions</label>
            <textarea id="questions" name="questions" class="form-control"
                ng-model="edit.model.questions"></textarea>
        </div>
    </form>
</div>
</div>

<div class="measure" ng-if="!edit.model">
<div class="container">
    <p ng-if="measure.intent">
        <span class="text-muted">Intent</span>
        {{measure.intent}}</p>
    <p ng-if="measure.inputs">
        <span class="text-muted">Inputs</span>
        {{measure.inputs}}</p>
    <p ng-if="measure.scenario">
        <span class="text-muted">Scenario</span>
        {{measure.scenario}}</p>
    <p ng-if="measure.questions">
        <span class="text-muted">Questions</span>
        {{measure.questions}}</p>
</div>
</div>

</div>
