<div class="header"
    ng-class="{'deleted': structure.deletedItem}">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round"
                title="Unlink from parent"
                ng-click="edit.del()"
                ng-if="parent && editable && !edit.model && checkRole('measure_del')">
            <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="editable && !edit.model">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/1/subscription/measure?id={{measure.id}}&id={{program.id}}"
                ng-if="!edit.model && !submission">
            <i class="fa fa-envelope"></i></a>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/1/subscription/response?id={{measure.id}}&id={{submission.id}}"
                ng-if="!edit.model && submission">
            <i class="fa fa-envelope"></i></a>
        <program-history entity="measure" service="Measure"
                ng-if="!submission && !edit.model"></program-history>
    </div>
    <question-header entity="measure" submission="submission"></question-header>
</div>
</div>

<submission-header></submission-header>

<div ng-if="edit.model" class="container">
  <form novalidate name="form" id="editor" form-nav-warn class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3>Measure Details</h3>
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="title">Weight</label>
            <span class="help-label" ng-if="form.weight.$error.required">
                Please provide a weight.</span>
            <span class="help-label" ng-if="form.weight.$error.min">
                Negative numbers are not allowed</span>
            <input type="number" class="form-control" id="weight" name="weight"
                ng-model="edit.model.weight" min="0" step="any" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <markdown-editor id="description"
                ng-model="edit.model.description"
                title="Description"></markdown-editor>
        </div>
      </div> <!-- .col- -->

      <div class="col-md-6">
        <h3>Response Type</h3>
        <div response-type-editor="rt.definition" weight="edit.model.weight"
                is-bound="rt.definition.id == measure.responseTypeId"></div>

        <h3 ng-if="rt.responseType">Variable Bindings</h3>
        <div ng-if="rt.responseType">
            <p ng-if="!rt.responseType.unboundVars.length" class="text-muted">
                This response type requires no external bindings.
            </p>
            <p ng-if="rt.responseType.unboundVars.length" class="text-muted">
                This response type has free variables that must be sourced from
                other measures:
            </p>
            <ul class="list-unstyled">
                <li ng-repeat="mv in edit.model.sourceVars"
                        class="input-group"
                        ng-class="{
                            'binding-warning': mv.unused
                        }">
                    <label for="source-measure-{{$index}}"
                            class="input-group-addon">
                        {{mv.targetField}}
                        <i class="fa" ng-class="mv.unused ?
                            'fa-exclamation' :
                            'fa-long-arrow-left'"></i>
                    </label>
                    <input type="text" class="form-control"
                        id="source-measure-{{$index}}"
                        name="source-measure-{{$index}}"
                        ng-model="mv.sourceMeasure"
                        uib-typeahead="m as m.title for m in searchMeasuresToBind($viewValue)"
                        typeahead-on-select="measureBound($item, $model)"
                        autocomplete="off"
                        title="Source measure: {{mv.sourceMeasure.title}}"
                        placeholder="Source measure">
                    <label for="source-field-{{$index}}"
                            class="input-group-addon">
                        •
                    </label>
                    <input type="text" class="form-control"
                        id="source-field-{{$index}}"
                        name="source-field-{{$index}}"
                        ng-model="mv.sourceField"
                        placeholder="Source variable">
                    <a ng-href="{{
                                mv.sourceMeasure ?
                                '#/1/measure/' + mv.sourceMeasure.id +
                                '?program=' + structure.program.id +
                                '&survey=' + structure.survey.id'" : ''}}
                            ng-disabled="!mv.sourceMeasure"
                            class="btn btn-default input-group-addon">
                        <i class="fa fa-link"></i>
                    </a>
                </li>
            </ul>
        </div>
      </div> <!-- .col- -->
    </div> <!-- .row -->
  </form> <!-- .container-fluid -->
</div>

<docs ng-if="structure.deletedItem">
    <i class="fa-li fa fa-trash fa-border"></i>
    <h3>Deleted</h3>
    <p>
        This measure, or one of its parents, has been deleted. It is still
        accessible for archival reasons, but it will not be included in
        survey score calculations.
    </p>
</docs>

<div ng-if="!edit.model" class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Description</h2>
                <div ng-bind-html="measure.description | markdown"></div>
                <p class="text-muted" ng-if="!measure.description">
                    No description.
                </p>
            </div>

            <div class="col-md-6" ng-if="!submission">
                <h2>Response</h2>
                <p class="text-muted">
                    The response form will be displayed here when filling out a
                    submission.
                </p>
            </div>

            <div class="col-md-6" ng-if="submission">
                <response type="responseType" model="response" weight="measure.weight"
                        readonly="!!structure.deletedItem"
                        has-quality="structure.program.hasQuality"
                        externs="{}">
                    <span ng-controller="ResponseHistory" uib-dropdown
                            on-toggle="toggled(open)" dropdown-append-to-body>
                        <button class="btn btn-default btn-round" title="History"
                                uib-dropdown-toggle>
                            <i class="fa fa-history"></i></button>

                        <ul uib-dropdown-menu class="dropdown-menu-right">
                            <li class="dropdown-header">
                                <div>
                                <div class="toolbar">
                                    <span class="btn-group">
                                        <button class="btn btn-default" title="Newer"
                                                ng-click="nextPage($event)">
                                            <i class="fa fa-caret-left"></i></button>
                                        <button class="btn btn-default" title="Older"
                                                ng-click="prevPage($event)">
                                            <i class="fa fa-caret-right"></i></button>
                                    </span>
                                </div>
                                Versions
                                </div>
                            </li>
                            <li ng-repeat="version in versions"
                                    ng-class="{active: isActive(version)}">
                                <a href ng-click="navigate(version)">
                                    <span class="field field-2">
                                        {{version.version}}
                                    </span>
                                    <span class="field field-4">
                                        {{version.approval}}
                                    </span>
                                    <span class="field field-8">
                                        {{version.user.name}}
                                    </span>
                                    <span>
                                        {{version.modified * 1000 | timeAgo:'medium'}}
                                    </span>
                                </a>
                            </li>
                            <li ng-if="!versions.length && !loading" class="dropdown-header">
                                No versions.</li>
                            <li ng-if="loading" class="dropdown-header">
                                Loading...</li>
                        </ul>
                    </span>

                    <button class="btn btn-round btn-on-danger"
                            title="Not relevant"
                            ng-click="toggleNotRelvant()"
                            ng-class="{active: response.notRelevant}">
                        <i class="fa fa-ban fa-fw"></i></button>
                    <docs ng-if="response.notRelevant" class="printable">
                        <i class="fa-li fa fa-ban fa-border"></i>
                        <p>
                            This response is marked as not relevant. It does not
                            contribute to the submission's score.
                        </p>
                    </docs>

                    <button class="btn btn-default btn-round"
                            title="Reset"
                            ng-click="resetResponse()"
                            ng-if="!structure.deletedItem">
                        <i class="fa fa-times fa-fw"></i></button>

                    <button class="btn btn-round"
                            title="Save response"
                            ng-click="saveResponse()"
                            ng-class="response.$dirty ?
                                      'btn-primary btn-alert' :
                                      'btn-default'"
                            ng-if="!structure.deletedItem">
                        <i class="fa fa-check fa-fw"></i></button>
                </response>

                <div class="part">
                    <label>Approval</label>
                    <approval-buttons model="response.approval"
                            ng-if="!structure.deletedItem"
                            set-state="setState(state)"></approval-buttons>
                </div>

                <div ng-class="structure.deletedItem ? null : 'visible-print-block'">
                    Response status: {{response.approval}}
                </div>

                <div>
                    <p ng-if="response.user.name" class="spaced text-center text-muted">
                        <i class="fa fa-history"></i>
                        Version {{response.version}} submitted by
                        <a ng-href="#/1/user/{{response.user.id}}">
                            {{response.user.name}}</a>,
                        <span class="hidden-print">
                            {{response.modified * 1000 | timeAgo:'medium'}}.
                        </span>
                        <span class="visible-print-inline">
                            {{response.modified * 1000 | date:'medium'}}.
                        </span>
                        <span ng-if="response.$dirty" class="visible-print-inline">
                            Some modifications have not been saved.
                        </span>
                    </p>
                    <p ng-if="!response.user.name" class="spaced text-center">
                        <i class="fa fa-history"></i>
                        Response not submitted yet.
                    </p>
                </div>

                <docs>
                    <i class="fa-li fa fa-chevron-right fa-border"></i>
                    <h3>Approval</h3>
                    <p>
                        Responses progress through approval
                        states
                        <em class="text-bar1">draft</em> &raquo;
                        <em class="text-bar2">final</em> &raquo;
                        <em class="text-bar3">reviewed</em> &raquo;
                        <em class="text-bar4">approved</em>.
                        Approval states are resticted to roles as follows:
                    </p>
                    <ul>
                        <li>
                            Clerk: Draft, Final (responses only)
                        </li>
                        <li>
                            Organisation Admin: Draft, Final
                        </li>
                        <li>
                            Consultant: Reviewed
                        </li>
                        <li>
                            Authority: Approved
                        </li>
                    </ul>
                    <p>
                        Increasing the appoval state indicates that the response is
                        ready for the next level of review. It is OK to reduce the
                        approval state if you wish to make a change after it as been
                        reviewed; this will indicate that it needs to be reviewed
                        again.
                    </p>
                    <p>
                        Submissions progress through the same states. When all the
                        responses in a survey are <i>Final</i>, the submission
                        can be marked as <i>Final</i>, and so on.
                    </p>
                    <p>
                        You can't give a response a lesser approval than the submission they
                        belong to. However you can demote the submission, and <em>then</em>
                        demote the response.
                    </p>
                </docs>

                <div ng-controller="ResponseAttachmentCtrl">
                <div class="section">
                    <div class="toolbar" ng-if="!structure.deletedItem">
                        <button class="btn btn-default btn-round"
                                title="Upload"
                                ng-if="!showFileDrop && !externals.length"
                                ng-click="toggleFileDrop()">
                            <i class="fa fa-fw fa-cloud-upload"></i>
                        </button>
                        <button class="btn btn-default btn-round"
                                title="Add external link"
                                ng-if="!showFileDrop && !externals.length"
                                ng-click="addExternal()">
                            <i class="fa fa-fw fa-link">
                                <i class="fa fa-badge fa-plus"></i></i>
                        </button>
                        <button class="btn btn-default btn-round"
                            title="Cancel"
                            ng-if="showFileDrop || externals.length"
                            ng-click="cancelNewAttachments()">
                            <i class="fa fa-times fa-fw"></i></button>
                        <button class="btn btn-default btn-round"
                            title="Save response"
                            ng-if="showFileDrop || externals.length"
                            ng-click="saveResponse()">
                            <i class="fa fa-check fa-fw"></i></button>

                    </div>
                    <h3>Attachments</h3>
                </div>
                <ul class="list-results fa-ul">
                    <li ng-repeat="attachment in attachments">
                        <a ng-href="/attachment/{{attachment.id}}.json" download
                                ng-if="!attachment.url || attachment.storage=='aws'">
                            <button class="btn btn-default btn-round pull-right"
                                    title="Remove"
                                    ng-click="deleteAttachment(attachment);
                                              $event.preventDefault()"
                                    ng-if="!structure.deletedItem">
                                <i class="fa fa-fw fa-trash-o"></i></button>
                            <h4>
                                <i class="fa fa-li fa-cloud-download text-muted"></i>
                                {{attachment.fileName}}
                            </h4>
                            <p>Uploaded file</p>
                        </a>
                        <a ng-href="{{attachment.url}}"
                                ng-if="attachment.url && safeUrl(attachment.url)">
                            <button class="btn btn-default btn-round pull-right"
                                    title="Remove"
                                    ng-click="deleteAttachment(attachment);
                                              $event.preventDefault()"
                                    ng-if="!structure.deletedItem">
                                <i class="fa fa-fw fa-trash-o"></i></button>
                            <h4>
                                <i class="fa fa-li fa-link text-muted"></i>
                                {{attachment.fileName || attachment.url}}
                            </h4>
                            <p>Web link: {{attachment.url}}</p>
                        </a>
                        <a ng-if="attachment.url && !safeUrl(attachment.url)"
                                select-text>
                            <button class="btn btn-default btn-round pull-right"
                                    title="Remove"
                                    ng-click="deleteAttachment(attachment);
                                              $event.preventDefault()"
                                    ng-if="!structure.deletedItem">
                                <i class="fa fa-fw fa-trash-o"></i></button>
                            <h4>
                                <i class="fa fa-li fa-paperclip text-muted"></i>
                                {{attachment.fileName}}
                            </h4>
                            <p>
                                External link:
                                <span select-text-target>{{attachment.url}}</span>
                            </p>
                        </a>
                    </li>
                    <li ng-if="!attachments.length" class="text-muted">
                        No attachments.
                    </li>
                </ul>
                <div class="dropzone dz-nopreview" id="dropzone" ng-show="showFileDrop">
                    <div class="dz-message ">
                        <p><i class="fa fa-cloud-upload fa-5x"></i></p>
                        <p>Drop files here, or click to select one</p>
                    </div>
                    <p class="text-warning">
                        <i class="fa fa-warning"></i>
                        Files that are uploaded <b>cannot</b> be deleted. For highly
                        confidential data, create an external link
                        <i class="fa fa-link"></i> instead.
                    </p>
                </div>
                <ul class="list-unstyled">
                    <li class="input-group" ng-repeat="external in externals">
                        <label class="input-group-addon" for="extname{{$index}}" title="Title">
                            <i class="fa fa-at"></i>
                            <span class="sr-only">Title</span>
                        </label>
                        <input type="text" id="extname{{$index}}"
                                class="form-control btn-default"
                                ng-model="external.fileName"
                                placeholder="Link title">
                        <label class="input-group-addon" for="exturl{{$index}}"
                                title="External link URL">
                            <i class="fa fa-link"></i>
                            <span class="sr-only">External link URL</span>
                        </label>
                        <input type="text" id="exturl{{$index}}"
                                class="form-control btn-default"
                                ng-model="external.url"
                                placeholder="Link URL">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    title="Delete this link"
                                    ng-click="deleteExternal($index)">
                                <i class="fa fa-trash-o"></i></button>
                        </span>
                    </li>
                </ul>
                <p class="text-warning text-center hidden-print"><small>
                    <i class="fa fa-bug"></i>
                    Attachments are not scanned for viruses.
                </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<docs ng-if="!edit.model && parents && checkRole('measure_edit')">
    <i class="fa-li fa fa-sitemap fa-border"></i>
    <h3>Hierarchy</h3>
    A program's measures can be shared between its surveys.
    Respondents can use the following category paths to reach this
    measure:
    <ul ng-if="parents.length">
        <li ng-repeat="parent in parents">
            <a ng-href="#/1/measure/{{measure.id}}?program={{program.id}}&parent={{parent.qnodes[parent.qnodes.length - 1].id}}">
                <span ng-class="{strike: parent.survey.deleted}">
                    {{parent.survey.title}}
                </span>
                <span ng-repeat="item in parent.qnodes"
                        ng-class="{strike: item.deleted}">
                    &raquo;
                    <span ng-if="item.seq != null">
                        {{item.seq + 1}}.</span>
                    {{item.title}}
                </span>
            </a>
        </li>
    </ul>
    <p ng-if="parent">
        This measure can be
        <a ng-href="#/1/measure/{{measure.id}}?program={{program.id}}">
            viewed without a survey</a>,
        but it can not be responded to like that.
    </p>
    <p ng-if="!parents.length">
        This measure is an orphan: it belongs to no categories.
    </p>
</docs>
