<form novalidate name="form" id="editor" form-nav-warn class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Measure Details</h3>
      <div class="input-group" show-errors>
          <label for="title" class="input-group-addon align-md">Name:</label>
          <input type="text" class="form-control" id="title" name="title"
              ng-model="edit.model.title" required />
      </div>
      <div class="input-group" show-errors>
          <label for="weight" class="input-group-addon align-md">Weight:</label>
          <input type="number" class="form-control" id="weight" name="weight"
              ng-model="edit.model.weight" min="0" step="any" required />
      </div>
      <div class="form-group">
          <label for="description" class="sr-only">Description</label>
          <markdown-editor id="description"
              ng-model="edit.model.description"
              placeholder="Description"
              title="Description"></markdown-editor>
      </div>
    </div> <!-- .col- -->

    <div class="col-md-6">
      <div>
          <div class="toolbar toolbar-h3"
                  highlight="rt.showSearch"
                  highlight-dismiss="rt.showSearch = false">
              <button class="btn btn-default btn-round"
                      ng-if="!rt.showSearch"
                      title="Create and use a new response type"
                      ng-click="rt.definition = newResponseType()">
                  <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-default btn-round"
                      ng-if="!rt.showSearch && rt.definition.id"
                      title="Duplicate this response type so that changes to it don't affect other measures"
                      ng-click="rt.definition = cloneResponseType()">
                  <i class="fa fa-clone"></i>
              </button>
              <button class="btn btn-default btn-round"
                      title="Use a response type from another measure"
                      ng-click="rt.showSearch = !rt.showSearch">
                  <i class="fa fa-link" ng-if="!rt.showSearch"></i>
                  <i class="fa fa-times" ng-if="rt.showSearch"></i>
              </button>
          </div>
          <h3>Response Type</h3>
      </div>

      <div ng-if="rt.showSearch" class="popover-container spaced">
          <div class="undim">
              <search-box model="rt.search" result="rt.searchRts" focus-init></search-box>
              <ul class="list-results">
                  <li ng-repeat="rtDef in rt.searchRts">
                      <a href="" ng-click="chooseResponseType(rtDef)">
                          <h4>
                              {{rtDef.name}}
                          </h4>
                          <p>
                              <ng-pluralize count="rtDef.nParts" when="{
                                  '0': 'Comment only',
                                  '1': '1 part.',
                                  'other': '{} parts.',
                              }"></ng-pluralize>
                              <ng-pluralize count="rtDef.nMeasures" when="{
                                  '0': 'Unused.',
                                  '1': 'Used by 1 measure.',
                                  'other': 'Used by {} measures.',
                              }"></ng-pluralize>
                          </p>
                      </a>
                  </li>
                  <li>
                      <div>
                          <p class="text-muted">
                              <span ng-if="!rt.searchRts.length">
                                  No response types match your query.</span>
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>

      <div response-type-editor="rt.definition" weight="edit.model.weight"
              is-bound="rt.definition.id && rt.definition.id == measure.responseTypeId"></div>

      <h3 ng-if="rt.responseType">Variable Bindings</h3>
      <div ng-if="rt.responseType">
          <p ng-if="!rt.responseType.unboundVars.length" class="text-muted">
              This response type requires no external bindings.
          </p>
          <p ng-if="rt.responseType.unboundVars.length && !edit.model.sourceVars"
                  class="text-muted">
              This response type has free variables that must be sourced from
              other measures. You can not bind them now because you are
              viewing this measure outside the context of a survey. You can
              choose a survey in the Documentation panel.
          </p>
          <p ng-if="rt.responseType.unboundVars.length && edit.model.sourceVars"
                  class="text-muted">
              This response type has free variables that must be sourced from
              other measures:
          </p>
          <ul class="list-unstyled">
              <li ng-repeat="mv in edit.model.sourceVars"
                      class="input-group"
                      ng-class="{
                          'binding-warning': mv.$unused
                      }">
                  <label for="source-measure-{{$index}}"
                          class="input-group-addon align-sm-md">
                      {{mv.targetField}} ←
                  </label>
                  <input type="text" class="form-control"
                      id="source-measure-{{$index}}"
                      name="source-measure-{{$index}}"
                      ng-model="mv.sourceMeasure"
                      uib-typeahead="m as m.title for m in searchMeasuresToBind($viewValue)"
                      autocomplete="off"
                      title="Source measure: {{mv.sourceMeasure.title}}"
                      placeholder="Source measure">
                  <label for="source-field-{{$index}}"
                          class="input-group-addon">
                      •
                  </label>
                  <input type="text" class="form-control"
                      id="source-field-{{$index}}"
                      name="source-field-{{$index}}"
                      ng-model="mv.sourceField"
                      uib-typeahead="f for f in mv.sourceMeasure.declaredVars"
                      autocomplete="off"
                      typeahead-min-length="0"
                      placeholder="Source variable">
              </li>
          </ul>
      </div>
    </div> <!-- .col- -->
  </div> <!-- .row -->
</form> <!-- .container-fluid -->
