<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/measure/new?survey={{survey.id}}"
                    ng-if="checkRole('measure_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <div class="stacked-header">
            <h2 label="S">
                <a ng-href="#/survey/{{survey.id}}">{{survey.title}}</a>
            </h2>
            <h2 label="M">
                Measures
            </h2>
        </div>
    </div>
</div>


<div class="container">
    <search-box model="search" result="measures">
        <button class="btn btn-default" type="button"
                title="{{search.orphan === true ?
                    'Only show orphan measures' :
                        search.orphan === false ?
                        'Only show linked measures' :
                        'Show both orphan and linked measures'}}"
                ng-click="cycleOrphan()">

            <i class="fa fa-link" ng-if="search.orphan == null">
                <i class="fa fa-question-circle fa-badge"></i>
            </i>
            <i class="fa fa-unlink" ng-if="search.orphan === true"></i>
            <i class="fa fa-link" ng-if="search.orphan === false"></i>

            Linked
        </button>
    </search-box>

  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="measure in measures"
            ng-class="{strike: measure.orphan}"
            any-href="/measure/{{measure.id}}?survey={{survey.id}}">
        <td class="truncate">{{measure.title}}
            <span class="text-muted" ng-if="measure.description">
                - {{measure.description}}</span>
        </td>
      </tr>
    </tbody>
  </table>

    <div>
    <p class="text-muted">
        <span ng-if="search.orphan == null">
            Displaying both <i>orphan and linked</i> measures.</span>
        <span ng-if="search.orphan === true">
            Displaying only <i>orphan</i> measures.</span>
        <span ng-if="search.orphan === false">
            Displaying only <i>linked</i> measures.</span>

        <span ng-if="!measures.length">
            No measures match your query.</span>

        <span ng-if="!measures.length && checkRole('measure_add')">
            You can create a measure by pressing the
            <i class="fa fa-fw fa-plus"></i> button above.
        </span>
    </p>
    </div>

</div>
