<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round"
                title="{{parent ? 'Unlink' : 'Delete'}}"
                ng-click="edit.del()"
                ng-if="editable && !edit.model && checkRole('measure_del')">
            <i class="fa fa-trash-o"
                    ng-class="parent ? 'fa-unlink' : 'fa-trash-o'"></i>
        </button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="editable && !edit.model">
            <i class="fa fa-pencil"></i></button>
        <survey-history entity="measure" service="Measure"
                ng-if="!edit.model"></survey-history>
    </div>
    <question-header entity="measure" assessment="assessment"></question-header>
</div>
</div>


<div class="subheader text-center bg-muted text-muted" ng-if="assessment">
<div class="container assessment-header">
    <span title="Organisation">
        <a ng-href="#/org/{{assessment.organisation.id}}" class="stealth">
            {{assessment.organisation.name}}</a>
    </span>
    <span title="Assessment">
        <a ng-href="#/assessment/{{assessment.id}}" class="stealth">
        {{assessment.title}}</a>
    </span>
</div>
</div>


<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="title">Weight</label>
            <span class="help-label" ng-if="form.weight.$error.required">
                Please provide a weight.</span>
            <span class="help-label" ng-if="form.weight.$error.min">
                Negative numbers are not allowed</span>
            <input type="number" class="form-control" id="weight" name="weight"
                ng-model="edit.model.weight" min="0" required />
        </div>
        <div class="form-group" show-errors>
            <label for="questions">Response Type</label>
            <select type="text" class="form-control"
                id="responseType" name="responseType"
                ng-options="rt.id as (rt.name + ' - ' + rt.description) for rt in responseTypes"
                ng-model="edit.model.responseType"></select>
        </div>
        <div class="form-group" show-errors>
            <label for="intent">Intent</label>
            <textarea id="intent" name="intent"
                class="autoresize form-control"
                ng-model="edit.model.intent"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="inputs">Inputs</label>
            <textarea id="inputs" name="inputs"
                class="autoresize form-control"
                ng-model="edit.model.inputs"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="scenario">Scenario</label>
            <textarea id="scenario" name="scenario"
                class="autoresize form-control"
                ng-model="edit.model.scenario"></textarea>
        </div>
        <div class="form-group" show-errors>
            <label for="questions">Questions</label>
            <textarea id="questions" name="questions"
                class="autoresize form-control"
                ng-model="edit.model.questions"></textarea>
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model">
<div class="container">
    <h3 ng-if="measure.intent">Intent</h3>
    <p ng-if="measure.intent" class="formatted">{{measure.intent}}</p>
    <h3 ng-if="measure.inputs">Inputs</h3>
    <p ng-if="measure.inputs" class="formatted">{{measure.inputs}}</p>
    <h3 ng-if="measure.scenario">Scenario</h3>
    <p ng-if="measure.scenario" class="formatted">{{measure.scenario}}</p>
    <h3 ng-if="measure.questions">Questions</h3>
    <p ng-if="measure.questions" class="formatted">{{measure.questions}}</p>
</div>
</div>

<div class="container spaced" ng-if="!edit.model && assessment">
    <response type="responseType" model="response" weight="measure.weight">
        <span ng-controller="ResponseHistory" dropdown
                on-toggle="toggled(open)" dropdown-append-to-body>
            <button class="btn btn-default btn-round" title="History"
                    dropdown-toggle>
                <i class="fa fa-history"></i></button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                    <div>
                    <div class="toolbar">
                        <span class="btn-group">
                            <button class="btn btn-default" title="Newer"
                                    ng-click="nextPage($event)">
                                <i class="fa fa-caret-left"></i></button>
                            <button class="btn btn-default" title="Older"
                                    ng-click="prevPage($event)">
                                <i class="fa fa-caret-right"></i></button>
                        </span>
                    </div>
                    Versions
                    </div>
                </li>
                <li ng-repeat="version in versions"
                        ng-class="{active: isActive(version)}">
                    <a href ng-click="navigate(version)">
                        <span class="field field-2">
                            {{version.version}}
                        </span>
                        <span class="field field-4">
                            {{version.approval}}
                        </span>
                        <span class="field field-8">
                            {{version.user.name}}
                        </span>
                        <span>
                            {{version.modified * 1000 | timeAgo}}
                        </span>
                    </a>
                </li>
                <li ng-if="!versions.length && !loading" class="dropdown-header">
                    No versions.</li>
                <li ng-if="loading" class="dropdown-header">
                    Loading...</li>
            </ul>
        </span>
        <button class="btn btn-round btn-on-danger"
                title="Not relevant"
                ng-click="toggleNotRelvant()"
                ng-class="{active: response.notRelevant}">
            <i class="fa fa-ban fa-fw"></i></button>
        <button class="btn btn-default btn-round"
                title="Save response"
                ng-click="saveResponse()">
            <i class="fa fa-check fa-fw"></i></button>
    </response>
    <div class="spaced btn-group btn-group-justified">
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: response.approval == 'draft'}"
                    ng-click="setState('draft')"
                    title="Set as 'draft' and save">
                Draft
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: response.approval == 'final'}"
                    ng-click="setState('final')"
                    title="Set as 'final' and save">
                Final
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: response.approval == 'reviewed'}"
                    ng-click="setState('reviewed')"
                    title="Set as 'reviewed' and save">
                Reviewed
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-class="{active: response.approval == 'approved'}"
                    ng-click="setState('approved')"
                    title="Set as 'approved' and save">
                Approved
            </button>
        </div>
    </div>

    <div ng-controller="ResponseAttachmentCtrl">
    <div class="section">
        <div class="toolbar">
            <button class="btn btn-default btn-round"
                    title="Upload"
                    ng-if="!showFileDrop && !externals.length"
                    ng-click="toggleFileDrop()">
                <i class="fa fa-fw fa-cloud-upload"></i>
            </button>
            <button class="btn btn-default btn-round"
                    title="Add external link"
                    ng-if="!showFileDrop && !externals.length"
                    ng-click="addExternal()">
                <i class="fa fa-fw fa-link">
                    <i class="fa fa-badge fa-plus"></i></i>
            </button>
            <button class="btn btn-default btn-round"
                title="Cancel"
                ng-if="showFileDrop || externals.length"
                ng-click="cancelNewAttachments()">
                <i class="fa fa-times fa-fw"></i></button>
            <button class="btn btn-default btn-round"
                title="Save response"
                ng-if="showFileDrop || externals.length"
                ng-click="saveResponse()">
                <i class="fa fa-check fa-fw"></i></button>

        </div>
        <h3>Attachments</h3>
    </div>
    <ul class="list-results fa-ul">
        <li ng-repeat="attachment in attachments">
            <a ng-href="/attachment/{{attachment.id}}.json" download
                    ng-if="!attachment.url || attachment.storage=='aws'">
                <button class="btn btn-default btn-round pull-right"
                        title="Remove"
                        ng-click="deleteAttachment(attachment);
                                  $event.preventDefault()">
                    <i class="fa fa-fw fa-trash-o"></i></button>
                <h4>
                    <i class="fa fa-li fa-cloud-download text-muted"></i>
                    {{attachment.fileName}}
                </h4>
                <p>Uploaded file</p>
            </a>
            <a ng-href="{{attachment.url}}"
                    ng-if="attachment.url && safeUrl(attachment.url)">
                <button class="btn btn-default btn-round pull-right"
                        title="Remove"
                        ng-click="deleteAttachment(attachment);
                                  $event.preventDefault()">
                    <i class="fa fa-fw fa-trash-o"></i></button>
                <h4>
                    <i class="fa fa-li fa-link text-muted"></i>
                    {{attachment.fileName || attachment.url}}
                </h4>
                <p>Web link: {{attachment.url}}</p>
            </a>
            <a ng-if="attachment.url && !safeUrl(attachment.url)"
                    select-text>
                <button class="btn btn-default btn-round pull-right"
                        title="Remove"
                        ng-click="deleteAttachment(attachment);
                                  $event.preventDefault()">
                    <i class="fa fa-fw fa-trash-o"></i></button>
                <h4>
                    <i class="fa fa-li fa-paperclip text-muted"></i>
                    {{attachment.fileName}}
                </h4>
                <p>
                    External link:
                    <span select-text-target>{{attachment.url}}</span>
                </p>
            </a>
        </li>
        <li ng-if="!attachments.length" class="text-muted">
            No attachments.
        </li>
    </ul>
    <div class="dropzone" id="dropzone" ng-show="showFileDrop">
        <div class="dz-message ">
            <p><i class="fa fa-cloud-upload fa-5x"></i></p>
            <p>Drop files here, or click to select one</p>
        </div>
        <p class="text-warning">
            <i class="fa fa-warning"></i>
            Files that are uploaded <b>cannot</b> be deleted. For highly
            confidential data, create an external link
            <i class="fa fa-link"></i> instead.
        </p>
    </div>
    <ul class="list-unstyled">
        <li class="input-group" ng-repeat="external in externals">
            <label class="input-group-addon" for="extname{{$index}}" title="Title">
                <i class="fa fa-at"></i>
                <span class="sr-only">Title</span>
            </label>
            <input type="text" id="extname{{$index}}"
                    class="form-control btn-default"
                    ng-model="external.fileName"
                    placeholder="Link title">
            <label class="input-group-addon" for="exturl{{$index}}"
                    title="External link URL">
                <i class="fa fa-link"></i>
                <span class="sr-only">External link URL</span>
            </label>
            <input type="text" id="exturl{{$index}}"
                    class="form-control btn-default"
                    ng-model="external.url"
                    placeholder="Link URL">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        title="Delete this link"
                        ng-click="deleteExternal($index)">
                    <i class="fa fa-trash-o"></i></button>
            </span>
        </li>
    </ul>
    <p class="text-warning text-center"><small>
        <i class="fa fa-bug"></i>
        Attachments are not scanned for viruses.
    </small></p>
    </div>
</div>

<div class="container spaced">
    <div class="spaced text-muted">
        <ul class="fa-ul fa-ul-big">
            <li ng-if="!edit.model && assessment && response.user.name">
                <i class="fa-li fa fa-history fa-border"></i>
                <p>
                    Version {{response.version}} -
                    {{response.modified * 1000 | timeAgo}}
                </p>
                <p>
                    Submitted by
                    <a ng-href="#/user/{{response.user.id}}">
                        {{response.user.name}}</a>
                </p>
            </li>
            <li ng-if="!edit.model && assessment && response.notRelevant">
                <i class="fa-li fa fa-ban fa-border"></i>
                <p>
                    This response is marked as not relevant. It does not
                    contribute to the assessment's score.
                </p>
            </li>
            <li ng-if="!edit.model && assessment">
                <i class="fa-li fa fa-check-square-o fa-border"></i>
                <p>
                    Responses progress through approval
                    states <i>draft</i> &raquo; <i>final</i> &raquo;
                    <i>reviewed</i> &raquo; <i>approved</i>. Approval states
                    are resticted to roles as follows:
                </p>
                <ul>
                    <li>
                        Clerk: Draft, Final (responses only)
                    </li>
                    <li>
                        Organisation Admin: Draft, Final
                    </li>
                    <li>
                        Consultant: Reviewed
                    </li>
                    <li>
                        Authority: Approved
                    </li>
                </ul>
                <p>
                    Increasing the appoval state indicates that the response is
                    ready for the next level of review. It is OK to reduce the
                    approval state if you wish to make a change after it as been
                    reviewed; this will indicate that it needs to be reviewed
                    again.
                </p>
                <p>
                    Assessments progress through the same states. When all the
                    responses in an assessment are <i>Final</i>, the assessment
                    itself can be marked as <i>Final</i>, and so on. After that
                    it is not possible to reduce the state of the responses.
                </p>
            </li>
            <li ng-if="!edit.model && parents && checkRole('measure_edit')">
                <i class="fa-li fa fa-sitemap fa-border"></i>
                Measures are shared between question sets.
                Respondents can use the following category paths to reach this
                measure:
                <ul ng-if="parents.length">
                    <li ng-repeat="parent in parents">
                        <a ng-href="#/measure/{{measure.id}}?survey={{survey.id}}&parent={{parent.qnodes[parent.qnodes.length - 1].id}}">
                        {{parent.hierarchy.title}}
                        <span ng-repeat="item in parent.qnodes">
                            &raquo;
                            <span ng-if="item.seq != null">
                                {{item.seq + 1}}.</span>
                            {{item.title}}
                        </span>
                        </a>
                    </li>
                </ul>
                <p ng-if="parent">
                    This measure can be
                    <a ng-href="#/measure/{{measure.id}}?survey={{survey.id}}">
                        viewed without a question set</a>,
                    but it can not be responded to like that.
                </p>
                <p ng-if="!parents.length">
                    This measure is an orphan: it belongs to no categories.
                </p>
            </li>
        </ul>
    </div>
</div>

</div>
