<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()">
            <i class="fa fa-times"></i></button>
    </div>
    <question-header entity="measure"></question-header>
</div>
</div>


<div class="container">
    <search-box model="search" result="measures"></search-box>

  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="measure in measures"
            ng-class="{strike: measure.orphan}"
            ng-click="select(measure)">
        <td class="preview-text">{{measure.title}}
            <span class="text-muted" ng-if="measure.intent">
                - {{measure.intent}}</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
