<div class="messages">
    <div class="container">
        <ul>
            <li ng-repeat="message in notifications.messages"
                    class="panel"
                    ng-class="'panel-' + message.css">
                <div class="panel-body"
                        ng-class="['bg-' + message.css, 'text-' + message.css]">
                    <span class="label" ng-class="'label-' + message.css">{{message.type}}</span>
                    {{message.body}}
                    <button class="btn btn-default btn-round"
                            ng-click="notifications.remove(message)">
                        <i class="fa fa-times"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>