<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="!edit.model && checkRole('org_del')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('org_modify')">
            <i class="fa fa-pencil"></i></button>
    </div>
    <h2 page-title>
        <i class="fa fa-fw fa-university"></i>
        <a href="#/orgs">Organisations</a> &raquo;
        <span ng-if="org.name">{{org.name}}</span>
        <span ng-if="!org.name">New organisation</span>
    </h2>
</div>
</div>

<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="org_name">Name</label>
            <span class="help-label" ng-if="form.org_name.$error.required">
                *</span>
            <input type="text" class="form-control"
                    id="org_name" name="org_name"
                    ng-model="edit.model.name" required />
        </div>
        <div class="form-group" show-errors>
            <label for="org_url">Web site</label>
            <span class="help-label" ng-if="form.org_url.$error.required">
                *</span>
            <input type="text" class="form-control"
                    id="org_url" name="org_url"
                    ng-model="edit.model.url" required />
        </div>
        <div class="form-group" show-errors>
            <label for="org_customers">Number of customers</label>
            <span class="help-label" ng-if="form.org_customers.$error.required">
                *</span>
            <span class="help-label" ng-if="form.org_customers.$error.min">
                Negative numbers are not allowed</span>
            <span class="help-label" ng-if="form.org_customers.$error.number">
                Must be a number</span>
            <input type="number" class="form-control"
                    id="org_customers" name="org_customers"
                    ng-model="edit.model.numberOfCustomers"
                    required min="0" />
        </div>
        <div class="form-group" show-errors>
            <label for="org_region">Region</label>
            <span class="help-label" ng-if="form.org_region.$error.required">
                *</span>
            <input type="text" class="form-control"
                    id="org_region" name="org_region"
                    ng-model="edit.model.region" required />
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model">
<div class="container">
    <dl ng-if="org.url">
        <dt>Web site</dt>
        <dd><a ng-href="{{org.url}}">{{org.url}}</a></dd>
    </dl>
    <dl ng-if="org.numberOfCustomers">
        <dt>Number of customers</dt>
        <dd>{{org.numberOfCustomers}}</dd>
    </dl>
    <dl ng-if="org.region">
        <dt>Region</dt>
        <dd>{{org.region}}</dd>
    </dl>
</div>
</div>


<div class="container" ng-controller="PurchasedSurveyCtrl"
        ng-if="checkRole('assessment_browse')">
    <div class="section">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/org/{{org.id}}/survey/add"
                    ng-if="checkRole('survey_purchase')">
                <i class="fa fa-fw fa-plus">
                    <i class="fa fa-badge fa-link"></i>
                </i></a>
        </div>
        <h2 label="Sv">
            Surveys
        </h2>
    </div>

    <ul class="list-results">
        <li ng-repeat="hierarchy in hierarchies">
            <a ng-href="#/hierarchy/{{hierarchy.id}}/choice?survey={{hierarchy.survey.id}}&organisation={{org.id}}">
                <h4>{{hierarchy.title}}</h4>
                <p class="truncate">In {{hierarchy.survey.title}} -
                    {{hierarchy.nMeasures}} measures</p>
            </a>
        </li>
    </ul>

    <p ng-if="!hierarchies.length">
        <i>{{org.name}}</i> is not participating in any surveys yet.
    </p>
</div>


<user-list class="nested" ng-if="!edit.model" org="org" hide-org></user-list>


</div>
