<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    href="#/org/new" ng-if="checkRole('org_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2 page-title>
            <i class="fa fa-fw fa-university"></i>
            Organisations
        </h2>
    </div>
</div>
<div class="container">
    <search-box model="search" result="orgs"></search-box>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Region</th>
        <th class="shrink">Customers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="org in orgs" any-href="/org/{{org.id}}">
        <td>{{org.name}}</td>
        <td>{{org.region}}</td>
        <td class="shrink">{{org.numberOfCustomers}}</td>
      </tr>
    </tbody>
  </table>
</div>
