<div class="header">
    <div class="container">
        <h2>
            <i class="fa fa-fw fa-university"></i>
            Organisations
            <a class="btn btn-default btn-round" title="Add new"
                    href="#/org/new" ng-if="checkRole('org_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </h2>
    </div>
</div>
<div class="container">
    <div class="input-group">
        <label class="input-group-addon" for="searchBox" title="Search">
            <i class="fa fa-search"></i>
            <span class="sr-only">Search</span>
        </label>
        <input type="text" class="form-control btn-default search-box"
                id="searchBox"
                ng-model="terms" placeholder="Search..."
                ng-model-options="{ debounce: { 'default': 300, 'blur': 0 }}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" title="Previous page"><i class="fa fa-caret-left"></i></button>
            <button class="btn btn-default" type="button" title="Next page"><i class="fa fa-caret-right"></i></button>
        </span>
    </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Region</th>
        <th>Customers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="org in orgs">
        <td><a ng-href="#/org/{{org.id}}">{{org.name}}</a></td>
        <td>{{org.region}}</td>
        <td>{{org.numberOfCustomers}}</td>
      </tr>
    </tbody>
  </table>
</div>
