<div>

<div class="survey-tree secondary">
    <h2>
        <i class="fa fa-fw fa-university"></i>
        {{org.name}}
        <button class="btn btn-round" title="Edit"
                ng-click="edit()"
                ng-if="!org_edit">
            <i class="fa fa-pencil"></i></button>
        <button class="btn btn-round" title="Save"
                ng-click="save()"
                ng-if="org_edit">
            <i class="fa fa-check"></i></button>
    </h2>
</div>

<div class="measure" ng-if="org_edit">
    <form>
        <div class="form-group">
            <label for="org_name">Name</label>
            <input type="text" class="form-control" id="org_name"
                ng-model="org_edit.name" />
        </div>
        <div class="form-group">
            <label for="org_url">Web site</label>
            <input type="text" class="form-control" id="org_url"
                ng-model="org_edit.url" />
        </div>
        <div class="form-group">
            <label for="org_customers">Number of customers</label>
            <input type="text" class="form-control" id="org_customers"
                ng-model="org_edit.numberOfCustomers" />
        </div>
        <div class="form-group">
            <label for="org_region">Region</label>
            <input type="text" class="form-control" id="org_region"
                ng-model="org_edit.region" />
        </div>
    </form>
</div>

<div class="measure" ng-if="!org_edit">
    <dl>
        <dt>Region</dt>
        <dd>{{org.region}}</dd>
    </dl>
    <dl>
        <dt>Web site</dt>
        <dd><a ng-href="{{org.url}}">{{org.url}}</a></dd>
    </dl>
    <dl>
        <dt>Number of customers</dt>
        <dd>{{org.numberOfCustomers}}</dd>
    </dl>
</div>

</div>
