<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('proc_edit')">
            <i class="fa fa-pencil"></i></button>
    </div>
    <question-header entity="process"></question-header>
</div>
</div>

<div class="measure" ng-if="edit.model">
<div class="container">
    <editor-error class="measure" edit="edit"></editor-error>
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description</label>
            <span class="help-label" ng-if="form.desc.$error.required">
                Please provide a description.</span>
            <textarea id="desc" name="desc" class="form-control"
                ng-model="edit.model.description" required></textarea>
        </div>
    </form>
</div>
</div>

<div class="measure" ng-if="!edit.model">
<div class="container">
    <p>{{process.description}}</p>

    <div>
    <div class="toolbar">
        <a class="btn btn-default btn-round" title="Add new"
                ng-href="#/subprocess/new?process={{process.id}}&survey={{survey.id}}"
                ng-if="checkRole('proc_add')">
            <i class="fa fa-fw fa-plus"></i></a>
    </div>
    <h2>Sub-Processes</h2>
    </div>

    <table ng-if="subprocs.length" class="table table-hover">
        <tbody>
            <tr ng-repeat="subproc in subprocs"
                    any-href="/subprocess/{{subproc.id}}?survey={{survey.id}}">
                <td class="shrink">{{subproc.seq + 1}}</td>
                <td>{{subproc.title}}</td>
            </tr>
        </tbody>
    </table>
    <p ng-if="!subprocs.length" class="text-muted">
        This process has no sub-processes.
    </p>
</div>
</div>

</div>
