<div class="header"
    ng-class="{'deleted': program.deleted}">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
        <a class="btn btn-default btn-round" title="Duplicate"
                ng-href="#/2/program/new?duplicate={{program.id}}"
                ng-if="!edit.model && checkRole('program_dup')">
            <small><i class="fa fa-clone"></i></small></button></a>
        <delete-button model="program" editor="edit"
            ng-if="program.isEditable && !edit.model &&
                checkRole('program_del')"></delete-button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id && !rtEdit.rt">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model && !rtEdit.rt"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="program.isEditable && !edit.model &&
                    checkRole('program_edit')">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/2/subscription/program?id={{program.id}}">
            <i class="fa fa-envelope"></i></a>
        <program-history entity="program" service="Program"
                ng-if="!edit.model"></program-history>
    </div>
    <question-header entity="program" type="program"></question-header>
</div>
</div>
<div error-header structure-node="program" ng-if="!edit.model"></div>

<div ng-if="edit.model" class="container">
    <form novalidate name="form" id="editor" form-nav-warn>
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <markdown-editor id="description"
                ng-model="edit.model.description"
                title="Description"></markdown-editor>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="inclQuality" name="inclQuality"
                    ng-model="edit.model.hasQuality">
                    Ask for quality self-assessment
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="hideAggregate" name="hideAggregate"
                    ng-model="edit.model.hideAggregate">
                    Show aggregate scores
            </label>
        </div>
        <docs>
            <i class="fa-li fa fa-server fa-border"></i>
            <h3>Program Settings</h3>
            <h4>Quality</h4>
            <p>
                Display a non-optional <em>Quality</em> field for each response.
                This allows you to filter the data based on how good the
                respondent thinks it is.
            </p>
            <h4>Scoring</h4>
            <p>
                Aggregate scores are the scores at the category level. These
                are calculated by adding together the scores of any child
                categories and measures. This is usually what you want, but
                for some surveys it doesn't make sense.
                This setting also controls whether the measure weight is
                shown as the divisor.
            </p>
        </docs>

    </form>

    <p class="text-muted">
        The response type editor has moved to the Measure screen.
    </p>

    <docs ng-if="!edit.model.id && duplicating">
        <i class="fa-li fa fa-clone fa-border"></i>
        <p>
            You are creating a duplicate of an existing program. The full
            structure of the program will be copied, with the lineage to the old
            program preserved. Submissions will not be copied, but they can
            be at a later time.
        </p>
        <p>
            If you want to create a fresh program with no lineage,
            <a href="#/2/programs">go back</a> and use the Add
            <i class="fa fa-plus"></i> function instead.
        </p>
    </docs>
    <docs ng-if="!edit.model.id && !duplicating">
        <i class="fa-li fa fa-plus fa-border"></i>
        <p>
            You are creating a new program with a new structure. It will not
            be possible to link responses from other programs to this one.
        </p>
        <p>
            If you wish to preserve lineage, <a href="#/2/programs">open an
            existing program</a> and use the Duplicate
            <i class="fa fa-clone"></i> function instead.
        </p>
    </docs>
</div>


<div ng-if="!edit.model">

<div class="container" ng-if="program.description">
    <div ng-bind-html="program.description | markdown"></div>
</div>

<div class="container hidden-print" ng-if="checkRole('program_edit')">
    <p>
        <span ng-if="program.isEditable">
            This program is editable.
        </span>
        <span ng-if="!program.isEditable">
            This program is not editable.
        </span>
    </p>
</div>


<div class="container hidden-print" ng-if="checkRole('program_state')">
    <p class="text-center">
        <!-- Admin buttons -->
        <button class="btn btn-link" ng-click="toggleEditable()">
            <i class="fa fa-pencil-square-o">
                <i ng-if="program.isEditable"
                    class="fa fa-ban fa-badge fa-badge-left"></i>
            </i>
            <span ng-if="program.isEditable">
                Make non-editable</span>
            <span ng-if="!program.isEditable">
                Make editable</span>
        </button>
    </p>
</div>


<div class="container">
    <div class="section">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Search for measures"
                    ng-href="#/2/measures?program={{program.id}}">
                <i class="fa fa-fw fa-search"></i></a>
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/2/survey/new?program={{program.id}}"
                    ng-if="program.isEditable && checkRole('survey_add')">
                <i class="fa fa-fw fa-plus"></i></a>
            <delete-cycle class="btn-round" model="search.deleted"></delete-cycle>
        </div>
        <h2 label="Sv">
            Surveys
        </h2>
    </div>

    <ul class="list-results">
        <li ng-repeat="survey in surveys"
                ng-class="{
                    'strike': survey.deleted,
                    'bg-warning': survey.error,
                }">
            <a ng-href="#/2/survey/{{survey.id}}/choice?program={{program.id}}">
                <h4>
                    {{survey.title}}
                    <i ng-if="survey.error"
                        class="fa fa-exclamation-triangle text-muted"></i>
                </h4>
                <p class="truncate">{{survey.nMeasures}} measures</p>
            </a>
        </li>
    </ul>

    <p ng-if="!surveys.length">
        There are no <span ng-if="search.deleted">deleted</span> surveys.
    </p>
</div>


<docs ng-if="program.deleted">
    <i class="fa-li fa fa-trash fa-border"></i>
    <h3>Deleted</h3>
    <p>
        This program has been deleted.
    </p>
</docs>

</div><!-- !edit.model -->
