<div class="header"
    ng-class="{'deleted': structure.deletedItem}">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>

        <delete-button model="qnode" editor="edit"
                ng-if="!assessment && (editable || qnode.deleted) &&
                       !edit.model && checkRole('qnode_del')"></delete-button>

        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="editable && !edit.model">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/subscription/qnode?id={{qnode.id}}&id={{program.id}}"
                ng-if="!edit.model && !assessment">
            <i class="fa fa-envelope"></i></a>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/subscription/rnode?id={{qnode.id}}&id={{assessment.id}}"
                ng-if="!edit.model && assessment">
            <i class="fa fa-envelope"></i></a>
        <program-history entity="qnode" service="QuestionNode"
                ng-if="!assessment && !edit.model"></program-history>
    </div>
    <question-header entity="qnode" assessment="assessment"></question-header>
</div>
</div>

<assessment-header></assessment-header>

<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor" form-nav-warn>
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <markdown-editor id="description"
                ng-model="edit.model.description"
                title="Description"></markdown-editor>
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model && qnode.description || rnode" class="container">
    <div ng-if="rnode" class="stats">
        <button class="btn btn-on-danger btn-round pull-right hidden-print"
                title="Toggle not relevant"
                ng-click="toggleBulkNa()"
                ng-class="{active: rnode.nNotRelevant >= qnode.nMeasures}"
                highlight="showBulkNa"
                highlight-dismiss="toggleBulkNa()">
            <i class="fa fa-fw fa-ban"></i></button>
        <button class="btn btn-default btn-round pull-right hidden-print"
                title="Bulk approval"
                ng-click="toggleBulk()"
                highlight="showBulkApproval"
                highlight-dismiss="toggleBulk()">
            <i class="fa fa-fw fa-rotate fa-angle-right"
                ng-class="showBulkApproval ? 'fa-rotate-90' : null"></i></button>

        <docs ng-if="rnode.notRelevant">
            <i class="fa-li fa fa-ban fa-border"></i>
            <p>
                This category is marked as not relevant. It does not
                contribute to the submission's score.
            </p>
        </docs>

        <div class="stats-group">
            <span title="Score"
                  ng-if="rnode.score != null && !structure.program.hideAggregate">
                {{rnode.score | number:0}}
            </span>
            <span title="Progress">
                <column-progress items="stats.progressItems"></column-progress>
            </span>
            <span title="Measures">
                <span class="text-muted" title="Total number of measures">
                    {{qnode.nMeasures}}</span>
            </span>
            <span title="N/A">
                <span title="Number of not-relevant responses">
                    <s>{{rnode.nNotRelevant}}</s></span>
            </span>

            <docs>
                <i class="fa-li fa fa-bar-chart fa-border"></i>
                <h3>Scores and Progress</h3>
                <p>
                    The score of a survey category is the sum of the scores of
                    the responses to its measures. To fill out this category,
                    <abbr title="click through to lower/deeper categories and measures">
                        drill-down</abbr>
                    to the measures and respond to them.
                </p>
                <p>
                    The little bar charts show the progress through the survey.
                    Each bar shows how many responses have been given a
                    certain level of approval. From left to right: the number of
                    <em class="text-bar1">draft</em>,
                    <em class="text-bar2">final</em>,
                    <em class="text-bar3">reviewed</em> and
                    <em class="text-bar4">approved</em> responses.
                    Click on a graph to see the details as numbers.
                </p>
                <p class="text-center text-huge spaced">
                    <column-progress items="demoStats"></column-progress>
                </p>
                <p class="spaced">
                    A white stripe through a bar means 100% of the responses
                    have reached that level of approval (because otherwise it's
                    a bit hard to see if the bar is full).
                </p>
            </docs>
        </div> <!-- class="stats-group"-->

        <div class="stats-group">
            <span title="Importance"
                    ng-class="{inherited: rnode.importance == null}">
                <input-stars ng-model="stats.importance"></input-stars>
            </span>
            <span title="Urgency"
                    ng-class="{inherited: rnode.urgency == null}">
                <input-stars ng-model="stats.urgency"
                    icon-empty="fa-circle-thin" icon-full="fa-circle"></input-stars>
            </span>
            <docs>
                <i class="fa-li fa fa-star-o fa-border"></i>
                <h3>Importance and Urgency</h3>
                <p>
                    You can give ratings to categories in the survey. These ratings
                    are to help you prioritise how you fill out the survey. They
                    don't affect the score, and they can't be seen by other
                    participants. Importance uses star ratings
                    <i class="fa fa-star"></i>, while urgency uses circles
                    <i class="fa fa-circle"></i>.
                </p>
                <p>
                    Ratings deeper in the survey
                    <abbr title="aggregate">
                        bubble up</abbr> to higher levels so you can quickly
                    <abbr title="click through to lower/deeper categories">
                        drill-down</abbr> to the
                    most important categories. If you don't set a rating for a
                    category, it will inherit the highest rating of its children.
                    You can tell if a rating has been inherited by its colour:
                    inherited ratings are orange
                    <i class="fa fa-star text-bar2-light"></i>,
                    while explicitly-set ratings are yellow
                    <i class="fa fa-star text-bar1-light"></i>.
                    To un-set a rating, hover over the stars and then click the
                    <i class="fa docs-button fa-times"></i> that appears.
                </p>
            </docs>
        </div> <!-- class="stats-group"-->
    </div>

    <div class="popover-container" ng-if="showBulkApproval">
      <form novalidate class="dialog spaced" highlight>
        <h3>Bulk Approval</h3>
        <approval-buttons model="stats.approval"
                class="spaced-below"
                set-state="setState(state)"></approval-buttons>
        <div class="form-group" show-errors>
            <select class="form-control"
                id="promote" name="promote"
                ng-model="stats.promote"
                ng-options="o.name as o.desc for o in promotionOptions">
            </select>
        </div>
        <div class="form-group" show-errors>
            <select class="form-control"
                id="missing" name="missing"
                ng-model="stats.missing"
                ng-options="o.name as o.desc for o in missingOptions">
            </select>
        </div>
        <p class="text-warning">
            <i class="fa fa-warning"></i>
            Select an approval state above to force
            <span ng-if="stats.promote == 'BOTH'">
                all responses (measures)
            </span>
            <span ng-if="stats.promote == 'PROMOTE'">
                lesser responses (measures with lower approval)
            </span>
            <span ng-if="stats.promote == 'DEMOTE'">
                greater responses (measures with higher approval)
            </span>
            in this category to be that state.

            <span ng-if="stats.missing == 'CREATE'">
                Responses that are incomplete will be marked
                <em>Not Relevant</em>.
            </span>

            <strong>This action cannot be undone</strong>. If you change your
            mind, you may need to manually reset the approval status of each
            response.
        </p>
      </form>
    </div>

    <docs highlight="showBulkApproval">
        <i class="fa-li fa fa-chevron-right fa-border"></i>
        <h3>Approval</h3>
        <p>
            Submissions progress through approval
            states
            <em class="text-bar1">draft</em> &raquo;
            <em class="text-bar2">final</em> &raquo;
            <em class="text-bar3">reviewed</em> &raquo;
            <em class="text-bar4">approved</em>.
            A submission can only progress to the next state when all of its
            measure's responses have at least that state. You can change the
            state of all responses in this category by pressing the
            <em>bulk approval</em>
            <i class="fa docs-button fa-angle-right"></i>
            button.
        </p>
        <p>
            You can't give the responses in a category a lesser approval
            than the submission they belong to. However you can demote the
            submission, and <em>then</em> demote the responses. This also
            applies when performing a bulk approval.
        </p>
    </docs>

    <div class="popover-container" ng-if="showBulkNa">
      <form novalidate class="dialog spaced" highlight>
        <h3>Change Relevance in Bulk</h3>

        <div class="form-group" show-errors>
            <button class="btn btn-block"
                    ng-class="stats.relevance == 'NOT_RELEVANT' ?
                        'btn-danger' : 'btn-success'"
                    ng-click="setNotRelevant(stats.relevance)">
                <span ng-if="stats.relevance == 'NOT_RELEVANT'">
                    <i class="fa fa-fw fa-ban"></i>
                    Mark as Not Relevant
                </span>
                <span ng-if="stats.relevance == 'RELEVANT'">
                    <i class="fa fa-fw fa-circle-o"></i>
                    Mark as Relevant
                </span>
            </button>
        </div>

        <div class="form-group" show-errors>
            <select class="form-control"
                id="relevance"
                ng-model="stats.relevance"
                ng-options="o.name as o.desc for o in relevanceOptions">
            </select>
        </div>
        <div class="form-group" show-errors
                ng-if="stats.relevance == 'NOT_RELEVANT'">
            <select class="form-control"
                id="missing"
                ng-model="stats.missing"
                ng-options="o.name as o.desc for o in missingOptions">
            </select>
        </div>
        <p class="text-muted">
            Mark all responses (measures) as
            <span ng-if="stats.relevance == 'NOT_RELEVANT'">
                not relevant.
            </span>
            <span ng-if="stats.relevance == 'RELEVANT'">
                relevant.
            </span>

            <span ng-if="stats.relevance == 'NOT_RELEVANT' && stats.missing == 'CREATE'">
                Responses that are incomplete will be marked
                <em>Not Relevant</em>.
            </span>

            <strong>This action cannot be undone</strong>. If you change your
            mind, you may need to manually reset the state of each response.
        </p>
      </form>
    </div>

    <div ng-bind-html="qnode.description | markdown"></div>

    <docs ng-if="structure.deletedItem">
        <i class="fa-li fa fa-trash fa-border"></i>
        <h3>Deleted</h3>
        <p>
            This category, or one of its parents, has been deleted. It is still
            accessible for archival reasons, but it will not be included in
            survey score calculations.
        </p>
    </docs>
</div>

<div class="container"
    ng-controller="QnodeChildren" ng-include="'qnode_children.html'"
    ng-if="nextLevel && !rnode.notRelevant && !edit.model"></div>


<div class="container"
    ng-controller="QnodeMeasures" ng-include="'qnode_measures.html'"
    ng-if="currentLevel.hasMeasures && !rnode.notRelevant && !edit.model"></div>
