<div class="section">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Reset order"
                ng-click="edit.cancel()"
                ng-if="edit.model">
            <i class="fa fa-fw fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save order"
                ng-click="edit.save()"
                ng-if="edit.model">
            <i class="fa fa-fw fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Change order"
                ng-click="edit.edit()"
                ng-if="editable && model.length > 1 && !edit.model">
            <i class="fa fa-fw fa-unsorted"></i></button>
        <a class="btn btn-default btn-round" title="Add new"
                ng-href="#/measure/new?{{query}}"
                ng-if="editable && !edit.model">
            <i class="fa fa-fw fa-plus"></i></a>
        <a class="btn btn-default btn-round" title="Link to existing"
                ng-href="#/measure-link?{{query}}"
                ng-if="editable && !edit.model">
            <i class="fa fa-fw fa-link"></i></a>
    </div>
    <h2>{{title}}</h2>
</div>
<table class="table table-hover">
    <tbody ui-sortable="dragOpts" ng-model="edit.model">
        <tr ng-repeat="item in edit.model || model"
                any-href="/measure/{{item.id}}?{{query}}"
                ng-disabled="edit.model">
            <td class="shrink numeric">{{item.seq + 1}}</td>
            <td>{{item.title}}</td>
            <td class="shrink text-muted">
                <i class="fa fa-fw fa-ban fa-lg text-muted"
                        ng-if="getStats(item.id).notRelevant"
                        title="Not relevant"></i>
            </td>
            <td class="shrink text-muted numeric" title="Score"
                    ng-if="assessment && checkRole('view_aggregate_score')">
                {{getStats(item.id).score | number:0}}
            </td>
            <td class="shrink" ng-if="assessment">
                <column-progress items="getStats(item.id).progressItems">
                 </column-progress>
            </td>
            <td class="shrink text-muted numeric" title="Number of measures">
                1
            </td>
            <td class="shrink grab-handle" ng-if="edit.model">
                <i class="fa fa-fw fa-unsorted"></i></td>
        </tr>
    </tbody>
</table>
