<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="editable && !edit.model && checkRole('qnode_del')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="editable && !edit.model">
            <i class="fa fa-pencil"></i></button>
        <survey-history entity="qnode" service="QuestionNode"
                ng-if="!edit.model"></survey-history>
    </div>
    <question-header entity="qnode" assessment="assessment"></question-header>
</div>
</div>

<div class="subheader text-center bg-muted text-muted" ng-if="assessment">
<div class="container assessment-header">
    <span title="Organisation">
        <a ng-href="#/org/{{assessment.organisation.id}}" class="stealth">
            {{assessment.organisation.name}}</a>
    </span>
    <span title="Assessment">
        <a ng-href="#/assessment/{{assessment.id}}" class="stealth">
        {{assessment.title}}</a>
    </span>
</div>
</div>

<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description</label>
            <textarea id="desc" name="desc" class="autoresize form-control"
                ng-model="edit.model.description"></textarea>
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model && qnode.description || rnode">
<div class="container">
    <div ng-if="rnode" class="stats">
        <button class="btn btn-on-danger btn-round pull-right"
                title="Toggle not relevant"
                ng-click="toggleNotRelevant()"
                ng-class="{active: rnode.notRelevant}">
            <i class="fa fa-fw fa-ban"></i></button>

        <span title="Score">
            {{rnode.score}}
        </span>
        <span title="Progress">
            <column-progress items="stats.progressItems"></column-progress>
            <span class="stats-bar1" title="Number of final responses">
                {{rnode.nSubmitted}}</span>
            <span class="stats-bar2" title="Number of reviewed responses">
                {{rnode.nReviewed}}</span>
            <span class="stats-bar3" title="Number of approved responses">
                {{rnode.nApproved}}</span>
            <span title="Number of not-relevant responses">
                <s>{{rnode.nNotRelevant}}</s></span>
        </span>
        <span title="Measures">
            <span class="text-muted" title="Total number of measures">
                {{qnode.nMeasures}}</span>
        </span>
    </div>

    <p class="formatted">{{qnode.description}}</p>
</div>
</div>

<div class="container"
    ng-controller="QnodeChildren" ng-include="'qnode_children.html'"
    ng-if="nextLevel && !rnode.notRelevant && !edit.model"></div>


<div class="container"
    ng-controller="QnodeMeasures" ng-include="'qnode_measures.html'"
    ng-if="currentLevel.hasMeasures && !rnode.notRelevant && !edit.model"></div>

<div class="container spaced">
    <div class="spaced text-muted">
        <ul class="fa-ul fa-ul-big">
            <li ng-if="!edit.model && rnode.notRelevant">
                <i class="fa-li fa fa-ban fa-border"></i>
                <p>
                    This category is marked as not relevant. It does not
                    contribute to the survey's score.
                </p>
            </li>
        </ul>
    </div>
</div>
