<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="survey.isEditable && !edit.model &&
                    checkRole('qnode_del')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="survey.isEditable && !edit.model &&
                    checkRole('qnode_edit')">
            <i class="fa fa-pencil"></i></button>
        <survey-history entity="qnode" service="QuestionNode"
                ng-if="!edit.model"></survey-history>
    </div>
    <question-header entity="qnode" assessment="assessment"></question-header>
</div>
</div>

<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description</label>
            <textarea id="desc" name="desc" class="autoresize form-control"
                ng-model="edit.model.description"></textarea>
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model && qnode.description">
<div class="container">
    <p class="formatted">{{qnode.description}}</p>
</div>
</div>


<div class="container"
    ng-controller="QnodeChildren" ng-include="'qnode_children.html'"
    ng-if="nextLevel && !edit.model"></div>


<div class="container"
    ng-controller="QnodeMeasures" ng-include="'qnode_measures.html'"
    ng-if="currentLevel.hasMeasures && !edit.model"></div>


</div>
