<div class="stacked-header"
        ng-class="layout.expandHeader ? 'header-expanded' : 'header-collapsed'">
<h2 ng-repeat="item in structure.hstack" label="{{item.label}}"
        class="survey-{{item.level}}">
    <a ng-if="item.entity.title && !$last"
            ng-href="#/{{item.path}}/{{item.entity.id}}{{
                item.path != 'survey' ? '?survey=' + structure.survey.id : ''
            }}">
        <span ng-if="item.entity.seq != null">
            {{item.entity.seq + 1}}.</span>
        <span class="when-expanded">
            {{item.entity.title}}</span>
    </a>
    <span ng-if="item.entity.title && $last">
        <span ng-if="item.entity.seq != null">
            {{item.entity.seq + 1}}.</span>
        <page-title>{{item.entity.title}}</page-title>
    </span>
    <span ng-if="!item.entity.title">
        <page-title>{{item.title}} - New</page-title>
    </span>
</h2>
</div>
