<div class="measure">
<div class="container">
    <div class="section">
        <div class="toolbar">
            <button class="btn btn-default btn-round" title="Reset order"
                    ng-click="edit.cancel()"
                    ng-if="edit.model">
                <i class="fa fa-fw fa-times"></i></button>
            <button class="btn btn-default btn-round" title="Save order"
                    ng-click="edit.save()"
                    ng-if="edit.model">
                <i class="fa fa-fw fa-check"></i></button>
            <button class="btn btn-default btn-round" title="Change order"
                    ng-click="edit.edit()"
                    ng-if="canEdit && model.length > 1 && !edit.model && checkRole('reorder')">
                <i class="fa fa-fw fa-unsorted"></i></button>
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#{{href('new')}}"
                    ng-if="canEdit && !edit.model && checkRole('add')">
                <i class="fa fa-fw fa-plus"></i></a>
            <span ng-transclude></span>
        </div>
        <h2>{{title}}</h2>
    </div>

    <table ng-if="!edit.model && model.length" class="table table-hover">
        <tbody ng-model="model">
            <tr ng-repeat="item in model" any-href="{{href(item.id)}}">
                <td class="shrink">{{item.seq + 1}}</td>
                <td>{{item.title}}</td>
            </tr>
        </tbody>
    </table>

    <table ng-if="edit.model.length" class="table">
        <tbody ui-sortable="dragOpts" ng-model="edit.model">
            <tr ng-repeat="item in edit.model"">
                <td class="shrink">{{item.seq + 1}}</td>
                <td>{{item.title}}</td>
                <td class="shrink grab-handle">
                    <i class="fa fa-fw fa-unsorted"></i></td>
            </tr>
        </tbody>
    </table>

    <p ng-if="!model.length" class="text-muted">
        No items.
    </p>
</div>
</div>
