<div class="response">

<div class="section">
    <div class="toolbar">
        <span ng-if="!edit.model" ng-transclude></span>
    </div>
    <h2>
        Response
        <span ng-if="debug">Sample</span>
        <span ng-if="checkRole('view_single_score') && responseType.parts.length"
                class="text-muted pull-right" title="Score (weighted)">
            {{stats.score * weight | number:0}}
        </span>
    </h2>
</div>

<ol class="responses list-unstyled" ng-if="!response.notRelevant">
    <li ng-repeat="part in responseType.parts" class="clearfix"
            ng-class="{active: $index == state.active}"
            title="{{part.description}}">
        <div ng-if="part.name" class="hidden-print">
            <label ng-click="state.active = $index">{{part.name}}</label>
        </div>
        <div>
            <div class="btn-group btn-group-justified hidden-print"
                    ng-init="pi = $index">
                <div class="btn-group"
                        ng-repeat="o in part.options">
                <button class="btn btn-default"
                        ng-class="{active: active(pi, $index)}"
                        ng-click="choose(pi, $index)"
                        ng-disabled="!enabled(pi, $index)"
                        title="{{o.description || part.description}}">
                    <span class="index">{{$index + 1}}</span>
                    {{o.name}}
                    <span class="text-hidden">{{$index + 1}}</span>
                </button>
                </div>
            </div>
        </div>
        <div class="visible-print-block">
            <span ng-if="part.name">{{part.name}}:</span>
            <span ng-if="getActiveOption($index)">
                {{getActiveOption($index).index + 1}}
                {{getActiveOption($index).note}}
            </span>
            <span ng-if="!getActiveOption($index)">-</span>
        </div>
    </li>
</ol>

<docs ng-if="docs.length">
    <i class="fa-li fa fa-check-square-o fa-border"></i>

    <div ng-repeat="part in docs">
        <h3 ng-if="docs.length == 1">
            Response {{part.name}}
        </h3>
        <h3 ng-if="docs.length > 1">
            Response Part {{part.index + 1}}. {{part.name}}
        </h3>
        <p ng-if="part.description" class="formatted"
            >{{part.description}}</p>
        <dl ng-init="pi = $index">
            <dt ng-repeat-start="o in part.options"
                    ng-if="o.description"
                    ng-class="o.active ? 'active' : null">
                Option {{o.index + 1}}. {{o.name}}
            </dt>
            <dd ng-repeat-end class="formatted"
                    ng-if="o.description"
                    ng-class="o.active ? 'active' : null"
                >{{o.description}}</dd>
        </dl>
    </div>
</docs>

<label for="comments" class="sr-only">Comments</label>
<p class="visible-print-block">Comments:</p>
<div textarea-label="{{!response.comment ? 'Comments' : ''}}">
    <markdown-editor id="comments"
        ng-model="response.comment" placeholder="''"
        markdown-editor-focus-on="focus-comment" title="Comments"
        markdown-editor-blur-on="blur-comment"></markdown-editor>
</div>

</div>
