<div class="response">

<div>
    <div class="toolbar compact">
        <span ng-if="!edit.model" ng-transclude></span>
    </div>
    <h2>
        Response

        <span class="text-muted">
            <small ng-if="state.message">
                <i class="fa fa-exclamation fa-fw"></i> {{state.message}}
            </small>
            <small ng-if="!state.message">
                <i class="fa fa-check fa-fw"></i> OK
            </small>
        </span>

        <span ng-if="checkRole('view_single_score') && rt.parts.length"
                class="text-muted pull-right" title="Score (weighted)">
            {{state.score * weight | number:0}}
        </span>
    </h2>
</div>

<ol class="responses list-unstyled" ng-if="!response.notRelevant">
    <li ng-repeat="partSchema in rt.parts"
            ng-class="{active: $index == state.active}"
            title="{{partSchema.description}}"
            class="clearfix">
        <div ng-if="partSchema.name" class="hidden-print" ng-hide="readonly">
            <label ng-click="state.active = $index">
                <span>{{partSchema.name}}</span>
            </label>
        </div>
        <div class="hidden-print" ng-hide="readonly"
                ng-init="partData = getPartData(partSchema)">
            <div class="btn-group btn-group-justified">
                <div class="btn-group"
                        ng-if="partSchema.type == 'multiple_choice'"
                        ng-repeat="o in partSchema.options">
                    <button class="btn btn-default"
                            ng-class="{active: getPartData(partSchema).index == $index}"
                            ng-click="choose(partSchema, o)"
                            ng-disabled="!available(o)"
                            title="{{o.description || partSchema.description}}"
                        ><span class="index">{{$index + 1}}</span
                        ><span>{{o.name}}</span
                    ></button>
                </div>
                <div class="input-group"
                        ng-if="partSchema.type == 'numerical'">
                    <span class="input-group-addon text-muted">
                        {{
                            isFinite(partSchema.lower(state.variables)) ?
                            '' + partSchema.lower(state.variables) + ' ≤' :
                            ''
                        }}
                    </span>
                    <input type="number" step="any" class="form-control"
                            ng-model="getPartData(partSchema).value"
                            title="{{partSchema.description}}"
                            placeholder="Enter a number">
                    </input>
                    <span class="input-group-addon text-muted">
                        {{
                            isFinite(partSchema.upper(state.variables)) ?
                            '≤ ' + partSchema.upper(state.variables) :
                            ''
                        }}
                    </span>
                </div>
            </div>
        </div>
        <div ng-class="readonly ? null : 'visible-print-block'">
            <span ng-if="partSchema.name">{{partSchema.name}}:</span>
            <span ng-if="partData.index != null">
                {{partData.index + 1}}
                {{partData.note}}
            </span>
            <span ng-if="partData.index == null">-</span>
        </div>
    </li>
</ol>

<docs>
    <i class="fa-li fa fa-check-square-o fa-border"></i>

    <div ng-repeat="partSchema in rt.parts"
            ng-init="partData = getPartData(partSchema)">
        <h3>
            Response Part {{$index + 1}}. {{partSchema.name}}
        </h3>
        <p ng-if="partSchema.description" class="formatted"
            >{{partSchema.description}}</p>
        <dl ng-init="pi = $index">
            <dt ng-repeat-start="o in partSchema.options | filter:description"
                    ng-class="{active: partData.index == $index}">
                Option {{$index + 1}}. {{o.name}}
            </dt>
            <dd ng-repeat-end class="formatted"
                    ng-class="{active: partData.index == $index}"
                >{{o.description}}</dd>
        </dl>
    </div>
</docs>

<label for="comments" class="sr-only">Comments</label>
<p ng-class="readonly ? null : 'visible-print-block'">Comments:</p>
<div ng-if="!readonly"
        textarea-label="{{!response.comment ? 'Comments' : ''}}">
    <markdown-editor id="comments"
        ng-model="response.comment" placeholder="''"
        markdown-editor-focus-on="focus-comment" title="Comments"
        markdown-editor-blur-on="blur-comment"></markdown-editor>
</div>

<p ng-if="readonly">{{response.comment || 'None'}}</p>

<ol class="responses list-unstyled spaced" ng-if="!response.notRelevant && hasQuality">
    <li class="clearfix" title="Quality">
        <div class="hidden-print" ng-hide="readonly">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: !response.quality}"
                            ng-click="response.quality = 0"
                            title="Do not specify a rating for quality of this response">
                        Unspecified
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: response.quality == 1}"
                            ng-click="response.quality = 1"
                            title="Rate quality of this response as 1">
                        1: Low quality
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: response.quality == 2}"
                            ng-click="response.quality = 2"
                            title="Rate quality of this response as 2">
                        2
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: response.quality == 3}"
                            ng-click="response.quality = 3"
                            title="Rate quality of this response as 3">
                        3
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: response.quality == 4}"
                            ng-click="response.quality = 4"
                            title="Rate quality of this response as 4">
                        4
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-class="{active: response.quality == 5}"
                            ng-click="response.quality = 5"
                            title="Rate quality of this response as 5">
                        5: High quality
                    </button>
                </div>
            </div>
        </div>
        <div ng-class="readonly ? null : 'visible-print-block'">
            <span>Quality:</span>
            <span>{{response.quality}}</span>
        </div>
    </li>
</ol>

</div>
