<div class="section" ng-show="!rtEdit.rt">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Add new"
                ng-click="addRt(edit.model)">
            <i class="fa fa-fw fa-plus"></i></button>
    </div>
    <h2>
        Response Types
    </h2>

    <ul class="list-results">
        <li ng-repeat="rt in edit.model.responseTypes">
            <a href ng-click="editRt(edit.model, $index)">
                <button class="btn btn-default btn-round pull-right" title="Remove"
                        ng-click="remove(rt, edit.model.responseTypes, rt); $event.preventDefault()"
                        ng-style="{visibility: edit.model.responseTypes.length <= 1 ? 'hidden' : null}">
                    <i class="fa fa-fw fa-trash-o"></i></button>
                <h4>{{rt.name}}</h4>
                <p>
                    <ng-pluralize count="rt.parts.length"
                        when="{
                            '0': 'Comment only (no score)',
                            '1': '1 part',
                            'other': '{} parts'}"></ng-pluralize>
                    <span ng-if="rt.parts.length > 0">
                        -
                        <span ng-repeat="opt in rt.parts[0].options"><span
                                ng-if="$index > 0">, </span>
                            {{opt.name}}</span>
                    </span>
                    <span ng-if="rt.parts.length > 1">(etc.)</span>
                </p>
            </a>
        </li>
        <li ng-if="!edit.model.responseTypes.length">
            This program has no response types. You can create one by
            pressing the <i class="fa fa-fw fa-plus"></i> button above.
        </li>
    </ul>
</div>

<form highlight highlight-dismiss="cancelRt()"
        ng-if="rtEdit.rt" ng-init="rt = rtEdit.rt">
    <div class="section">
        <div class="toolbar">
            <button class="btn btn-default btn-round" title="Cancel"
                    ng-click="cancelRt()">
                <i class="fa fa-fw fa-times"></i></button>
            <button class="btn btn-default btn-round" title="OK"
                    ng-click="saveRt()">
                <i class="fa fa-fw fa-check"></i></button>
        </div>
        <h2>
            {{rt.name}} <span class="text-muted">(Editing)</span>
        </h2>
    </div>

    <div class="form-group" show-errors>
        <label for="ltitle{{$index}}">Name</label>
        <input type="text" class="form-control"
            id="ltitle{{$index}}" name="ltitle{{$index}}"
            title="Response type name"
            ng-model="rt.name" required
            placeholder="Name" />
    </div>
    <div class="form-group" show-errors>
        <label for="lid{{$index}}">ID</label>
        <input type="text" class="form-control"
            id="lid{{$index}}" name="lid{{$index}}"
            title="Response type ID (links to measures)"
            ng-model="rt.id" required
            placeholder="ID" />
    </div>

    <div class="section">
        <h3>Response Parts</h3>
    </div>
    <ul class="list-unstyled list-form">
        <li ng-repeat="part in rt.parts" ng-init="rti = $index">
            <div class="input-group">
                <span uib-dropdown class="input-group-btn">
                    <button class="btn btn-success" title="Part type"
                            uib-dropdown-toggle>
                        {{partTypeMap[part.type]}}
                        <i class="fa fa-triangle-down"></i>
                    </button>

                    <ul uib-dropdown-menu class="dropdown-menu-right">
                        <li ng-repeat="pt in partTypes">
                            <a href ng-click="setType(part, pt.name)">
                                {{pt.desc}}
                            </a>
                        </li>
                    </ul>
                </span>
                <label for="lid{{rti}}-{{$index}}" class="input-group-addon">
                    ID:</label>
                <input type="text" class="form-control"
                    id="lid{{rti}}-{{$index}}"
                    name="lid{{rti}}-{{$index}}"
                    ng-model="part.id" empty-as-null
                    placeholder="Part ID"
                    title="Part ID" />
                <label for="ltitle{{rti}}-{{$index}}" class="input-group-addon">
                    Name:</label>
                <input type="text" class="form-control"
                    id="ltitle{{rti}}-{{$index}}"
                    name="ltitle{{rti}}-{{$index}}"
                    ng-model="part.name" empty-as-null
                    placeholder="{{rt.parts.length > 1 ?
                        'Part name (required for multi-part response types)' :
                        'Part name (optional for one-part response types)'}}"
                    title="Part name" />
                <span class="input-group-btn">
                    <button class="btn btn-default" title="Remove"
                            ng-click="remove(rt, rt.parts, part)">
                        <i class="fa fa-fw fa-trash-o"></i></button>
                </span>
            </div>
            <div class="form-group">
                <textarea class="form-control autoresize"
                    id="ltitle{{rti}}-{{$index}}"
                    name="ltitle{{rti}}-{{$index}}"
                    ng-model="part.description" empty-as-null
                    placeholder="Part description (optional)"
                    title="Part description"></textarea>
            </div>
            <ul class="list-unstyled list-form" ng-if="part.type == 'multiple_choice'">
                <li ng-repeat="opt in part.options"
                        ng-init="pi = $index">
                    <div class="input-group" show-errors>
                        <label for="lscore{{rti}}-{{pi}}-{{$index}}"
                                class="input-group-addon">
                            Value:</label>
                        <input type="number" class="form-control"
                            id="lscore{{rti}}-{{pi}}-{{$index}}"
                            name="lscore{{rti}}-{{pi}}-{{$index}}"
                            ng-model="opt.score" required
                            placeholder="Option score (0..1)"
                            title="The score for this option (0..1)"/>
                        <label for="lname{{rti}}-{{pi}}-{{$index}}"
                                class="input-group-addon">
                            Name:</label>
                        <input type="text" class="form-control"
                            id="lname{{rti}}-{{pi}}-{{$index}}"
                            name="lname{{rti}}-{{pi}}-{{$index}}"
                            ng-model="opt.name" required
                            placeholder="Option name"
                            title="Option name"/>
                        <label for="lif{{rti}}-{{pi}}-{{$index}}"
                                class="input-group-addon">
                            Condition:</label>
                        <input type="text" class="form-control"
                            id="lif{{rti}}-{{pi}}-{{$index}}"
                            name="lif{{rti}}-{{pi}}-{{$index}}"
                            ng-model="opt['if']" empty-as-null
                            placeholder="Condition (default: always)"
                            title="The condition under which this option is available (expression; see docs)" />
                        <span class="input-group-btn"
                                ng-if="part.options.length > 2 && $last">
                            <button class="btn btn-default"
                                    title="Remove"
                                    ng-click="remove(rt, part.options, opt)">
                                <i class="fa fa-fw fa-trash-o"></i></button>
                        </span>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="ldesc{{rti}}-{{pi}}-{{$index}}"
                        class="sr-only">
                            Option description</label>
                        <textarea type="text"
                            class="form-control autoresize"
                            id="ldesc{{rti}}-{{pi}}-{{$index}}"
                            name="ldesc{{rti}}-{{pi}}-{{$index}}"
                            ng-model="opt.description" empty-as-null
                            placeholder="Option description (optional)"
                            title="A tooltip to show to the user"
                            ></textarea>
                    </div>
                </li>
                <li>
                    <button class="btn btn-default btn-block"
                            title="Add option"
                            ng-click="addOption(part)"
                            ng-if="part.type == 'multiple_choice'">
                        <i class="fa fa-fw fa-plus"></i>
                        <span ng-if="part.options.length == 0">Add an option</span>
                        <span ng-if="part.options.length > 0">Add another option</span>
                    </button>
                </li>
            </ul>
            <div class="input-group" ng-if="part.type == 'numerical'">
                <label for="lower_{{$index}}" class="input-group-addon">
                    Lower bound:</label>
                <input type="text" class="form-control"
                    id="lower_{{$index}}"
                    ng-model="part.lower"
                    placeholder="E.g. 0.0 (default: -infinity)"
                    title="The lower bound (minimum) for this part (expression; see docs)"/>
                <label for="upper_{{$index}}" class="input-group-addon">
                    Upper bound:</label>
                <input type="text" class="form-control"
                    id="upper_{{$index}}"
                    ng-model="part.upper"
                    placeholder="E.g. 1.0 (default: +infinity)"
                    title="The upper bound (maximum) for this part (expression; see docs)"/>
            </div>
        </li>
        <li>
            <button class="btn btn-default btn-block" title="Add part"
                    ng-click="addPart(rt)">
                <i class="fa fa-fw fa-plus"></i>
                <span ng-if="rt.parts.length == 0">Add a response part</span>
                <span ng-if="rt.parts.length > 0">Add another response part</span>
            </button>
        </li>
    </ul>

    <p ng-if="!rt.parts.length">
        This response type has no response parts. You can create one by
        pressing the <i class="fa fa-fw fa-plus"></i> button above.
    </p>

    <div class="section" ng-if="rt.parts.length > 1">
    <div class="form-group" show-errors>
        <label for="lformula{{$index}}">Score Formula</label>
        <input type="text" class="form-control"
            id="lformula{{$index}}" name="lformula{{$index}}"
            ng-model="rt.formula" />
    </div>
    </div>

    <response class="spaced well" type="rt" model="rtEdit.response" debug></response>
</form>

<docs>
    <i class="fa-li fa fa-sliders fa-border"></i>
    <h3>Defining a Response Type</h3>
    <p>
        Each measure that is part of this program will need to use one of these
        response types. They determine the types of answers that a respondent
        can give, and how the scores are calculated.
    </p>
    <p ng-if="edit.model.id || duplicating">
        <b>Be careful</b> when editing existing response types: the ID fields
        are used to link the types with the measures. If you remove a type or
        change its ID, be sure to update the measures.
    </p>

    <div ng-if="rtEdit.rt" highlight>
      <h4>Score calculation</h4>
      <p>
          Responses can have any number of parts. Those with no parts will not
          contribute to a respondent's score. Otherwise, the score is calculated
          by combining the scores of the parts. By default, the score is simply
          the sum of all the parts - however that can be customised by setting
          the <i>Formula</i>. For example, a formula of <i>(a + b) * c</i> would
          add parts <i>a</i> and <i>b</i> together, and then multiply by <i>c</i>
          - where <i>a</i>, <i>b</i> and <i>c</i> are the IDs of the response
          parts.
      </p>

      <h4>Multiple choice parts</h4>
      <p>
          A multiple choice part has several options for the user to choose
          from. Each option has a score and an index, either of which can be
          used in your formula to determine the overall score of the response.
          By default, only the score is used.
      </p>
      <p>
          The <i>Condition</i> field defines the conditions under which a
          respondent can select each option. For example, <i>a > 0.5</i> means the
          option is only available when the score of part <i>a</i> is greater than
          <i>0.5</i>, while <i>a__i > 2</i> means the option is avialable when
          item 3 or above has been selected for part <i>a</i>.
      </p>

      <h4>Numerical parts</h4>
      <p>
          A numerical response part lets the user enter a number instead of
          choosing an option.
      </p>
      <p>
          The <i>Lower bound</i> and <i>Upper bound</i> fields define the range
          of numbers a respondent can select. For example,
          if the expression for <i>lower bound</i> is <i>0.5</i>, the value must
          be greater than or equal to <i>0.5</i>. Other parts
          can be referred to, e.g. an <i>upper bound</i> of <i>a</i> means the
          value must be less than or equal to the value given for part
          <i>a</i>.
      </p>
    </div>
</docs>
