<script type="text/javascript">
'use strict';
angular.module('settings', [])

{% if deploy_id is not None %}
.constant('deployId', '{{deploy_id}}')
{% else %}
.constant('deployId', null)
{% end %}

{% if aq_version is not None %}
.constant('aqVersion', '{{aq_version}}')
{% else %}
.constant('aqVersion', null)
{% end %}

.constant('versionedResources', {
    exclude: [
        '^/?template/tooltip',
        '^/?bootstrap',
        '^/?nodes_renderer'
    ],
    include: [
        '^/?.*\.html$',
        '^/?images/',
        '^/?css/',
        '^/?\.bower_components/'
    ]
})

.constant('pageTitleSuffix', ' - Aquamark')

;
</script>
