<script type="text/javascript">
'use strict';
angular.module('settings', [])

{% if params.deploy_id is not None %}
.constant('deployId', '{{params.deploy_id}}')
{% else %}
.constant('deployId', null)
{% end %}

{% if params.aq_version is not None %}
.constant('aqVersion', '{{params.aq_version}}')
{% else %}
.constant('aqVersion', null)
{% end %}

.constant('versionedResources', {
    exclude: [
        '^/?uib/template/tooltip',
        '^/?template/color-picker',
        '^/?bootstrap',
        '^/?nodes_renderer'
    ],
    include: [
        '^/?.*\.html$',
        '^/?images/',
        '^/?css/',
        '^/?\.bower_components/',
    ],
    volatile: [
        // Fix for aggressive IE caching
        '\.json',
        '^/export/',
        '^/adhoc_query',
        '\.sql',
    ]
})

.constant('pageTitleSuffix', ' - {{theme.app_name_short}}')

.constant('releaseMode', {
    dev: {{params.dev_mode}},
})

;
</script>
