<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
    </div>
    <h2 page-title>
        Box-and-Whisker Plot
    </h2>
</div>
</div>

<div class="subheader bg-muted">

<div>
<div class="container text-center text-muted assessment-header"
         title="Switch to a different survey">
    <div title="Organisation 1">
        <a ng-href="#/org/{{assessment1.organisation.id}}"
                class="stealth btn btn-link">
            {{assessment1.organisation.name}}</a>
    </div>
    <div title="Submission">
        <a ng-href="#/assessment/{{assessment1.id}}"
                class="stealth btn btn-link">
            {{assessment1.title}}</a>
    </div>
    <div title="Submission" ng-if="!assessment1">
        <span>
            No first submission
        </span>
    </div>
    <div>
        <button class="btn-round btn btn-default"
                ng-click="toggleDropdown(1)">
            <i class="fa fa-caret-up"
                ng-if="chooser == 1"></i>
            <i class="fa fa-caret-down"
                ng-if="chooser != 1"></i>
        </button>
    </div>

    <div title="Organisation 2"
            ng-if="assessment2 &&
                   assessment2.organisation.id != assessment1.organisation.id">
        <a ng-href="#/org/{{assessment2.organisation.id}}"
                class="stealth btn btn-link">
            {{assessment2.organisation.name}}</a>
    </div>
    <div title="Submission" ng-if="assessment2">
        <a ng-href="#/assessment/{{assessment2.id}}"
                class="stealth btn btn-link">
            {{assessment2.title}}</a>
    </div>
    <div title="Submission" ng-if="!assessment2">
        <span>
            No second submission
        </span>
    </div>
    <div>
        <button class="btn-round btn btn-default"
                ng-click="toggleDropdown(2)">
            <i class="fa fa-caret-up"
                ng-if="chooser == 2"></i>
            <i class="fa fa-caret-down"
                ng-if="chooser != 2"></i>
        </button>
    </div>
</div>
</div>

<div class="atop" ng-if="chooser == 1"
        assessment-select="assessment1"
        track survey="assessment1.survey"
        org="org1"
        format-url="getAssessmentUrl1"
        disallow-none="assessment2 == null"></div>

<div class="atop" ng-if="chooser == 2"
        assessment-select="assessment2"
        track survey="assessment1.survey"
        org="org2"
        format-url="getAssessmentUrl2"
        disallow-none="assessment1 == null"></div>

</div>

<div class="container chart" id="chart"></div>
