<div surrogate-height="0">

<div class="container" surrogate-height-target>
    <div class="section">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Import"
                    ng-href="#/1/submission/import?program={{program.id}}&organisation={{aSearch.organisation.id}}"
                    ng-if="showEdit && purchasedSurvey && checkRole('submission_add')">
                <i class="fa fa-fw fa-cloud-upload"></i></a>
            <a class="btn btn-default btn-round" title="Duplicate existing"
                    ng-href="#/1/submission/duplicate?program={{program.id}}&organisation={{aSearch.organisation.id}}"
                    ng-if="showEdit && purchasedSurvey && checkRole('submission_add')">
                <i class="fa fa-fw fa-clone">
                    <i class="fa fa-link fa-badge"></i>
                </i></a>
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/1/submission/new?program={{program.id}}&organisation={{aSearch.organisation.id}}"
                    ng-if="showEdit && purchasedSurvey && checkRole('submission_add')">
                <i class="fa fa-fw fa-plus"></i></a>
            <a ng-href="#{{getSubmissionUrl(null)}}"
                    class="btn btn-default btn-round"
                    ng-if="!disallowNone && (showEdit || submission)"
                    title="View without a submission">
                <i class="fa fa-ban"></i></a>
        </div>
        <h2 label="Sb">
            Submissions
        </h2>
    </div>

    <ui-select ng-model="aSearch.organisation" reset-search-input="false"
            ng-if="checkRole('submission_review')">
        <ui-select-match placeholder="Type to select organisation">
            <i class="fa fa-university"></i>
            {{aSearch.organisation.name}}</ui-select-match>
        <ui-select-choices
                repeat="organisation in organisations | filter: $select.search"
                refresh="searchOrg($select.search)"
                refresh-delay="0">
            <div ng-bind-html="organisation.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>

    <search-box class="spaced" model="search" result="submissions">
        <button class="btn btn-default" type="button"
                title="{{aSearch.historical ?
                    'Include submissions for other related programs' :
                    'Only show submissions for this program'}}"
                ng-click="aSearch.historical = !aSearch.historical">

            <i class="fa fa-history">
                <i class="fa fa-ban fa-badge text-danger"
                    ng-if="!aSearch.historical"></i>
            </i>

            <span class="sr-only">Related</span>
        </button>
        <delete-cycle model="search.deleted"></delete-cycle>
    </search-box>

    <ul class="list-results spaced">
        <li ng-repeat="a in submissions"
                ng-class="{active: a.id == submission.id,
                           strike: a.deleted}">
            <a ng-href="#{{getSubmissionUrl(a)}}"
                    ng-click="toggleDropdown()">
                <h4>{{a.title}}
                    <span class="pull-right">
                        <approval model="a.approval"></approval>
                    </span></h4>
                <p class="truncate">
                    {{a.survey.title}} in {{a.program.title}}
                    <span class="hidden-print">
                        - {{a.created * 1000 | timeAgo:'medium'}}
                    </span>
                    <span class="visible-print-inline">
                        - {{a.created * 1000 | date:'medium'}}
                    </span>
                    - {{a.organisation.name}}
                </p>
            </a>
        </li>
    </ul>

    <p ng-if="!submissions.length">
        <i>{{aSearch.organisation.name}}</i> has no
        <span ng-if="search.term">
            matching
        </span>
        submissions
        <span ng-if="search.surveyId && search.programId">
            for this survey in this program.
        </span>
        <span ng-if="search.surveyId && !search.programId">
            for this survey.
        </span>
        <span ng-if="search.programId && !search.surveyId">
            for this program.
        </span>

        <span ng-if="!purchasedSurvey && showEdit">
            The survey must be purchased before a submission can be created.
        </span>
    </p>
    <div class="text-center hidden-print">
        <a ng-href="#/1/submission/new?program={{program.id}}&organisation={{aSearch.organisation.id}}"
                class="btn btn-link btn-lg"
                ng-if="purchasedSurvey && checkRole('submission_add') && showEdit && !submissions.length">
            <i class="fa fa-plus"></i>
            Start a new submission
        </a>
        <a ng-href="#{{getSubmissionUrl(null)}}"
                class="btn btn-link btn-lg"
                ng-if="!disallowNone && (showEdit || submission)">
            <i class="fa fa-ban"></i>
            View without a submission
        </a>
    </div>
    <p class="text-muted text-center">
        <span ng-if="!aSearch.historical">
            Only showing submissions for this program
            <i class="fa fa-history"></i>.
        </span>
        <span ng-if="aSearch.historical">
            Including submissions for related programs
            <i class="fa fa-history"></i>.
        </span>

        <span ng-if="purchasedSurvey && checkRole('submission_add') &&
                  showEdit && submissions.length"
                class="hidden-print">
            You can start another submission by clicking the
            <i class="fa fa-plus"></i> button above.
        </span>
    </p>
</div>

</div> <!-- surrogate-height -->
