<div class="header"
    ng-class="{'deleted': structure.deletedItem}">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Report"
            ng-click="openReportForm()"
            ng-if="!structure.deletedItem && !edit.model">
            <i class="fa fa-cloud-download"> </i>
        </button>
        <a class="btn btn-default btn-round" title="Statistics"
                ng-href="#/1/statistics?submission1={{submission.id}}"
                ng-if="!structure.deletedItem && !edit.model &&
                       checkRole('submission_admin')">
            <i class="fa fa-sml fa-bar-chart-o"></i></a>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!structure.deletedItem && !edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>

        <delete-button model="submission" editor="edit"
                ng-if="!edit.model && checkRole('submission_admin')"></delete-button>

        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <a class="btn btn-default btn-round" title="Cancel"
                ng-href="#/1/program/{{program.id}}"
                ng-if="edit.model && !edit.model.id">
            <i class="fa fa-times"></i></a>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!structure.deletedItem && !edit.model &&
                       checkRole('submission_edit')">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/1/subscription/submission?id={{submission.id}}"
                ng-if="!edit.model">
            <i class="fa fa-envelope"></i></a>
    </div>
    <question-header entity="submission.survey" submission="submission"></question-header>
</div>
</div>

<submission-header ng-if="!edit.model"></submission-header>

<div class="container" ng-if="edit.model && !edit.model.survey">
    <p>
        Please choose a survey. This will determine the categories that
        are available to you.
    </p>

    <ul class="list-results">
        <li ng-repeat="survey in surveys">
            <a href ng-click="edit.model.survey = survey">
                <h4>{{survey.title}}</h4>
                <p class="truncate">{{survey.nMeasures}} measures</p>
            </a>
        </li>
    </ul>
</div>

<div class="container" ng-if="edit.model && edit.model.survey">
    <form novalidate name="form" id="editor" form-nav-warn>
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group" show-errors>
            <label> Submission Date</label>
            <div class="input-group">
                <input type="text" uib-datepicker-popup="{{format}}"
                        class="form-control" ng-model="edit.model.$created"
                        is-open="calender.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close">
                </input>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalender()">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="checkbox"
                ng-if="!edit.model.id && !duplicate && checkRole('program_edit')">
            <label>
                <input type="checkbox" id="fillRandom" name="fillRandom"
                    ng-model="edit.params.fillRandom" />
                Fill with random scores
            </label>
        </div>
    </form>

    <p class="text-muted" ng-if="duplicate">
        Source submission: <i>{{duplicate.title}}</i>
    </p>

    <p class="text-muted">
        Target survey: <i>{{edit.model.survey.title}}</i>
    </p>

</div>

<div ng-if="!edit.model" class="container">
  <form highlight highlight-dismiss="closeReportForm()" ng-if="reportForm"
        class="report-form">
        <div class="section">
            <div class="toolbar">
                <button class="btn btn-default btn-round" title="Cancel"
                        ng-click="closeReportForm()">
                    <i class="fa fa-fw fa-times"></i></button>
                <button class="btn btn-default btn-round" title="OK"
                        ng-click="downloadReport(reportSpec, 'xlsx', submission.survey.id)">
                    <i class="fa fa-fw fa-check"></i></button>
            </div>
            <h2>
                Report settings
            </h2>
        </div>
        <div class="form-group" ng-if="checkRole('submission_review')">
            <h3>
                Report type
            </h3>
            <ui-select ng-model="reportForm.type" search-enabled="false"
                ng-if="checkRole('submission_review')">
                <ui-select-match placeholder="Select report type">
                    <span>{{reportForm.type}}</span>
                </ui-select-match>
                <ui-select-choices
                    repeat="type in reportForm.reportTypes | filter: $select.search">
                        <div ng-bind-html="type"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <h3>
                Date range and interval
            </h3>
            <div class="input-group">
                <label class="input-group-addon">
                    Start Date:
                </label>
                <input type="text" uib-datepicker-popup="{{format}}"
                        class="form-control" ng-model="reportForm.min_date"
                        is-open="startCalender.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close">
                </input>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openStartCalender()">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <label class="input-group-addon">
                    End Date:
                </label>
                <input type="text" uib-datepicker-popup="{{format}}"
                        class="form-control" ng-model="reportForm.max_date"
                        is-open="endCalender.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close">
                </input>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEndCalender()">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <label class="input-group-addon">
                    Interval:
                </label>
                <ui-select ng-model="reportSpec.intervalNum" search-enabled="false">
                    <ui-select-match placeholder="Select time inteval">
                        <span>{{reportSpec.intervalNum}}</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="number in reportForm.intervalNumbers | filter: $select.search">
                            <div ng-bind-html="number"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="input-group-addon"></label>
                <ui-select ng-model="reportSpec.intervalUnit" search-enabled="false">
                    <ui-select-match placeholder="Select time inteval">
                        <span>{{reportSpec.intervalUnit}}</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="unit in reportForm.intervalUnits | filter: $select.search">
                            <div ng-bind-html="unit"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <p class="text-muted commasep">
                <span class="">
                    Dates will be rounded to the start of the nearest {{roundInterval()}} </span>
            </p>
        </div>

        <div class="form-group report-filters">
            <h2>
                Filters (optional)
            </h2>

            <div class="section">
                <div class="toolbar">
                    <a class="btn btn-default btn-round" title="Add location"
                            ng-click="reportForm.locations.push(null)">
                        <i class="fa fa-fw fa-plus"></i>
                    </a>
                </div>
                <h3>
                    Location of organisation
                </h3>
            </div>
            <table class="table" ng-if="reportForm.locations.length">
                <tr class="form-row" ng-repeat="(i, loc) in reportForm.locations track by $index">
                    <td>
                        <input type="text" class="form-control" id="loc-search-{{$index}}"
                            ng-model="reportForm.locations[$index]"
                            uib-typeahead="l as l.description for l in searchLoc($viewValue)"
                            typeahead-wait-ms="700" typeahead-min-length="2"
                            autocomplete="off">
                        <p class="text-muted commasep">
                            <span class="" ng-if="loc.country">
                                country:
                                {{loc.country}}</span><!--
                         --><span class="" ng-if="loc.state">
                                state:
                                {{loc.state}}</span><!--
                         --><span class="" ng-if="loc.region">
                                region/state district:
                                {{loc.region}}</span><!--
                         --><span class="" ng-if="loc.county">
                                county:
                                {{loc.county}}</span><!--
                         --><span class="" ng-if="loc.postcode">
                                postcode:
                                {{loc.postcode}}</span><!--
                         --><span class="" ng-if="loc.city">
                                city/town:
                                {{loc.city}}</span><!--
                         --><span class="" ng-if="loc.suburb">
                                suburb:
                                {{loc.suburb}}</span>
                        </p>
                    </td>
                    <td class="shrink">
                        <button class="btn btn-default btn-round"
                                title="Remove"
                                ng-click="deleteLocation($index)">
                                <i class="fa fa-fw fa-trash-o"></i></button>
                    </td>
                </tr>
            </table>
            <p ng-if="!reportForm.locations.length" class="text-muted">
                No locations have been selected. Press the
                <i class="fa fa-plus"></i> button to add one.
            </p>
            <h3>
                Organisation size
            </h3>
            <div class="input-group">
                <label class="input-group-addon">
                    Min FTEs:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.minFtes" empty-as-null
                        placeholder="Minimum number of FTEs"
                        title="Only include responses from organisations with more than this many FTEs"/>
                <label class="input-group-addon">
                    Max FTEs:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.maxFtes" empty-as-null
                        placeholder="Maximum number of FTEs"
                        title="Only include responses from organisations with less than this many FTEs"/>
            </div>
            <div class="input-group">
                <label class="input-group-addon">
                    Min Contractors:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.minContractors" empty-as-null
                        placeholder="Minimum number of contractors"
                        title="Only include responses from organisations with more than this many contractors"/>
                <label class="input-group-addon">
                    Max Contractors:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.maxContractors" empty-as-null
                        placeholder="Maximum number of contractors"
                        title="Only include responses from organisations with less than this many contractors"/>
            </div>
            <div class="input-group">
                <label class="input-group-addon">
                    Min Employees:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.minEmployees" empty-as-null
                        placeholder="Minimum total employees"
                        title="Only include responses from organisations with more than this many employees"/>
                <label class="input-group-addon">
                    Max Employees:
                </label>
                <input type="number" class="form-control"
                        ng-model="reportSpec.maxEmployees" empty-as-null
                        placeholder="Maximum total employees"
                        title="Only include responses from organisations with less than this many employees"/>
            </div>
            <h3>
                Response quality
            </h3>
            <div class="input-group">
                <label class="input-group-addon">
                    Quality:
                </label>
                <ui-select ng-model="reportSpec.quality" search-enabled="false"
                            title="Only include responses with quality rating above this">
                    <ui-select-match placeholder="Select minimum response quality">
                        <span>{{reportSpec.quality}}</span>
                    </ui-select-match>
                    <ui-select-choices
                        repeat="quality in reportForm.responseQualities | filter: $select.search">
                            <div ng-bind-html="quality"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <h3>
                Approval status
            </h3>
            <div class="input-group">
                <approval-buttons class="spaced" model="reportSpec.approval"
                                  allowed='reportForm.allowedStates'
                                  set-state='setReportApproval(state)'>
                </approval-buttons>
            </div>
        </div>
  </form>
</div>

<div ng-if="!edit.model && !reportForm" class="container">
    <!-- Don't wrap the contents of this tag! -->
    <p ng-if="submission.survey.description"
            class="formatted">Submission against {{submission.survey.description}}</p>

    <label> Submission Date: </label><span> {{date.toDateString()}} </span>

    <approval-buttons class="spaced" model="submission.approval"
            ng-if="!structure.deletedItem"
            set-state="setState(state)"></approval-buttons>
    <p ng-class="structure.deletedItem ? null : 'visible-print'">
        Status: {{submission.approval}}.
    </p>
    <docs>
        <i class="fa-li fa fa-chevron-right fa-border"></i>
        <h3>Approval</h3>
        <p>
            Submissions progress through approval
            states
            <em class="text-bar1">draft</em> &raquo;
            <em class="text-bar2">final</em> &raquo;
            <em class="text-bar3">reviewed</em> &raquo;
            <em class="text-bar4">approved</em>.
            A submission can only progress to the next state when all of its
            measures have at least that state. Measures can be promoted in bulk
            from the category screen; click on a category to move to that
            screen.
        </p>
    </docs>
</div>

<div class="container"
    ng-controller="QnodeChildren" ng-include="'qnode_children.html'"
    ng-if="!edit.model && !reportSpec.open"></div>
