<div ng-controller="ResponseStandardCtrl">
<ol class="responses">
    <li ng-repeat="resp in schema.responses"
            ng-init="respi = $index"
            ng-class="{
                active: $index == response.active,
                disabled: disabled(respi)}">
        <label ng-click="response.active = $index">{{resp.name}}</label>
        <div class="btn-group">
            <button ng-repeat="c in resp.choices"
                    class="btn btn-default"
                    ng-class="{active: response.responses[respi] == $index}"
                    ng-click="respond(resp, c)"
                    ng-disabled="disabled(respi, $index)">
                <span class="score">{{c.score}}</span>
                {{c.name}}
                <span class="text-hidden">{{c.score}}</span>
            </button>
        </div>
    </li>
</ol>
</div>
