<span dropdown on-toggle="toggled(open)" dropdown-append-to-body>
    <button class="btn btn-default btn-round" title="History" dropdown-toggle>
        <i class="fa fa-history"></i></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">Related programs</li>
        <li ng-if="!surveys.length" class="dropdown-header">Loading...</li>
        <li ng-repeat="survey in surveys"
                ng-class="{active: isActive(survey)}">
            <a href ng-click="navigate(survey)">
                {{survey.title}}
                <span class="pull-right nudge-right text-muted"
                        ng-click="compare(survey, $event)"
                        ng-if="structure.hierarchy && !isActive(survey)">
                    <i class="fa fa-exchange"
                        title="Compare"></i>
                </span>
            </a>
        </li>
    </ul>
</span>
