<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="File Import"
                    ng-href="#/survey/import" ng-if="checkRole('survey_add')">
                <i class="fa fa-fw fa-cloud-upload"></i></a>
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/survey/new" ng-if="checkRole('survey_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2>
            Programs
        </h2>
    </div>
</div>


<div class="container">
    <search-box model="search" result="surveys">
        <button class="btn btn-default" type="button"
                title="{{search.open ?
                    'Only show open surveys' :
                    'Show both open and closed surveys'}}"
                ng-click="search.open = !search.open">
            <i class="fa fa-clock-o">
                <i ng-if="!search.open"
                    class="fa fa-question-circle fa-badge"></i>
            </i>
            <span class="hidden-xs">Open</span>
        </button>
        <button class="btn btn-default" type="button"
                title="{{search.editable ?
                    'Only show editable surveys' :
                    'Show both editable and finalised surveys'}}"
                ng-click="search.editable = !search.editable"
                ng-if="checkRole(survey_edit)">
            <i class="fa fa-pencil-square-o">
                <i ng-if="!search.editable"
                    class="fa fa-question-circle fa-badge fa-badge-left"></i>
            </i>
            <span class="hidden-xs">Editable</span>
        </button>
    </search-box>

    <ul class="list-results">
        <li>
            <a ng-repeat="survey in surveys"
                    ng-href="#/survey/{{survey.id}}">
                <h4>{{survey.title}}</h4>
                <p class="truncate">{{survey.description}}</p>
            </a>
        </li>
        <li>
            <div>
            <p class="text-muted">
                <span ng-if="search.open && !search.editable">
                    Displaying only <i>open</i> programs.</span>
                <span ng-if="!search.open && search.editable">
                    Displaying only <i>editable</i> programs.</span>
                <span ng-if="search.open && search.editable">
                    Displaying only <i>editable and open</i> programs.</span>

                <span ng-if="!surveys.length">
                    No programs match your query.</span>

                <span ng-if="!surveys.length && checkRole('survey_add')">
                    You can create a program by pressing the
                    <i class="fa fa-fw fa-plus"></i> button above.
                </span>
            </p>
            </div>
        </li>
    </ul>

</div>

<div class="container" ng-controller="WoofmarkTest">
    <markdown-editor model="model.contents"></markdown-editor>
    <code>{{model.contents}}</code>
</div>
