<span dropdown on-toggle="toggled(open)" dropdown-append-to-body>
    <button class="btn btn-default btn-round" title="History" dropdown-toggle>
        <i class="fa fa-history"></i></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">Related programs</li>
        <li ng-if="!surveys.length" class="dropdown-header">Loading...</li>
        <li ng-repeat="survey in surveys"
                ng-class="{active: isActive(survey)}">
            <a href ng-click="navigate(survey)">
                {{survey.title}}
                <span class="pull-right nudge-right text-muted">
                    <i class="fa fa-circle-o" ng-style="{
                        visibility: survey.isOpen ? null : 'hidden' }"
                        title="Open for responses"></i>
                    <i class="fa fa-pencil-square-o" ng-style="{
                        visibility: survey.isEditable ? null : 'hidden' }"
                        title="Editable"></i>
                </span>
                </a>
        </li>
    </ul>
</span>
