<div>
<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Import"
                ng-click="import()"
                form="editor" ng-show="!isProgressing">
            <i class="fa fa-check"></i></button>
    </div>
    <h2 label="S">Survey - Import</h2>
</div>
</div>

<div class="container" ng-show="!isProgressing">
    <form novalidate name="form" id="editor">
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="survey.title" required />
        </div>
        <div class="form-group">
            <label for="title">Description</label>
            <textarea type="text" class="form-control" id="desc" name="desc"
                ng-model="survey.description"></textarea>
        </div>
        <div class="dropzone" id="dropzone">
            <div class="dz-default dz-message">Drop file here!!<br>Or click here.</div>
        </div>
    </form>
</div>

<div class="container" ng-show="isProgressing">
    <div class="modal-header">
        <h1>Processing...</h1>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Progressing...</span>
        </div>
    </div>
</div>

</div>
