<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/survey/new" ng-if="checkRole('survey_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2>
            Surveys
        </h2>
    </div>
</div>

<div class="container" ng-if="!currentSurvey.id">
    <p>
        No survey has been created yet.
        <span ng-if="checkRole('survey_add')">
            Add one using the <i class="fa fa-fw fa-plus"></i> button above.
        </span>
    </p>
</div>


<div class="container" ng-if="currentSurvey.id">
    <p>
        The current survey is
        <a ng-href="#/survey/{{currentSurvey.id}}">{{currentSurvey.title}}</a>.
        You can search for other surveys below.
    </p>

    <search-box model="search" result="surveys"></search-box>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="survey in surveys"
            any-href='/survey/{{survey.id}}'">
        <td>{{survey.title}}</td>
      </tr>
    </tbody>
  </table>

</div>
