<div>

<div class="survey-tree secondary">
    <div class="btn-group">
        <a ng-href="#{{route.prevUrl}}"
                class="btn" title="Previous"
                ng-disabled="route.prevUrl == null">
            <i class="fa fa-caret-left"></i>
        </a>
        <a ng-href="#{{route.nextUrl}}"
                class="btn" title="Next"
                ng-disabled="route.nextUrl == null">
            <i class="fa fa-caret-right"></i> Next
        </a>
    </div>

    <h2>1. Corporate Policy and Business Planning</h2>
    <h3>8. Capital Program Prioritisation</h3>
    <h4>1. Governance and Policy</h4>
</div>
<div class="measure">
    <h5>
        {{measure.seq}}. {{measure.title}}
        <button class="btn btn-on-danger"
                title="Not applicable"
                ng-click="response.na = !response.na"
                ng-class="{active: response.na}">
            <i class="fa fa-fw fa-times"></i>
        </button>
    </h5>
    <p ng-repeat="desc in measure.description">
        <span class="text-muted">{{desc.name}}:</span>
        {{desc.text}}
    </p>

    <div ng-include="schema.template"></div>

    <div class="comments-box">
        <label for="comments">Comments</label>
        <textarea id="comments"
                ng-model="response.comment"
                ng-class="{empty: response.comment == ''}"></textarea>
    </div>
</div>

</div>
