<div>

<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Delete"
                ng-click="edit.del()"
                ng-if="!edit.model && checkRole('user_del')">
            <i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-round" title="Impersonate"
                ng-click="impersonate()"
                ng-if="checkRole('user_impersonate')">
            <i class="fa fa-paw"></i></button>
        <button class="btn btn-default btn-round"
                title="{{!user.deleted ? 'Deactivate' : 'Activate'}}"
                ng-click="toggleDeleted()"
                ng-if="!edit.model && checkRole('user_enable')">
            <i class="fa fa-lock"
                ng-class="!user.deleted ? 'fa-lock' : 'fa-unlock'"></i></button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('user_edit')">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/subscription/user?id={{user.id}}">
            <i class="fa fa-envelope"></i></a>
    </div>
    <h2 page-title>
        <i class="fa fa-fw fa-user"></i>
        <a href="#/users">Users</a> &raquo;
        <span ng-if="user.name">{{user.name}}</span>
        <span ng-if="!user.name">New user</span>
    </h2>
</div>
</div>

<div class="subheader bg-warning text-warning"
        ng-if="user.id && user.deleted">
    <div class="container">
        <i class="fa fa-lock"></i>
        This user is inactive.
    </div>
</div>


<div ng-if="edit.model">
<div class="container">
    <form novalidate name="form" id="editor" form-nav-warn>
        <div class="form-group" show-errors>
            <label for="user_name">Name</label>
            <span class="help-label" ng-if="form.user_name.$error.required">
                Please provide a name.</span>
            <input type="text" class="form-control" id="user_name" name="user_name"
                ng-model="edit.model.name" required />
        </div>
        <div class="form-group" show-errors>
            <label for="user_role">Role</label>
            <select type="text" class="form-control" id="user_role" name="user_role"
                ng-options="role.id as (role.name + ' - ' + role.description) for role in roles"
                ng-model="edit.model.role"></select>
        </div>
        <div class="form-group" show-errors>
            <label for="user_email">Email</label>
            <span class="help-label" ng-if="form.user_email.$error.required">
                Please provide an email address.</span>
            <span class="help-label" ng-if="form.user_email.$error.email">
                Please provide a valid email address.</span>
            <input type="email" class="form-control" id="user_email" name="user_email"
                ng-model="edit.model.email" required />
        </div>
        <div class="form-group">
            <label for="user_org">Organisation</label>
            <ui-select ng-model="edit.model.organisation"
                    ng-disabled="!checkRole('user_change_org')"
                    reset-search-input="false">
                <ui-select-match placeholder="Type to select organisation">{{edit.model.organisation.name}}</ui-select-match>
                <ui-select-choices
                        repeat="organisation in organisations | filter: $select.search"
                        refresh="searchOrg($select.search)"
                        refresh-delay="0">
                    <div ng-bind-html="organisation.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" show-errors>
            <label for="user_pwd">Password</label>
            <span class="help-label"
                    ng-if="edit.model.id && !edit.model.password">
                Optional</span>
            <span class="help-label"
                    ng-if="passwordCheck.strength < passwordCheck.threshold">
                Password is not strong enough
                ({{(passwordCheck.strength / passwordCheck.threshold) * 100 | number:0}}%)
            </span>
            <input type="password" class="form-control" id="user_pwd" name="user_pwd"
                ng-model="edit.model.password"
                ng-model-options="{debounce: {default: 1000, blur: 0}}" />
        </div>
        <div class="form-group" show-errors>
            <label for="user_pwd2">Re-enter password</label>
            <span class="help-label"
                    ng-if="edit.model.password && form.user_pwd2.$error.match">
                Passwords don't match.</span>
            <input type="password" class="form-control" id="user_pwd2" name="user_pwd2"
                ng-model="edit.model.password2" match="edit.model.password" />
        </div>
        <div class="form-group"
                ng-if="passwordCheck.strength < passwordCheck.threshold">
            <p>Password suggestions:</p>
            <ul>
                <li ng-repeat="item in passwordCheck.improvements">
                    {{item}}
                </li>
            </ul>
        </div>
    </form>
</div>
</div>

<div ng-if="!edit.model">
<div class="container">
    <dl>
        <dt>Role</dt>
        <dd>{{roleDict[user.role].name}}
            <span class="text-muted">- {{roleDict[user.role].description}}</span>
        </dd>
    </dl>
    <dl ng-if="user.email">
        <dt>Email</dt>
        <dd><a ng-href="mailto:{{user.email}}" target="_blank">{{user.email}}</a></dd>
    </dl>
    <dl>
        <dt>Organisation</dt>
        <dd><a ng-href="#/org/{{user.organisation.id}}">{{user.organisation.name}}</a></dd>
    </dl>
</div>
</div>
