<div>

<div class="survey-tree secondary">
    <h2>
        <i class="fa fa-fw fa-user"></i>
        {{user.name}}
        <button class="btn btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model">
            <i class="fa fa-pencil"></i></button>
        <button class="btn btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model">
            <i class="fa fa-times"></i></button>
    </h2>
</div>

<editor-error class="measure" edit="edit"></editor-error>

<div class="measure" ng-if="edit.model">
    <form novalidate name="form">
        <div class="form-group" show-errors>
            <label for="user_name">Name</label>
            <span class="help-label" ng-if="form.user_name.$error.required">
                Please provide a name.</span>
            <input type="text" class="form-control" id="user_name" name="user_name"
                ng-model="edit.model.name" required />
        </div>
        <div class="form-group" show-errors>
            <label for="user_role">Role</label>
            <select type="text" class="form-control" id="user_role" name="user_role"
                ng-options="role.id as role.name for role in roles"
                ng-model="edit.model.role"></select>
        </div>
        <div class="form-group" show-errors>
            <label for="user_email">Email</label>
            <span class="help-label" ng-if="form.user_email.$error.required">
                Please provide an email address.</span>
            <span class="help-label" ng-if="form.user_email.$error.email">
                Please provide a valid email address.</span>
            <input type="email" class="form-control" id="user_email" name="user_email"
                ng-model="edit.model.email" required />
        </div>
        <div class="form-group">
            <label for="user_org">Utility</label>
            <ui-select ng-model="edit.model.org"
                ng-disabled="disabled"
                reset-search-input="false">
                <ui-select-match placeholder="Enter organisation name">{{edit.model.org.name}}</ui-select-match>
                <ui-select-choices repeat="organisation in organisations | filter: $select.search">
                    <div ng-bind-html="organisation.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" show-errors>
            <label for="user_pwd">Password</label>
            <span class="help-label" ng-if="edit.model.id">
                Optional</span>
            <input type="password" class="form-control" id="user_pwd" name="user_pwd"
                ng-model="edit.model.password" />
        </div>
        <div class="form-group" show-errors>
            <label for="user_pwd2">Re-enter password</label>
            <span class="help-label" ng-if="form.user_pwd2.$error.match">Passwords don't match.</span>
            <input type="password" class="form-control" id="user_pwd2" name="user_pwd2"
                ng-model="edit.model.password2" match="edit.model.password" />
        </div>
    </form>
</div>

<div class="measure" ng-if="!edit.model">
    <dl>
        <dt>Role</dt>
        <dd>{{roleDict[user.role].name}}</dd>
    </dl>
    <dl>
        <dt>Email</dt>
        <dd>{{user.email}} <span class="text-muted">TODO: Hide this in JSON</span></dd>
    </dl>
    <dl>
        <dt>Utility</dt>
        <dd><a ng-href="#/org/{{org.id}}">{{org.name}}</a></dd>
    </dl>
</div>

</div>
