<div class="header">
    <div class="container">
        <h2>
            <i class="fa fa-fw fa-users"></i>
            Users
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/user/new{{org.id ? '?org=' + org.id : ''}}" ng-if="checkRole('user_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </h2>
    </div>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>organisation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td><a ng-href="#/user/{{user.id}}">{{user.name}}</a></td>
        <td><a ng-href="#/org/{{user.organisation.id}}">{{user.organisation.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
