<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    ng-href="#/user/new{{org.id ? '?orgId=' + org.id + '&orgName=' + org.name : ''}}"
                    ng-if="checkRole('user_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2 page-title>
            <i class="fa fa-fw fa-users"></i>
            Users
        </h2>
    </div>
</div>

<div surrogate-height>
<div class="container" surrogate-height-target>
    <search-box model="search" result="users">
        <button class="btn btn-default" type="button"
                title="{{search.enabled === true ?
                    'Only show active users' :
                        search.enabled === false ?
                        'Only show inactive users' :
                        'Show both active and inactive users'}}"
                ng-click="cycleEnabled()">
            <i class="fa fa-user">
                <i ng-if="search.enabled === true"
                    class="fa fa-circle-o fa-badge text-success"></i>
                <i ng-if="search.enabled === false"
                    class="fa fa-ban fa-badge text-danger"></i>
            </i>
            <span class="hidden-xs">Active</span>
        </button>
    </search-box>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organisation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users"
            ng-class="{strike: !user.enabled}"
            any-href='/user/{{user.id}}'">
        <td>{{user.name}}</td>
        <td>{{user.organisation.name}}</td>
      </tr>
    </tbody>
  </table>

    <div>
    <p class="text-muted">
        <span ng-if="search.enabled === false">
            Displaying only <i>inactive</i> users.</span>
        <span ng-if="search.enabled === true">
            Displaying only <i>active</i> users.</span>
        <span ng-if="search.enabled == null">
            Displaying both <i>active and inactive</i> users.</span>

        <span ng-if="!users.length">
            No users match your query.</span>

        <span ng-if="!users.length && checkRole('user_add')">
            You can create a user by pressing the
            <i class="fa fa-fw fa-plus"></i> button above.
        </span>
    </p>
    </div>
</div>

</div> <!-- surrogate-height -->
