<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    href="#/3/org/new" ng-if="checkRole('org_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2 page-title>
            <i class="fa fa-fw fa-university"></i>
            Organisations
        </h2>
    </div>
</div>
<div class="container">
    <search-box model="search" result="orgs">
        <delete-cycle model="search.deleted"></delete-cycle>
    </search-box>

    <ul class="list-results">
        <li ng-repeat="org in orgs"
                ng-class="{strike: org.deleted}">
            <a ng-href="#/3/org/{{org.id}}">
                <h4>{{org.name}}</h4>
                <p class="truncate" ng-if="org.locations.length">
                    {{org.locations[0].description}}
                </p>
            </a>
        </li>
    </ul>
</div>
