<div class="header"
    ng-class="{'deleted': query.deleted}">
<div class="container">
    <div class="toolbar">
        <button ng-click="settings.autorun = !settings.autorun"
                class="btn btn-round"
                ng-class="{
                    'btn-info': settings.autorun,
                    'btn-default': !settings.autorun}"
                title="{{settings.autorun ?
                    'Previews are enabled' :
                    'Previews are disabled'}}">
            <i class="fa fa-bolt"></i>
            <span class="sr-only">Autorun</span>
        </button>
        <button ng-click="edit.save()"
                ng-if="edit.model"
                class="btn btn-default btn-round"
                title="Save"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i>
            <span class="sr-only">Save</span>
        </button>
        <a ng-href="#/3/custom/new?duplicate={{query.id}}"
                class="btn btn-default btn-round"
                title="Duplicate as a new query (and detach from current history)"
                ng-if="!edit.model">
            <i class="fa fa-files-o"></i>
            <span class="sr-only">Duplicate</span>
        </a>

        <script type="text/ng-template" id="/inline/custom_history_item.html">
            <span class="field field-2">
                {{version.version}}
            </span>
            <span class="field field-8">
                {{version.user.name}}
            </span>
            <span print-friendly-timeago="version.modified"></span>
        </script>
        <history model="edit.model" service="CustomQuery"
            query-params="{id: edit.model.id}"
            item-template-url="/inline/custom_history_item.html"></history>

        <span uib-dropdown dropdown-append-to-body
                ng-if="!query.deleted && !edit.model">
            <button class="btn btn-default btn-round"
                    title="Export" uib-dropdown-toggle>
                <i class="fa fa-cloud-download"></i></button>

            <ul uib-dropdown-menu class="dropdown-menu-right">
                <li class="dropdown-header">Export report</li>
                <li>
                    <a title="Download as comma-separated values (text)"
                            ng-click="download(query, 'csv')"
                            download>
                        Comma-separated values (.csv)
                    </a>
                </li>
                <li>
                    <a title="Download as an Excel spreadsheet"
                            ng-click="download(query, 'xlsx')"
                            download>
                        Excel (.xlsx)
                    </a>
                </li>
            </ul>
        </span>
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!query.deleted && !edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
        <delete-button model="query" editor="edit"
                ng-if="!edit.model && checkRole('custom_query_edit')"></delete-button>

        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <a class="btn btn-default btn-round" title="Cancel"
                ng-href="#/3/custom"
                ng-if="edit.model && !edit.model.id">
            <i class="fa fa-times"></i></a>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!query.deleted && !edit.model &&
                       checkRole('custom_query_edit')">
            <i class="fa fa-pencil"></i>
        </button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/3/subscription/custom_query?id={{query.id}}"
                ng-if="!edit.model">
            <i class="fa fa-envelope"></i></a>
        </div>
    <h2 page-title>
        <a href="#/3/custom">Custom Queries</a> &raquo;
        <span ng-class="{strike: query.deleted}" ng-if="query.id">
            {{query.title}}
        </span>
        <span ng-if="!query.id">
            New
        </span>
    </h2>
</div>
</div>

<div class="container">
<form ng-if="edit.model" name="form" id="editor">
    <label>Query Info</label>
    <button ng-click="parameterised(edit.model)">
        <i class="fa fa-magic"></i>
    </button>
    <div class="form-group embedded-toolbar"
          ng-class="{'hidden-print': !edit.model.title}">
        <div class="toolbar">
            <button class="btn btn-default btn-round"
                    ng-click="autoName(edit.model)"
                    title="Generate name">
                <i class="fa fa-magic"></i>
                <span class="sr-only">Generate name</span>
            </button>
        </div>
        <input type="text" ng-model="edit.model.title"
            class="form-control"
            placeholder="Name"
            title="Name">
        </input>
    </div>
    <div class="form-group"
          textarea-label="{{!edit.model.description ? 'Description' : ''}}">
        <markdown-editor id="description"
            ng-model="edit.model.description" title="Description"></markdown-editor>
    </div>
    <div class="form-group embedded-toolbar"
            textarea-label="{{!edit.model.text ? 'Enter SQL query' : ''}}">
        <label>Query</label>
        <div class="toolbar">
            <button class="btn btn-default btn-round"
                    ng-click="format(edit.model)"
                    title="Format">
                <i class="fa fa-magic"></i>
                <span class="sr-only">Format</span>
            </button>
        </div>
        <textarea autoresize ng-model="edit.model.text"
            class="autoresize form-control"
            title="Query text as SQL">
        </textarea>
    </div>
    <docs>
        <i class="fa-li fa fa-database fa-border"></i>
        <p>
            Enter a query to run against the database. Queries should be written
            as SQL in the
            <a href="http://www.postgresql.org/docs/9.4/static/sql-select.html">
                PostgreSQL dialect</a>.
            Only <code>SELECT</code> statements are allowed.
        </p>
        <p>
            Up to {{settings.limit}} result rows can be previewed in browser
            window.
            <span ng-if="settings.autorun">
              Previews will be generated automatically. To disable, press the
              <i class="fa fa-bolt"></i> button.
            </span>
            <span ng-if="!settings.autorun">
              Previews are disabled. To enable, press the
              <i class="fa fa-bolt"></i> button.
            </span>
        <p>
            Up to {{config.maxLimit}} rows can be returned by downloading the
            data as CSV or as an Excel spreadsheet.
            <span ng-if="config.wallTime">
                All queries are limited to {{config.wallTime / 1000}}s of
                runtime.
            </span>
        </p>
    </docs>

    <docs>
        <i class="fa-li fa fa-user fa-border"></i>
        <h3>User tables</h3>
        <p>
            Users belong to organisations:
        </p>
        <img src="images/design-tables-user.svg" class="img-responsive">
        <dl>
            <dt>organisation</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Basic details about organisations - both those taking part in
                surveys, and those authoring them. Has a one-to-one relationship
                with <code>org_meta</code>, and one-to-many mappings with
                <code>appuser</code> and <code>org_location</code>.
            </dd>

            <dt>appuser</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Stores credentials for users when logging in, and is used to
                identify actions (such as response edits).
                The <code>appuser.password</code> field is not accessible, so
                running <code>SELECT * FROM appuser</code> will fail. List the
                fields you want explicitly.
                <p>Email addresses are case-insensitive and unique.</p>
            </dd>

            <dt>org_location</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                The locations that organisations operate in.
            </dd>

            <dt>org_meta</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Water utility-specific metadata about organisations.
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-sitemap fa-border"></i>
        <h3>Survey tables</h3>
        <p>
            Survey questions are stored in the <code>program</code>,
            <code>survey</code>, <code>qnode</code> and
            <code>measure</code> tables. <code>qnode_measure</code> stores
            the many-to-many relationship between <code>qnode</code> and
            <code>measure</code>.
        </p>
        <img src="images/design-tables-survey.svg" class="img-responsive">
        <dl>
            <dt>program</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                The program table stores programs. Each program has a unique id,
                but may be linked to other program by using the same tracking
                id. This is used to maintain lineage when programs are
                duplicated. A program may have more than one survey.
            </dd>

            <dt>survey</dt>
            <dd>
                <p>PK: <code>id</code>, <code>program_id</code>.</p>
                The survey table stores surveys. Surveys have a collection of
                categories (qnodes).
                Each survey has an id which
                may be shared with other surveys of the same lineage in other
                programs.
            </dd>

            <dt>qnode</dt>
            <dd>
                <p>PK: <code>id</code>, <code>program_id</code>.</p>
                Represents categories in the survey, used to group measures.
                Each qnode may have multiple measures or other qnodes as
                children.
            </dd>

            <dt>qnode_measure</dt>
            <dd>
                <p>
                    PK: <code>program_id</code>, <code>survey_id</code>,
                    <code>measure_id</code>.
                </p>
                Links qnodes to measures. This is required because a measure may
                belong to multiple categories (one per survey) - or none, in
                which case it is orphaned.
            </dd>

            <dt>measure</dt>
            <dd>
                <p>PK: <code>id</code>, <code>program_id</code>.</p>
                An actual question in a program. Measures can be shared between
                surveys, but not between programs (there is a many-to-many
                relationship with the <code>qnode</code> table, via the
                <code>qnode_measure</code> table). The
                <code>response_type_id</code> determines
                the options available to the user; it links to the
                <code>response_type</code> table.
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-check fa-border"></i>
        <h3>Submission tables</h3>
        <p>
            Submissions are an organisation's answer to a survey. Generally,
            there is a one-to-many mapping between entities in the survey tables
            and those in the submission tables.
        </p>
        <img src="images/design-tables-response.svg" class="img-responsive">
        <dl>
            <dt>purchased_survey</dt>
            <dd>
                <p>PK: <code>program_id</code>, <code>survey_id</code>,
                    <code>organisation_id</code>.</p>
                Links an organisation to the surveys it has purchased.
            </dd>

            <dt>submission</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                A submission against a survey.
            </dd>

            <dt>rnode</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Caches aggregate scores within a category (i.e. the sum of the
                scores of the responses). Has no parent; to traverse the tree,
                traverse the qnodes instead.
            </dd>

            <dt>response</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                An actual, current response to a question (measure). The
                <code>response_parts</code> field is the authoritative response;
                the <code>score</code> is the cached, calculated score.
            </dd>

            <dt>response_history</dt>
            <dd>
                <p>PK: <code>id</code>, <code>version</code>.</p>
                Past versions of a response (shares an <code>id</code> with a
                response). Not shown in the diagram.
            </dd>

            <dt>attachment</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                Files and links; supporting documentation for a response.
                Usually files will not be stored in the actual database;
                instead, the <code>url</code> field will point to the actual
                location (not accessible through this screen).
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-envelope-o fa-border"></i>
        <h3>Activity stream tables</h3>
        <p>
            The information for the <a href="#/3/">timeline</a> is stored in
            two tables:
        </p>
        <img src="images/design-tables-activity.svg" class="img-responsive">
        <dl>
            <dt>activity</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Stores events that occur across the system in a generic way.
                <code>subject_id</code> is a foreign key to the user who
                performed the action. <code>verbs</code> is a list of the
                actions that were taken, e.g. <em>create</em> or
                <em>update</em>. <code>message</code> is the title of the object
                that was modified; it is stored denormalised in this table to
                avoid complex joins and because some of the events may refer to
                objects that have been deleted. <code>sticky</code> forces the
                activity to be displayed at the top of the timeline.
                </p>
                <p>
                The reference to the target object is stored in a generic way:
                <code>ob_type</code> says what kind of object was acted on,
                e.g. <em>program</em> or <em>qnode</em>. <code>ob_ids</code> is
                a generic reference to any other table. It's an array of IDs
                that uniquely and minimally identify the target object (not
                necessarily by primary key). For example, a row linking to a
                program would have an array of <em>[program.id]</em>; a row
                linking to a qnode would have <em>[qnode.id, program.id]</em>;
                while a row linking to a response would have
                <em>[measure.id, submission.id]</em>.
                </p>
                <p>
                To allow hierarchical subscriptions, e.g. to allow searching for
                events that relate to a program and all of its surveys, qnodes
                and measures, the <code>ob_refs</code> field stores an array of
                all object IDs in the subscription chain, sorted from shallow to
                deep. For example, a measure that belongs to two surveys
                might have a reference chain of
                <em>[program.id, survey.id, survey.id, qnode.id, qnode.id,
                measure.id]</em>.
                </p>
            </dd>

            <dt>subscription</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Links users to events in the activity table in a many-to-many
                fashion. <code>user_id</code> is a foreign key to the user, and
                <code>subscribed</code> indicates whether it is a subscription
                or an <em>un</em>subscription. The <code>ob_type</code> field
                has the same role as <code>activity.ob_type</code>.
                <code>ob_refs</code> is a generic reference to both the actual
                object that is subscribed to, and all the activities that refer
                to it.
                </p>
                <p>
                To find out if a subscription matches an activity, check whether
                all of the IDs in the <code>ob_refs</code> column are contained
                in <code>activity.ob_refs</code>. For example,
                <code>activity.ob_refs <a href="http://www.postgresql.org/docs/9.4/static/functions-array.html">@&gt;</a> subscription.ob_refs</code>. Deeper
                subscriptions override shallow ones, so to check a subscription
                against a row in the activity table, find the index of the
                subscription reference in the <code>activity.ob_refs</code>
                column. For example, expand <code>activity.ob_refs</code> with
                <code><a href="http://www.postgresql.org/docs/9.4/static/functions-array.html">unnest</a>(activity.ob_refs) <a href="http://www.postgresql.org/docs/9.4/static/functions-srf.html">WITH ORDINALITY</a></code>
                and then order the results by
                <code>activity.created DESC, activity.id, ordinality DESC</code>.
                </p>
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-bolt fa-border"></i>
        <h3>Reporting tables</h3>
        <p>
            Custom queries are stored in the <code>custom_query</code> table.
        </p>
        <img src="images/design-tables-custom.svg" class="img-responsive">
        <dl>
            <dt>custom_query</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Stores custom SQL queries for generation of custom reports.
                </p>
            </dd>
        </dl>
    </docs>
    <docs>
        <i class="fa-li fa fa-object-ungroup fa-border"></i>
        <h3>Survey Group Tables</h3>
        <p>
            Survey groups are stored in the <code>surveygroup</code> table,
            and linked to organisations, users, programs and activities via
            many-to-many relationship tables. Other entities also have survey
            groups, which are inherited from further up the hierarchy. For
            example, a measure has the same survey groups as its program,
            while a submission has the <em>intersection</em> of the survey
            groups of its program and its organisation.
        </p>
        <img src="images/design-tables-surveygroup.svg" class="img-responsive">
        <dl>
            <dt>surveygroup</dt>
            <dd>
                <p>PK: <code>id</code>.</p>
                <p>
                Defines survey groups.
                </p>
            </dd>
            <dt>organisation_surveygroup</dt>
            <dd>
                <p>
                Links organisations to survey groups.
                </p>
            </dd>
            <dt>user_surveygroup</dt>
            <dd>
                <p>
                Links users to survey groups.
                </p>
            </dd>
            <dt>program_surveygroup</dt>
            <dd>
                <p>
                Links programs to survey groups.
                </p>
            </dd>
            <dt>activity_surveygroup</dt>
            <dd>
                <p>
                Links activities to survey groups.
                </p>
            </dd>
        </dl>
    </docs>
</form>

<div ng-if="!edit.model">
    <div ng-if="query.description">
        <div ng-bind-html="query.description | markdown"></div>
    </div>
    <div>
        <p class="small text-muted">
            Version {{query.version}} saved by
            <a ng-href="#/3/user/{{query.user.id}}">{{query.user.name}}</a>,
            <span print-friendly-timeago="query.modified"></span>
        </p>
    </div>
</div>

<p ng-if="error" class="text-warning text-center">
    <small>
        <i class="fa fa-bug"></i>
        Error: {{error}}
    </small>
</p>

<div ng-if="result.cols" class="spaced">
    <div ng-if="activeModel.isParameterised" class="form-group">
        <label>Parameters</label>
        <multiselect ng-if="surveygroups"
            placeholder="Survey Group" ng-model="parameters.surveygroup"
            show-search="true" selection-limit="1"
            options="surveygroups" display-prop="title" id-prop="id">
        </multiselect>
        <multiselect ng-if="organisations"
            placeholder="Organisations" ng-model="parameters.organisations"
            search-limit="5" show-search="true" show-unselect-all="true"
            options="organisations" display-prop="name" id-prop="id">
        </multiselect>
    </div>
    <div class="scroll-x">
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="col in result.cols track by $index">
                    {{col.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in result.rows track by $index">
                <td ng-repeat="cell in row track by $index"
                        ng-class="colClass($index)"
                        ng-switch="colRichType($index)">
                    <span ng-switch-when="float">{{cell | number:2}}</span>
                    <span ng-switch-when="int">{{cell | number:0}}</span>
                    <span ng-switch-when="datetime">{{cell * 1000 | date}}</span>
                    <span ng-switch-when="json">{{cell}}</span>
                    <span ng-switch-default>{{cell}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    </div> <!-- scroll-x -->

    <div class="spaced">
        <p ng-if="result.cols && !result.rows">Empty result set.</p>
        <p class="text-warning text-center"
                ng-if="result.rows.length >= settings.limit">
            <small>
                <i class="fa fa-bug"></i>
                Results in web view are limited to {{settings.limit}} items.
                <span class="hidden-print">
                    If you want the next page,
                    <span ng-if="edit.model">
                      add an
                      <a title="PostgreSQL docs on LIMIT and OFFSET"
                          href="http://www.postgresql.org/docs/9.4/static/queries-limit.html"
                          ><code>OFFSET</code></a>
                      to your query or
                    </span>
                    <i class="fa fa-cloud-download"></i> download the results.
                </span>
            </small>
        </p>
    </div>
</div>
</div>
