<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    href="#/2/group/new" ng-if="checkRole('group_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2 page-title>
            <i class="fa fa-fw fa-university"></i>
            Survey groups
        </h2>
    </div>
</div>
<div class="container">
    <search-box model="search" result="groups">
        <delete-cycle model="search.deleted"></delete-cycle>
    </search-box>

    <ul class="list-results">
        <li ng-repeat="group in groups"
                ng-class="{strike: group.deleted}">
            <a ng-href="#/2/group/{{group.id}}">
                <h4>{{group.name}}</h4>
                <p class="truncate" ng-if="group.description">
                    {{group.description}}
                </p>
            </a>
        </li>
    </ul>
</div>
