<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round"
                title="Previous"
                ng-click="previousActivities()">
            <i class="fa fa-caret-left"></i>
        </button>
        <button class="btn btn-default btn-round"
                title="Now"
                ng-click="goToNow()">
            <i class="fa fa-home"></i>
        </button>
        <button class="btn btn-default btn-round"
                title="Next"
                ng-click="nextActivities()">
            <i class="fa fa-caret-right"></i>
        </button>
        <button class="btn btn-default btn-round" title="Print"
                onclick="print()"
                ng-if="!post">
            <i class="fa fa-print"></i>
        </button>
        <button class="btn btn-default btn-round"
                title="Post a new message"
                ng-click="newPost()"
                ng-if="!post && checkRole('post_add')">
            <i class="fa fa-envelope-o"></i>
        </button>
        <button class="btn btn-default btn-round"
                title="Cancel post"
                ng-click="cancelEdit()"
                ng-if="post">
            <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-default btn-round"
                title="Submit"
                ng-click="postMessage()"
                ng-if="post">
            <i class="fa fa-check"></i>
        </button>
    </div>
    <h2 page-title>
        Timeline -
        {{activityParams.period / secondsInADay}}
        days to {{activity.until * 1000 | date:'mediumDate'}}
    </h2>
</div>
</div>

<div class="container container-fluid" ng-if="!post"><div class="row">

<div class="col-sm-8">
    <ul class="list-results fa-ul fa-ul-big timeline">
        <li ng-repeat="action in activity.actions"
                ng-class="acts.cls(action)">
            <i class="fa fa-li fa-border fa-border-fill"
                    ng-class="acts.icons(action)[0]">
                <i class="fa fa-badge fa-ellipsis-v"
                        ng-if="acts.icons(action).length > 1"></i>
            </i>
            <div class="toolbar hidden-print hover-parent fade">
                <button class="btn btn-default btn-round"
                        title="Delete (usually you should just unpin)"
                        ng-click="remove(action)"
                        ng-if="checkRole('post_edit_try') &&
                               acts.verbs(action) == 'broadcast'">
                    <i class="fa fa-fw fa-trash-o"></i>
                </button>
                <button class="btn btn-default btn-round"
                        title="Pin / Unpin"
                        ng-click="toggleSticky(action)"
                        ng-if="checkRole('post_edit_try')">
                    <i class="fa fa-fw fa-thumb-tack">
                        <i class="fa fa-badge fa-times"
                                ng-if="action.sticky"></i>
                    </i>
                </button>
                <a class="btn btn-default btn-round"
                        title="View subscription details"
                        ng-href="#{{subscriptionUrl(action)}}"
                        ng-if="action.obIds.length">
                    <i class="fa fa-fw fa-question"></i>
                </a>
                <a class="btn btn-default btn-round"
                        title="View {{action.subject.name}}'s profile"
                        ng-href="#/2/user/{{action.subject.id}}">
                    <i class="fa fa-fw fa-user"></i>
                </a>
            </div>
            <a ng-href="#{{acts.url(action)}}"
                    title="View this {{acts.obType(action)}}"
                    ng-if="acts.verbs(action) != 'broadcast'">
                <h4>{{action.message}}</h4>
                <p class="text-muted">
                    <em>{{action.subject.name}}</em>
                    {{acts.verbs(action)}}
                    this <em>{{acts.obType(action)}}</em>
                    <span print-friendly-timeago="action.created"></span>
                    <i class="fa fa-thumb-tack" ng-if="action.sticky"
                        title="Pinned"></i>
                </p>
            </a>
            <div ng-if="acts.verbs(action) == 'broadcast'">
                {{action.subject.name}}<span class="text-muted"> said:</span>
                <p>{{action.message}}</p>
                <p class="text-muted">
                    <span print-friendly-timeago="action.created"></span>
                    <i class="fa fa-thumb-tack" ng-if="action.sticky"
                        title="Pinned"></i>
                </p>
            </div>
        </li>
        <li ng-if="!activity.actions.length">
            <i class="fa fa-li fa-border fa-border-fill fa-moon-o"></i>
            <a href="#/2/programs" title="Browse programs">
                There are no events for this time period.
                <p class="hidden-print">
                    Perhaps you'd like to browse the programs?
                </p>
            </a>
        </li>
    </ul>

    <docs>
        <i class="fa-li fa fa-envelope-o fa-border"></i>
        <h3>Timeline</h3>
        <p>
            Actions that people perform will appear here
            if you have subscribed to them. For example, if you respond to a
            <em>measure</em> (question), you will be subscribed to the
            <em>submission</em> that it belongs to. You will then be notified of
            other changes to that submission. You can change your subscriptions;
            look for the <i class="fa docs-button fa-envelope"></i> button in
            the toolbar while browsing the site.
        </p>
        <p ng-if="checkRole('post_add')">
            You can post to other people's timelines by pressing the
            <i class="fa docs-button fa-envelope-o"></i> button.
        </p>
    </docs>

</div> <!-- Timeline -->

<div class="col-sm-4 hidden-print">
    <ul class="cardlist list-results">
        <li ng-repeat="c in cards"
                ng-class="acts.cls(c)">
            <a ng-href="#{{acts.url(c)}}"
                    title="View this {{c.obType}}">
                <h4>{{c.title}}</h4>
                <p class="truncate">
                    <span class="capitalize">{{c.obType}}</span> -
                    <span print-friendly-timeago="c.created"></span>
                </p>
            </a>
        </li>
        <li ng-if="!cards.length" class="text-muted">
            No cards to display.
        </li>
    </ul>
</div>

</div> <!-- row -->
</div> <!-- container-fluid -->


<div class="container" ng-if="post">
    <form novalidate name="form" id="post" class="hidden-print">
        <h3>Broadcast Message</h3>
        <div class="form-group">
            <label for="message" class="sr-only">Message</label>
            <textarea class="autoresize form-control"
                id="message" name="message"
                ng-model="post.message"></textarea>
        </div>
        <div class="text-center">
            <div class="form-group">
                <div class="btn-group">
                    <span class="btn-group-addon">
                        To:
                    </span>
                    <button class="btn btn-default"
                            ng-class="{'active': post.to == 'all'}"
                            ng-click="post.to = 'all'"
                            title="Post to all users"
                            ng-if="checkRole('post_to_all')">
                        Everyone
                    </button>
                    <button class="btn btn-default"
                            ng-class="{'active': post.to == 'org'}"
                            ng-click="post.to = 'org'"
                            title="Post only to users in my organisation">
                        My Organisation
                    </button>
                </div>
                <button class="btn btn-default"
                        ng-class="{'active': post.sticky}"
                        ng-click="post.sticky = !post.sticky"
                        title="Keep post at top">
                    <i class="fa fa-thumb-tack"></i>
                    Pin
                </button>
            </div>
        </div>

        <!-- Survey groups -->
        <div ng-if="checkRole('surveygroup_delegate')">
            <div class="section">
                <div class="toolbar">
                    <a class="btn btn-default btn-round" title="Add survey group"
                            ng-click="post.surveygroups.push(null)">
                        <i class="fa fa-fw fa-plus"></i>
                    </a>
                </div>
                <h2>
                    Survey groups
                </h2>
            </div>
            <table class="table" ng-if="post.surveygroups.length">
                <tr class="form-row" ng-repeat="(i, loc) in post.surveygroups track by $index">
                    <td>
                        <input type="text" class="form-control"
                            id="surveygroup-search-{{$index}}"
                            name="surveygroup-search-{{$index}}"
                            ng-model="post.surveygroups[i]"
                            uib-typeahead="g as g.title for g in searchSurveygroup($viewValue)"
                            autocomplete="off" >
                    </td>
                    <td class="shrink">
                        <button class="btn btn-default btn-round"
                                title="Remove"
                                ng-click="deleteSurveygroup($index)">
                            <i class="fa fa-fw fa-trash-o"></i></button>
                    </td>
                </tr>
            </table>
            <p ng-if="!post.surveygroups.length" class="text-muted">
                No survey groups have been selected. Press the
                <i class="fa fa-plus"></i> button to add one.
            </p>
        </div>
    </form>

    <docs>
        <i class="fa-li fa fa-envelope-o fa-border"></i>
        <h3>Posting to the Timeline</h3>
        <p>
            You can post messages to the timeline.
            <span ng-if="checkRole('post_to_all')">
                You can choose to make your message visible to all users, or
                only users in your organisation.
            </span>
            <span ng-if="!checkRole('post_to_all')">
                Your post will only be visible to members of your organisation.
            </span>
        </p>
        <p>
            Pinned messages <i class="fa fa-thumb-tack"></i> will stay at the
            top until you unpin them. An unpinned message will
            be moved to the time at which it was created.
            Generally it is preferred to unpin messages instead of deleting
            them.
        </p>
    </docs>
</div>

<docs ng-if="!post">
    <i class="fa-li fa fa-keyboard-o fa-border"></i>
    <h3>Keyboard Shortcuts</h3>
    <p>
        Keyboard shortcuts are available throughout the site. They change
        depending on which screen you are looking at.
        Press <kbd>?</kbd> to explore.
    </p>
</docs>
