<div class="header"
    ng-class="{'deleted': structure.deletedItem}">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round"
                title="Unlink from parent"
                ng-click="edit.del()"
                ng-if="structure.survey && editable && !edit.model && checkRole('measure_del')">
            <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-default btn-round" title="Collapse"
                ng-click="layout.expandHeader = !layout.expandHeader">
            <i class="fa fa-angle-double-up" ng-if="layout.expandHeader"></i>
            <i class="fa fa-angle-double-down" ng-if="!layout.expandHeader"></i>
        </button>
        <button class="btn btn-default btn-round" title="Print"
                ng-if="!edit.model"
                onclick="print()">
            <i class="fa fa-print"></i>
        </button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="editable && !edit.model && checkRole('measure_edit')">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/3/subscription/measure?id={{measure.id}}&id={{program.id}}"
                ng-if="!edit.model && !submission">
            <i class="fa fa-envelope"></i></a>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/3/subscription/response?id={{measure.id}}&id={{submission.id}}"
                ng-if="!edit.model && submission">
            <i class="fa fa-envelope"></i></a>
        <program-history entity="measure" service="Measure"
                ng-if="!submission && !edit.model"></program-history>
    </div>
    <question-header entity="measure" submission="submission"></question-header>
</div>
</div>

<submission-header></submission-header>
<div ng-if="!structure.survey" class="subheader bg-warning">
    <div class="container">
        <p>
            You are viewing this measure outside the scope of any survey.
            <span ng-if="measure.parents.length">
                Please choose a survey:
            </span>
            <span ng-if="!measure.parents.length">
                This measure is an orphan: it belongs to no categories.
            </span>
        </p>
        <ul ng-if="measure.parents.length">
            <li ng-repeat="parent in measure.parents">
                <a ng-href="#/3/measure/{{measure.id}}?program={{structure.program.id}}&survey={{parent.survey.id}}">
                    <span ng-class="{strike: parent.survey.deleted}">
                        {{parent.survey.title}}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div error-header error-node="measure" ng-if="!edit.model"></div>
<div error-header error-node="model.response" ng-if="!edit.model"></div>

<div ng-if="edit.model" class="container" ng-include="'measure_edit.html'">
</div>

<docs ng-if="structure.deletedItem">
    <i class="fa-li fa fa-trash fa-border"></i>
    <h3>Deleted</h3>
    <p>
        This measure, or one of its parents, has been deleted. It is still
        accessible for archival reasons, but it will not be included in
        survey score calculations.
    </p>
</docs>

<script type="text/ng-template" id="/inline/measure_variable_list.html">
    <h3 ng-if="measure.sourceVars.length || measure.targetVars.length">Links to Other Measures</h3>
    <div ng-if="measure.sourceVars.length">
        <p class="text-muted">
            This measure gets some data from these other measures:
        </p>
        <ul class="list-unstyled">
            <li ng-repeat="mv in measure.sourceVars">
                <em>
                    This measure • {{mv.targetField}} ←
                </em>
                <a ng-href="#{{getUrl(mv.sourceMeasure)}}"}}>
                    <em>{{mv.sourceMeasure.title}}</em
                    ><em> • {{mv.sourceField}}</em>
                </a>
            </li>
        </ul>
    </div>
    <div ng-if="measure.targetVars.length">
        <p class="text-muted">
            These other measures use data from this measure:
        </p>
        <ul class="list-unstyled">
            <li ng-repeat="mv in measure.targetVars">
                <em>
                    This measure • {{mv.sourceField}} →
                </em>
                <a ng-href="#{{getUrl(mv.targetMeasure)}}"}}>
                    <em>{{mv.targetMeasure.title}}</em
                    ><em> • {{mv.targetField}}</em>
                </a>
            </li>
        </ul>
    </div>
</script>

<div ng-if="!edit.model" class="container">
    <div class="container-fluid">
            <div ng-show="measure.hasSubMeasures">
                    <div class="row no-margin-bottom">
                        <div class="col-md-6">
                            <div>
                                <h3>Measure Details</h3>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="submission">
                                <div class="part" ng-class="structure.deletedItem ? 'ng-hide' : 'hidden-print'"
                                ng-if="structure.program.hasQuality">
                            <label>Quality</label>
                            <ordered-buttons ng-model="model.response.quality">
                                <ordered-button value="1">
                                    1 <span class="text-muted">Low</span>
                                </ordered-button>
                                <ordered-button value="2">2</ordered-button>
                                <ordered-button value="3">3</ordered-button>
                                <ordered-button value="4">4</ordered-button>
                                <ordered-button value="5">
                                    5 <span class="text-muted">High</span>
                                </ordered-button>
                            </ordered-buttons>
                        </div>
                        
                        <div class="part" ng-class="structure.deletedItem ? 'ng-hide' : 'hidden-print'">
                            <label>Approval</label>
                            <approval-buttons model="model.response.approval"
                                    ng-if="!structure.deletedItem"></approval-buttons>
                        </div>
                        
                        <div ng-class="structure.deletedItem ? null : 'visible-print-block'">
                            Quality: <span class="print-field">{{model.response.quality}}</span>
                            Status: <span class="print-field">{{model.response.approval}}</span>
                        </div>
                        
                        <docs>
                            <i class="fa-li fa fa-chevron-right fa-border"></i>
                            <h3>Approval</h3>
                            <p>
                                Responses progress through approval
                                states
                                <em class="text-bar1">draft</em> &raquo;
                                <em class="text-bar2">final</em> &raquo;
                                <em class="text-bar3">reviewed</em> &raquo;
                                <em class="text-bar4">approved</em>.
                                Approval states are resticted to roles as follows:
                            </p>
                            <ul>
                                <li>
                                    Clerk: Draft, Final (responses only)
                                </li>
                                <li>
                                    Organisation Admin: Draft, Final
                                </li>
                                <li>
                                    Consultant: Reviewed
                                </li>
                                <li>
                                    Authority: Approved
                                </li>
                            </ul>
                            <p>
                                Increasing the appoval state indicates that the response is
                                ready for the next level of review. It is OK to reduce the
                                approval state if you wish to make a change after it as been
                                reviewed; this will indicate that it needs to be reviewed
                                again.
                            </p>
                            <p>
                                Submissions progress through the same states. When all the
                                responses in a survey are <i>Final</i>, the submission
                                can be marked as <i>Final</i>, and so on.
                            </p>
                            <p>
                                You can't give a response a lesser approval than the submission they
                                belong to. However you can demote the submission, and <em>then</em>
                                demote the response.
                            </p>
                        </docs>


                        </div>

                    </div>
                    <div class="row no-margin-bottom">
                        <div class="col-md-6">
                            <div class="input-group" >
                                <h3>Name:</h3>
                                {{measure.title}} 
                                <!--<input type="text" class="form-control" id="title" name="title"
                                    ng-model="measure.title" required />-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <h3>Weight:</h3>{{measure.weight}}
                                <!--<input type="number" class="form-control" id="weight" name="weight"
                                    ng-model="measure.weight" min="0" step="any" required />-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <h3>formula:</h3>{{measure.rt.formula}}
                                <!--<input type="text" class="form-control" id="formula" name="formula"
                                    title="The fomula to use to compute the score"
                                    ng-model="measure.rt.formula" min="0" step="any" required />-->
                            </div>
                        </div>
                    </div>
                   
                    <div class="row no-margin-bottom" ng-repeat="sm in measure.subMeasures" ng-if="!submission">
                        <div class="col-md-6">
                                <div>
                                    <h3>Sub-Measure Details {{$index + 1}}</h3>
                                 </div>                        
                            
                            <div class="form-group">
                                <div ng-bind-html="sm.description | markdown"></div>
                                <!--<h3>Description</h3>{{sm.description}}
                                <markdown-editor id="description"
                                    ng-model="sm.description"
                                    placeholder="Description"
                                    title="Description"></markdown-editor>-->
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="!submission">
                           <!--  <responses-form type="rt.responseType" model="sm.response" is-dummy="true" 
                                weight="measure.weight"
                                readonly="!!structure.deletedItem"
                                has-quality="structure.program.hasQuality"
                                externs="item.response.sourceVars"
                                class="sample-only" title="Sample only">
                            </responses-form>
                               <div class="col-md-6" ng-if="!submission">-->
                                    <response-form type="sm.rtRead.definition" is-dummy="true"
                                                has-quality="structure.program.hasQuality"
                                                class="sample-only" title="Sample only">
                                    </response-form>
                        
                                    <div ng-include src="'/inline/measure_variable_list.html'"></div>
                               <!--    </div>-->


               <!--             <div>
                                <h3>Response Type {{$index + 1}}</h3>
                            </div>
                
                        <div ng-if="sm.rt.showSearch" class="popover-container spaced">
                            <div class="undim">
                                <search-box model="sm.rt.search" result="sm.rt.searchRts" focus-init></search-box>
                                <ul class="list-results">
                                    <li ng-repeat="rtDef in am.rt.searchRts">
                                        <a href="" ng-click="chooseResponseType(rtDef)">
                                            <h4>
                                                {{rtDef.name}}
                                            </h4>
                                            <p>
                                                <ng-pluralize count="rtDef.nParts" when="{
                                                    '0': 'Comment only',
                                                    '1': '1 part.',
                                                    'other': '{} parts.',
                                                }"></ng-pluralize>
                                                <ng-pluralize count="rtDef.nMeasures" when="{
                                                    '0': 'Unused.',
                                                    '1': 'Used by 1 measure.',
                                                    'other': 'Used by {} measures.',
                                                }"></ng-pluralize>
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <div>
                                            <p class="text-muted">
                                                <span ng-if="!sm.rt.searchRts.length">
                                                    No response types match your query.</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                
                        <div ng-if="!sm.rt.definition">
                            <button class="btn btn-default btn-block"
                                    ng-click="sm.rt.definition = newResponseType('numerical')">
                                <i class="fa fa-plus" ng-if="!sm.rt.showSearch"></i>
                                New numerical response type
                            </button>
                            <button class="btn btn-default btn-block"
                                    ng-click="sm.rt.definition = newResponseType('multiple_choice')">
                                <i class="fa fa-plus" ng-if="!sm.rt.showSearch"></i>
                                New multiple-choice response type
                            </button>
                            <button class="btn btn-default btn-block"
                                    ng-click="sm.rt.showSearch = true">
                                <i class="fa fa-link" ng-if="!sm.rt.showSearch"></i>
                                Re-use response type from another measure
                            </button>
                        </div>
                        <div ng-if="sm.rt.definition"
                                response-types-editor="sm.rt.definition" weight="measure.weight"
                                is-bound="sm.rt.definition.id && sm.rt.definition.id == measure.responseTypeId"></div>
                
                        <h3 ng-if="sm.rt.responseType">Variable Bindings</h3>
                        <div ng-if="sm.rt.responseType">
                            <p ng-if="!sm.rt.responseType.unboundVars.length" class="text-muted">
                                This response type requires no external bindings.
                            </p>
                            <p ng-if="sm.rt.responseType.unboundVars.length && !measure.sourceVars"
                                    class="text-muted">
                                This response type has free variables that must be sourced from
                                other measures. You can not bind them now because you are
                                viewing this measure outside the context of a survey. You can
                                choose a survey in the Documentation panel.
                            </p>
                            <p ng-if="sm.rt.responseType.unboundVars.length && measure.sourceVars"
                                    class="text-muted">
                                This response type has free variables that must be sourced from
                                other measures:
                            </p>
                            <ul class="list-unstyled">
                                <li ng-repeat="mv in measure.sourceVars"
                                        class="input-group"
                                        ng-class="{
                                            'binding-warning': mv.$unused
                                        }">
                                    <label for="source-measure-{{$index}}"
                                            class="input-group-addon align-sm-md">
                                        {{mv.targetField}} ←
                                    </label>
                                    <input type="text" class="form-control"
                                        id="source-measure-{{$index}}"
                                        name="source-measure-{{$index}}"
                                        ng-model="mv.sourceMeasure"
                                        uib-typeahead="m as m.title for m in searchMeasuresToBind($viewValue)"
                                        autocomplete="off"
                                        title="Source measure: {{mv.sourceMeasure.title}}"
                                        placeholder="Source measure">
                                    <label for="source-field-{{$index}}"
                                            class="input-group-addon">
                                        •
                                    </label>
                                    <input type="text" class="form-control"
                                        id="source-field-{{$index}}"
                                        name="source-field-{{$index}}"
                                        ng-model="mv.sourceField"
                                        uib-typeahead="f for f in mv.sourceMeasure.declaredVars"
                                        autocomplete="off"
                                        typeahead-min-length="0"
                                        placeholder="Source variable">
                                </li>
                            </ul>
                        </div>-->
                        </div> <!-- .col- -->

                    </div>
                    <div class="row no-margin-bottom" ng-if="submission"
                        ng-include="'measure_response_sub.html'">
                    </div>
                </div>
                <div class="row" ng-show="!measure.hasSubMeasures">  
                     <div class="col-md-6">
                         <h3>Measure Details</h3>
                         <!--<div class="input-group" show-errors>
                             <label for="title" class="input-group-addon align-md">Name:</label>
                             <input type="text" class="form-control" id="title" name="title"
                                  ng-model="edit.model.title" required />
                         </div>
                         <div class="input-group" show-errors>
                             <label for="weight" class="input-group-addon align-md">Weight:</label>
                             <input type="number" class="form-control" id="weight" name="weight"
                               ng-model="edit.model.weight" min="0" step="any" required />
                             </div>
                         <div class="form-group">
                             <label for="description" class="sr-only">Description</label>
                             <markdown-editor id="description"
                                ng-model="edit.model.description"
                                placeholder="Description"
                                title="Description"></markdown-editor>
                         </div>
                </div> --><!-- .col- -->
                         <!--<div class="row">
                         <div class="col-md-6">-->
                        <h2>Description</h2>
                        <div ng-bind-html="measure.description | markdown"></div>
                        <p class="text-muted" ng-if="!measure.description">
                             No description.
                        </p>
                </div>

                <div class="col-md-6" ng-if="!submission">
                    <response-form type="rt.responseType" is-dummy="true"
                        has-quality="structure.program.hasQuality"
                        class="sample-only" title="Sample only">
                    </response-form>

                <div ng-include src="'/inline/measure_variable_list.html'"></div>
            </div>

            <div class="col-md-6" ng-if="submission"
                    ng-include="'measure_response.html'">
            </div>

        </div>
    </div>
</div>

<docs ng-if="!structure.submission && !edit.model && parents && checkRole('measure_edit')">
    <i class="fa-li fa fa-sitemap fa-border"></i>
    <h3>Hierarchy</h3>
    A program's measures can be shared between its surveys.
    <span ng-if="measure.parents.length">
        <!-- Only show this if the measure is being shown as part of a survey,
             because otherwise the surveys will be listed in the body of the
             page above. -->
        This measure is available in the following surveys:
    </span>
    <ul ng-if="measure.parents.length">
        <li ng-repeat="parent in measure.parents">
            <a ng-href="#/3/measure/{{measure.id}}?program={{structure.program.id}}&survey={{parent.survey.id}}">
                <span ng-class="{strike: parent.survey.deleted}">
                    {{parent.survey.title}}
                </span>
            </a>
        </li>
    </ul>
    This measure can be
    <a ng-href="#/3/measure/{{measure.id}}?program={{program.id}}">
        viewed without a survey</a>,
    but it can not be responded to like that.
</docs>
