<div class="header">
<div class="container">
    <div class="toolbar">
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-primary btn-alert btn-round" title="Save"
                ng-click="edit.save()"
                ng-if="edit.model"
                form="editor">
            <i class="fa fa-check"></i></button>
    </div>
    <h2 page-title>
        <i class="fa fa-fw fa-university"></i>
        <a href="#/2/orgs">Organisations</a> &raquo;
        <span>{{org.name}}</span> &raquo;
        <span>Add Survey</span>
    </h2>
</div>
</div>


<div class="container" ng-if="!program">
    <div class="section">
        <h2 label="Pg">
            Programs
        </h2>
    </div>

    <search-box model="search" result="programs"></search-box>

    <ul class="list-results">
        <li ng-repeat="program in programs">
            <a ng-href="#/2/org/{{org.id}}/survey/add?program={{program.id}}">
                <h4>{{program.title}}</h4>
                <p class="truncate">{{program.description}}</p>
            </a>
        </li>
    </ul>

    <p ng-if="!programs.length">
        No programs.
    </p>
</div>


<div class="container" ng-if="program">
    <div class="section">
        <h2 label="Sv">
            Surveys
        </h2>
    </div>

    <ul class="list-results">
        <li ng-repeat="survey in surveys">
            <a href ng-click="addSurvey(survey)">
                <span class="pull-right" ng-if="!survey.purchased"
                      title="This survey has not been purchased">
                    <i class="fa fa-fw fa-lock"></i>
                </span>
                <span class="pull-right text-muted" ng-if="survey.purchased"
                      title="This survey has been purchased">
                    <i class="fa fa-fw fa-unlock"></i>
                </span>
                <h4>{{survey.title}}</h4>
                <p class="truncate">{{survey.nMeasures}} measures</p>
            </a>
        </li>
    </ul>

    <p ng-if="!surveys.length" class="text-muted">
        No surveys in <i>{{program.title}}</i>.
    </p>
    <p ng-if="surveys.length" class="text-muted">
        Showing surveys in <i>{{program.title}}</i>. Click on one to add
        <i>{{org.name}}</i> as a participant.
    </p>
</div>
