<uib-tabset active="rtEdit.activeTab">
    <uib-tab index="'details'" heading="Identity">
        <div class="input-group spaced">
            <label for="rttitle" class="input-group-addon align-md">
                Name:</label>
            <input type="text" class="form-control"
                id="rttitle" name="rttitle"
                title="Response type name; usually, this should be more generic than the measure name"
                ng-model="rt.name" required />
        </div>

        <div class="input-group">
            <label for="formula" class="input-group-addon align-md">Formula:</label>
            <input type="text" class="form-control"
                id="formula" name="formula"
                ng-model="rt.formula"
                title="The fomula to use to compute the score"/>
        </div>
        <p class="text-muted" ng-if="rt.nMeasures">
            This response type is used by
            <a ng-href="#/3/measures?program={{rt.programId}}&initialTerm=rt:{{rt.id}}"
                ><ng-pluralize count="rt.nMeasures" when="{
                    '1': '1 measure',
                    'other': '{} measures',
                }"></ng-pluralize
            ></a
            ><span ng-if="isBound"> (including this one)</span>
        </p>
    </uib-tab>

    <uib-tab index="$index" ng-repeat="part in rt.parts">
        <uib-tab-heading>
            <span ng-if="part.id">{{$index + 1}}: <em>{{part.id}}</em></span>
            <span ng-if="!part.id">Part {{$index + 1}}</span>
        </uib-tab-heading>
        <div class="input-group spaced">
            <span uib-dropdown class="input-group-btn">
                <button class="btn btn-success" title="Part type"
                        uib-dropdown-toggle>
                    {{partTypeMap[part.type]}}
                    <i class="fa fa-triangle-down"></i>
                </button>

                <ul uib-dropdown-menu class="dropdown-menu-right">
                    <li ng-repeat="pt in partTypes">
                        <a href ng-click="setType(part, pt.name)">
                            {{pt.desc}}
                        </a>
                    </li>
                </ul>
            </span>
            <label for="lid-{{$index}}" class="input-group-addon">
                ID:</label>
            <input type="text" class="form-control"
                id="lid-{{$index}}"
                name="lid-{{$index}}"
                ng-model="part.id" empty-as-null
                placeholder="Variable name"
                title="The name to assign this part; allows the part to be referenced in expressions" />
            <span class="input-group-btn">
                <button class="btn btn-default" title="Remove"
                        ng-click="remove(rt, rt.parts, part)">
                    <i class="fa fa-fw fa-trash-o"></i></button>
            </span>
        </div>
        <div class="input-group">
            <label for="ltitle-{{$index}}" class="input-group-addon align-md">
                Name:</label>
            <input type="text" class="form-control"
                id="ltitle-{{$index}}"
                name="ltitle-{{$index}}"
                ng-model="part.name" empty-as-null
                placeholder="{{rt.parts.length > 1 ?
                    '' :
                    'Optional because there is only one part'}}"
                title="Part name" />
        </div>
        <div class="form-group">
            <textarea class="form-control autoresize"
                id="ltitle-{{$index}}"
                name="ltitle-{{$index}}"
                ng-model="part.description" empty-as-null
                placeholder="Description"
                title="Part description"></textarea>
        </div>
        <ul class="list-unstyled list-form" ng-if="part.type == 'multiple_choice'">
            <li ng-repeat="opt in part.options"
                    ng-init="pi = $index">
                <div class="input-group" show-errors>
                    <label for="lname-{{pi}}-{{$index}}"
                            class="input-group-addon align-md">
                        Option:</label>
                    <input type="text" class="form-control"
                        id="lname-{{pi}}-{{$index}}"
                        name="lname-{{pi}}-{{$index}}"
                        ng-model="opt.name" required
                        placeholder="Enter a name"
                        title="Option name"/>
                    <label for="lscore-{{pi}}-{{$index}}"
                            class="input-group-addon">
                        Value:</label>
                    <input type="number" step="any" class="form-control"
                        id="lscore-{{pi}}-{{$index}}"
                        name="lscore-{{pi}}-{{$index}}"
                        ng-model="opt.score" required
                        placeholder="Enter a value"
                        title="The score for this option (the range 0..1 is recommended)"/>
                    <span class="input-group-btn"
                            ng-if="part.options.length > 2 && $last">
                        <button class="btn btn-default"
                                title="Remove"
                                ng-click="remove(rt, part.options, opt)">
                            <i class="fa fa-fw fa-trash-o"></i></button>
                    </span>
                </div>
                <div class="input-group" show-errors>
                    <label for="lif-{{pi}}-{{$index}}"
                            class="input-group-addon align-md">
                        Condition:</label>
                    <input type="text" class="form-control"
                        id="lif-{{pi}}-{{$index}}"
                        name="lif-{{pi}}-{{$index}}"
                        ng-model="opt['if']" empty-as-null
                        placeholder="always"
                        title="The condition under which this option is available (expression; see docs)" />
                </div>
                <div class="form-group" show-errors>
                    <label for="ldesc-{{pi}}-{{$index}}"
                    class="sr-only">
                        Option description</label>
                    <textarea type="text"
                        class="form-control autoresize"
                        id="ldesc-{{pi}}-{{$index}}"
                        name="ldesc-{{pi}}-{{$index}}"
                        ng-model="opt.description" empty-as-null
                        placeholder="Option description"
                        title="A tooltip to show to the user"
                        ></textarea>
                </div>
            </li>
            <li>
                <button class="btn btn-default btn-block"
                        title="Add option"
                        ng-click="addOption(part)"
                        ng-if="part.type == 'multiple_choice'">
                    <i class="fa fa-fw fa-plus"></i>
                    <span ng-if="part.options.length == 0">Add an option</span>
                    <span ng-if="part.options.length > 0">Add another option</span>
                </button>
            </li>
        </ul>
        <div class="input-group" ng-if="part.type == 'numerical'">
            <label for="lower_{{$index}}" class="input-group-addon align-md">
                Min:</label>
            <input type="text" class="form-control"
                id="lower_{{$index}}"
                ng-model="part.lower"
                placeholder="E.g. 0.0"
                title="The lower bound (minimum) for this part (expression; see docs)"/>
            <label for="upper_{{$index}}" class="input-group-addon">
                Max:</label>
            <input type="text" class="form-control"
                id="upper_{{$index}}"
                ng-model="part.upper"
                placeholder="E.g. 1.0"
                title="The upper bound (maximum) for this part (expression; see docs)"/>
        </div>
    </uib-tab>
    <uib-tab index="'addPart'" select="addPart(rt, $event)">
        <uib-tab-heading>
            <i class="fa fa-plus"></i>
        </uib-tab-heading>
    </uib-tab>

    <uib-tab index="'preview'" heading="Preview">
        <response-form class="spaced" debug  is-response-type="true"
            type="rtEdit.responseType" model="rtEdit.response"
            externs="rtEdit.externs" weight="weight"></response-form>

        <div class="spaced" ng-if="rtEdit.responseType.unboundVars.length">
            <h4>External Variables</h4>
            <p class="text-muted">
                This response type uses external variables. These will
                ultimately be bound to other measures. You can provide
                values for them here for testing purposes.
            </p>
            <div class="input-group spaced"
                    ng-repeat="v in rtEdit.responseType.unboundVars">
                <label for="extern_{{v}}" class="input-group-addon align-md">
                    {{v}}:
                </label>
                <input type="text" class="form-control"
                    id="extern_{{v}}" name="extern_{{v}}"
                    ng-model="rtEdit.externs[v]" />
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<docs>
    <i class="fa-li fa fa-sliders fa-border"></i>
    <h3>Response Type</h3>

    <p>
        A response type determines the types of answers that a respondent can
        give, and how the scores are calculated. They are bound to measures;
        e.g. you might have a single response type called "Yes / No" that is
        used by 10 measures (questions) in your survey.
        Both the response type and measure will be saved when you click the
        save button.
    </p>

    <p>
        Identity fields:
    </p>

    <ul>
        <li>
            <strong>Name:</strong>
            The name of your response type. This is for
            your benefit only; respondents will not see it. Usually this should
            be more generic than the measure name, because a response type may
            be used by multiple measures.
        </li>
        <li>
            <strong>Formula:</strong>
            This is how the <em>base score</em> is calculated. The result of
            this is multiplied by the measure weight to give the final score.
            You can use variables in this expression, e.g. if your response
            has two parts <em>a</em> and <em>b</em> your formula could be
            "a + b" or "a / b".
        </li>
    </ul>

    <p>
        A response type is composed of a number of response <em>parts</em>. Each
        part can be a numerical input or set of multiple-choice options. Part
        fields:
    </p>

    <ul>
        <li>
            <p>
                <strong>ID:</strong>
                The variable name to use for this part. You can use this in
                formulas and conditions. The ID must be a single word beginning
                with a letter, e.g. "a", "foo" or "foo_1". It can't contain
                spaces or other special characters. Some names are reserved for
                functions like "cos"; you should avoid those names.
            </p>
            <p>
                Multiple-choice parts create an extra variable
                with the suffix "__i" to indicate the index of the option chosen
                by the user. E.g. a part with an ID of "a" will produce variables
                <em>a</em> (option value) and <em>a__i</em> (option index). The
                index is
                <a href="https://en.wikipedia.org/wiki/Zero-based_numbering">zero-based</a>,
                so first option is 0, the second is 1, and so on.
            </p>
        </li>
        <li>
            <strong>Name:</strong>
            The name of the part; it will be displayed to respondents above the
            input box for the part. This is optional for single-part responses.
        </li>
        <li>
            <strong>Description:</strong>
            Text to display to the user when they hold the mouse over the
            response part. It's also displayed in the documentation section of
            the screen.
        </li>
        <li>
            <strong>Option:</strong>
            The name of the multiple-choice option.
        </li>
        <li>
            <strong>Value:</strong>
            The value of the multiple-choice option.
        </li>
        <li>
            <strong>Condition:</strong>
            An expression describing when the option is available. For example,
            if you have parts <em>a</em> and <em>b</em>, then some options of
            part <em>b</em> might use conditions like "a > 0.5".
        </li>
        <li>
            <strong>Option description:</strong>
            Text to display to the user when the hold their mouse over the
            option. It's also displayed in the documentation section of the
            screen.
        </li>
        <li>
            <strong>Min:</strong>
            The lower bound for a numerical input. E.g. "0" means the user must
            enter a value greater than or equal to zero. "a" means the user
            must enter a value of at least <em>a</em>.
        </li>
        <li>
            <strong>Max:</strong>
            The upper bound for a numerical input. E.g. "1" means the user must
            enter a value less than or equal to one. "a" means the user
            must enter a value of at most <em>a</em>.
        </li>
    </ul>

    <p ng-if="rtEdit.responseType.declaredVars.length < 1">
        This response type declares no variables.
        However you can use external variables in the formula,
        which can be bound to other measures.
    </p>

    <p ng-if="rtEdit.responseType.declaredVars.length < 1">
        This response type declares no variables.
        However you can use external variables in the formula,
        which can be bound to other measures.
    </p>
    <p ng-if="rtEdit.responseType.declaredVars.length > 1">
        This response type declares the variables
        <span class="commasep"
            ><em ng-repeat="v in rtEdit.responseType.declaredVars"
                >{{v}}</em
            ></span>. You can use them in expressions.
        You can also use other external variables, which can be bound
        to other measures.
    </p>
    <p ng-if="rtEdit.responseType.declaredVars.length == 1">
        This response type declares the variable
        <span class="commasep"
            ><em ng-repeat="v in rtEdit.responseType.declaredVars"
                >{{v}}</em
            ></span>. You can use it in expressions.
        You can also use other external variables, which can be bound
        to other measures.
    </p>

    <p ng-if="!rt.parts.length">
        This response type has no response parts. You can create one by
        pressing the <i class="fa fa-fw fa-plus"></i> button above.
    </p>

    <p>
        <span ng-if="!rt.nMeasures">
            This response type is not used by any measures yet. To re-use
            an existing type, press the <i class="fa fa-link"></i> button.
        </span>
        <span ng-if="rt.nMeasures">
            This response type is used by
            <a ng-href="#/3/measures?program={{rt.programId}}&initialTerm=rt:{{rt.id}}"
                ><ng-pluralize count="rt.nMeasures" when="{
                    '1': '1 measure',
                    'other': '{} measures',
                }"></ng-pluralize
            ></a
            ><span ng-if="isBound"> (including this one)</span>.
            <span ng-if="(isBound && rt.nMeasures > 1) ||
                    (!isBound && rt.nMeasures > 0)">
                Keep that in mind when making changes.
                If you want to avoid affecting those other measures, clone
                the response type before making changes by pressing the
                <i class="fa fa-clone"></i> button - or press
                <i class="fa fa-plus"></i> to make a new type.
            </span>
        </span>
    </p>
</docs>
