<script type="text/javascript">
'use strict';
angular.module('upmark.settings', [])
.constant('version', {
    v_v: '{{params.version(rel="vv", dev="vv")}}',
    v_nv: '{{params.version(rel="vv", dev="nv")}}',
    v_sv: '{{params.version(rel="vv", dev="sv")}}',
    nv_v: '{{params.version(rel="nv", dev="vv")}}',
    nv_nv: '{{params.version(rel="nv", dev="nv")}}',
    nv_sv: '{{params.version(rel="nv", dev="sv")}}',
    sv_v: '{{params.version(rel="sv", dev="vv")}}',
    sv_nv: '{{params.version(rel="sv", dev="nv")}}',
    sv_sv: '{{params.version(rel="sv", dev="sv")}}',
})
.constant('versionedResources', [
    {
        // These resources can't have their URLs modified at all.
        when: 'never',
        patterns: [
            '^/?uib/template',
            '^/?template/color-picker',
            '^/?inline/',
            '^/?bootstrap',
            '^/?nodes_renderer'
        ],
    },
    {
        when: 'sv_nv',
        patterns: [
            '^/?.*\\.html$',
            '^/?images/',
            '^/?css/',
            '^/?\\bower_components/',
        ],
    },
    {
        // Cache-bust
        when: 'v_v',
        patterns: [
            // Fix for aggressive IE caching
            '\\.json',
            '^/report/',
            '\\.sql',
        ],
    },
])

{% if params.aq_version is not None %}
.constant('aqVersion', '{{params.aq_version}}')
{% else %}
.constant('aqVersion', null)
{% end %}

.constant('pageTitleSuffix', ' - {{theme.app_name_short}}')

.constant('authz_rules', {% raw params.authz_declarations %})

.run(function(Authz, authz_rules) {
    authz_rules.forEach(function(decl) {
        Authz.rootPolicy.declare(decl);
    });
})

;
</script>
