<div class="header"
    ng-class="{'deleted': surveygroup.deleted}">
<div class="container">
    <div class="toolbar">
        <delete-button model="surveygroup" editor="edit"
            ng-if="!edit.model && checkRole('surveygroup_del')"></delete-button>
        <button class="btn btn-default btn-round" title="Cancel"
                ng-click="edit.cancel()"
                ng-if="edit.model && edit.model.id">
            <i class="fa fa-times"></i></button>
        <button class="btn btn-default btn-round" title="Save"
                ng-click="save()"
                ng-if="edit.model"
                form="editor"
                form-save-button="editor">
            <i class="fa fa-check"></i></button>
        <button class="btn btn-default btn-round" title="Edit"
                ng-click="edit.edit()"
                ng-if="!edit.model && checkRole('surveygroup_edit')">
            <i class="fa fa-pencil"></i></button>
        <a class="btn btn-default btn-round" title="Subscriptions"
                ng-href="#/3/subscription/surveygroup?id={{surveygroup.id}}"
                ng-if="!edit.model">
            <i class="fa fa-envelope"></i></a>
    </div>
    <h2 page-title>
        <i class="fa fa-fw fa-university"></i>
        <a href="#/3/surveygroups">Survey groups</a> &raquo;
        <span ng-if="surveygroup.title"
                ng-class="{strike: surveygroup.deleted}">
            {{surveygroup.title}}</span>
        <span ng-if="!surveygroup.title">New survey group</span>
    </h2>
</div>
</div>

<program-list
    class="nested" ng-if="!edit.model" sg="surveygroup"></program-list>
<user-list
    class="nested" ng-if="!edit.model" sg="surveygroup"></user-list>
<organisation-list
    class="nested" ng-if="!edit.model" sg="surveygroup"></organisation-list>

<div ng-if="edit.model" class="container">
    <form novalidate name="form" id="editor" form-nav-warn>
      <div class="form-group">
          <label for="themeLogo">Survey Group Logo</label>
          <file-setting url="/surveygroup/icon/{{surveygroup.id}}"
              setting="surveygroup.groupLogo"></file-setting>
          <p>
              Logo to display in the title bar
          </p>
      </div>
        <div class="form-group" show-errors>
            <label for="title">Name</label>
            <span class="help-label" ng-if="form.title.$error.required">
                Please provide a title.</span>
            <input type="text" class="form-control" id="title" name="title"
                ng-model="edit.model.title" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <markdown-editor id="description"
                ng-model="edit.model.description"
                title="Description"></markdown-editor>
        </div>
    </form>
</div>

<div ng-if="!edit.model">
    <div class="container" ng-if="surveygroup.description">
        <div ng-bind-html="surveygroup.description | markdown"></div>
    </div>

    <docs ng-if="surveygroup.deleted">
        <i class="fa-li fa fa-trash fa-border"></i>
        <h3>Deleted</h3>
        <p>
            This survey group has been deleted. Users, organisations and
            surveys belonging only to this group are also effectively
            deleted.
        </p>
    </docs>
</div>

<docs>
    <i class="fa-li fa fa-users fa-border"></i>
    <h3>Survey groups</h3>
    <p>
        Survey groups control which entities a user can see. A
        user will only be able to see this survey group if they are a member of
        it.
    </p>
</docs>
