<div class="header">
    <div class="container">
        <div class="toolbar">
            <a class="btn btn-default btn-round" title="Add new"
                    href="#/2/surveygroup/new" ng-if="checkRole('surveygroup_add')">
                <i class="fa fa-fw fa-plus"></i></a>
        </div>
        <h2 page-title>
            <i class="fa fa-fw fa-university"></i>
            Survey groups
        </h2>
    </div>
</div>
<div class="container">
    <search-box model="search" result="surveygroups">
        <delete-cycle model="search.deleted"></delete-cycle>
    </search-box>

    <ul class="list-results">
        <li ng-repeat="surveygroup in surveygroups"
                ng-class="{strike: surveygroup.deleted}">
            <a ng-href="#/2/surveygroup/{{surveygroup.id}}">
                <h4>{{surveygroup.title}}</h4>
                <p class="truncate" ng-if="surveygroup.description">
                    {{surveygroup.description}}
                </p>
            </a>
        </li>
    </ul>
</div>
