$primary-colour: #bbe2f6;
$secondary-colour: #eee;
$gutter: 200px;

$survey-colour: $primary-colour;
$hierarchy-colour: $primary-colour;
$function-colour: #c1c6f7;
$process-colour: #ffe2be;
$subprocess-colour: #ffedbe;
$measure-colour: white;

$anim-time: 0.5s;
