$primary-colour: #bbe2f6;
$secondary-colour: #eee;
$gutter: 200px;

$survey-colour: $primary-colour;
$hierarchy-colour: $primary-colour;
$function-colour: #c1c6f7;
$process-colour: #ffe2be;
$subprocess-colour: #ffedbe;
$measure-colour: white;

$aq-bar1: #FFA600;
$aq-bar2: #FF3E00;
$aq-bar3: #BC1183;
$aq-bar4: #683797;

$anim-time: 0.5s;
