@import '_utils.scss';

$button-bg: #f0f0f0;
$button-fg: black;
$button-border-width: 3px;
$primary-col: #177fb5;
$anim-time: 0.3s;

.btn {
    background-color: $button-bg;
    border-bottom: $button-border-width solid transparent;
    padding: 6px 12px (6px - $button-border-width);
    color: lighten($button-fg, 30%);
    @include transition-property(color, background-color, border-bottom-color);
    @include transition-duration($anim-time);

    &:hover, &.active:focus, &:focus, &:active.focus, &:active:focus {
        background-color: lighten($button-bg, 3%);
        color: $button-fg;
        border-bottom-color: rgba($primary-col, 0.5);
    }
    &.active:focus, &:focus, &:active.focus, &:active:focus {
/*         outline: rgba($primary-col, 0.2) solid 2px; */
        outline: none;
        outline-offset: 2px;
    }
    &:active, &.active, &.active:focus, &:active.focus, &:active:focus {
        box-shadow: none;
        border-bottom-color: $primary-col;
        color: $button-fg;
    }
}
