$gutter: 200px;

.survey-tree {
    background: #bbe2f6;
    margin: 0;
    padding: 10px 0;

    h2, h3, h4 {
        margin: 0 $gutter;
        color: #494854;
        line-height: 1.6;
    }
    h2 {
        font-size: 19px;
    }
    h3, h4 {
        font-size: 16px;
    }
}

.measure {
    h5 {
        margin: 30px $gutter 10px;
        color: #4e4e4e;
        line-height: 1.6;
        font-size: 19px;
    }

    p {
        margin: 20px $gutter;
    }

    $response-spacing: 7px;

    ol.responses {
        margin: (30px - $response-spacing) $gutter;
        padding: 0;
        display: table;
        border-spacing: 0 $response-spacing;

        li {
            display: table-row;
            list-style: none;
            margin: 4px 0;
        }
        li>* {
            display: table-cell;
        }
        label {
            padding: 6px 30px 6px 0;
            font-weight: normal;
            line-height: 1.42857143;
        }
    }

    .comments {
        border-top: 1px solid #cecece;
    }
}