@import '_utils.scss';
@import '_defines.scss';

h2, h3, h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}
h2 {
    font-size: 19px;
}
h3 {
    font-size: 16px;
    color: #555;
    margin-top: 22px;
    margin-bottom: 8px;
}
h4 {
    font-size: 16px;
}

h2 {
    &[label] {
        position: relative;
    }
    &[label]:before {
        content: attr(label);
        position: absolute;
        left: -40px;
        background-color: white;
        border-radius: 50%;
        top: -3px;
        font-size: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
        opacity: 1;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
        @include transition(
            box-shadow $anim-time ease,
            background-color $anim-time ease,
            opacity $anim-time ease
        );
        @media print {
            border: 1px solid gray;
        }
    }
    &.survey-s[label]:before {
        background-color: mix($survey-colour, white, 50%);
        color: mix($survey-colour, black, 50%);
    }
    &.survey-h[label]:before {
        background-color: mix($hierarchy-colour, white, 50%);
        color: mix($hierarchy-colour, black, 50%);
    }
    &.survey-0[label]:before {
        background-color: mix($function-colour, white, 50%);
        color: mix($function-colour, black, 50%);
    }
    &.survey-1[label]:before {
        background-color: mix($process-colour, white, 50%);
        color: mix($process-colour, black, 50%);
    }
    &.survey-2[label]:before {
        background-color: mix($subprocess-colour, white, 50%);
        color: mix($subprocess-colour, black, 50%);
    }
    &.survey-m[label]:before {
        background-color: mix($measure-colour, white, 50%);
        color: mix($measure-colour, black, 50%);
    }
}
.header h2[label]:before {
    top: 2px;
}
.stacked-header {
    > h2:not(:last-child) {
        opacity: 0.8;
    }
    > h2 >.toolbar {
        margin-top: 0;
    }
}

.stacked-header.header-collapsed {
    position: relative;
    h2 {
        display: inline;
        line-height: 38px;
        position: static;
        padding-right: 0.2em;
        &[label]:before {
            top: 6px;
        }
        &:not(:last-child)[label]:before {
            display: none;
        }
    }
    .when-expanded {
        display: none;
    }
}
h2.pull-left {
    margin-top: 9px;
    margin-right: 1ex;
}
.header-expanded {
    h2 {
        display: block;
    }
    .when-collapsed {
        display: none;
    }
}

.header {
    background: $primary-colour;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @media print {
        margin-bottom: 0;
    }

    h2 {
        .clock-progress {
            @include transform(scale(19/16));
            @include transform-origin(9px 1px);
        }
    }

    h2, h3, h4 {
        color: mix(black, $primary-colour, 70%);
        line-height: 1.6;
        position: relative;
        margin-top: 4px;
        margin-bottom: 4px;
        .clock-progress {
            position: absolute;
            top: 0.2em;
            right: 0;
        }
    }

    + div > div > h3:first-child {
        margin-top: 0;
    }

    a {
        color: inherit;
    }
}

a.stealth {
    color: inherit;
}

ul.dropdown-menu {
    border: none;

    @media (max-width: 768px) {
        left: 4px !important;
        right: 4px !important;
    }
    @media (min-width: 768px) {
        margin-right: -20px;
    }

    > li > a {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    > li.active > a, > li.active > a:hover {
        background-color: #f5f5f5;
        color: black;

        &:before {
            @include fontawesome('\f0da');
            position: absolute;
            left: 0.6em;
        }
    }

    span.field {
        display: inline-block;
        white-space: nowrap;
    }
    span.field-2 {
        width: 2em;
    }
    span.field-4 {
        width: 4.5em;
    }
    span.field-8 {
        width: 8em;
    }
}

.dropdown-header {
    padding: 10px 20px;
    .toolbar {
        margin-top: -8px;
        .btn {
            font-size: 14px;
            padding: 2px 10px;
        }
    }
}

ul.fa-ul-big {
    > li {
        margin-top: 20px;
    }
    > li > i.fa-li {
        top: 0;
        &.fa-border {
            width: 1.54em;
            height: 1.54em;
            text-align: center;
            padding: 0.2em 0;
        }
    }
    p {
        margin-bottom: 4px;
    }
    @media (max-width: 768px) {
        margin-left: 2.1em;
        > li > i.fa-li {
            font-size: 1em;
        }
    }
    @media (min-width: 768px) {
        margin-left: 4.3em;
        > li {
            min-height: 43px;
        }
        > li > i.fa-li {
            font-size: 2em;
        }
    }
}
ul.fa-ul-big.list-results {
    > li {
        margin-top: 0;
    }
    > li > i.fa-li {
        top: 8px;
    }
}
.fa-li > .fa-badge {
    left: -1em;
}
.fa-border-fill {
    background-color: #F5F5F5;
    border-color: #f5f5f5;
}
ul.docs > li:not(.printable) {
    @media print {
        display: none;
    }
}
dt {
    margin-top: 8px;
}
dt.active:before {
    @include fontawesome("\f0da");
    display: block;
    position: absolute;
    left: -12px;
}

.nudge-right {
    position: relative;
    left: 0.6em;
}

.subheader {
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.header+.subheader {
    margin-top: -20px;
}
.jumbotron+.subheader {
    margin-top: -30px;
}

.toolbar {
    float: right;
    position: relative;
    z-index: 1;
    margin-top: 4px;
    > a {
        vertical-align: top;
    }
    > .btn:first-child, > a:first-child {
        margin-left: 0;
    }

    @media print {
        display: none !important;
    }
}

.grab-handle {
    cursor: move;
}
reorder-view:not([reorder-edit]) .grab-handle {
    display: none;
}

/* Nested pages should have less prominent headers */
ng-include>.header, .nested>.header {
    background: transparent;
    margin-bottom: 10px;
    padding-bottom: 0;

    h2 {
        font-size: 16px;
    }
}

.section {
    margin-top: 20px;
    margin-bottom: 12px;

    &.section-collapse {
        margin-top: 0;
        margin-bottom: 0;
        > h3 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .toolbar {
        margin-top: -3px;
    }
}

.formatted {
    white-space: pre-wrap;
}

ul.list-results {
    padding-left: 0;
    > li {
        list-style: none;
        > a, > div, > span, > .fa-li {
            display: block;
            padding: 8px;
        }
        > a {
            @include transition(background-color 0.3s);
            color: #555;
            > h4 {
                font-weight: bold;
                position: relative;
            }
            > p {
                &:last-child {
                    margin-bottom: 0;
                }
                color: #777;
            }
        }

        a:hover {
            text-decoration: none;
            background: #f5f5f5;
            > h4 {
                text-decoration: underline;
            }
        }
        &.active {
            background: #eee;
            > a > h4:before {
                @include fontawesome('');
                position: absolute;
                left: -1.5em;
                color: #444;
            }
        }
    }
}
.list-results h4 > .fa-li {
    top: initial;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spaced {
    margin-top: 18px;
}

.response {
    h5 {
        color: mix(black, white, 70%);
        line-height: 1.6;
        font-size: 19px;
    }

    $response-spacing: 10px;

    ol.responses {
        padding: 0;
        .btn-default[disabled] {
            background-color: lighten($button-bg, 3%);
        }

        // Lay out options horizontally on large screens
        @media (min-width: 992px) {
            display: table;
            border-spacing: 0 $response-spacing;
            li {
                display: table-row;
                list-style: none;
                margin: 4px 0;
            }
            li > div {
                display: table-cell;
                vertical-align: middle;
                .btn-group-justified {
                    border-spacing: initial;
                }
            }
        }
        // On medium screens, use horizontal layout but with label on its own
        // row
        @media (min-width: 768px) and (max-width: 992px),
            (max-width: 768px) and (orientation: landscape) {
            display: block;
            li {
                display: block;
                list-style: none;
                margin: 4px 0;
            }
            li > div {
                display: block;
            }
        }
        // On small screens, stack everything vertically
        @media (max-width: 768px) {
            display: block;
            li {
                display: block;
                list-style: none;
                margin: 4px 0;
            }
            li > div {
                display: block;
                /* See _forms.css for button group style */
            }
        }

        label {
            // Match size to buttons
            padding: 6px 30px 3px 0;
            border: solid transparent;
            margin: 0;
            border-width: 1px 0 3px 0;
            font-weight: normal;
            line-height: 1.42857143;
            position: relative;
            white-space: nowrap;

            &:before {
                @include fontawesome("\f0da");
                position: absolute;
                left: -12px;
            }
        }

        li {
            label {
                &:before {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .index, label:before {
                opacity: 0;
                visibility: hidden;
                @include transition(
                    opacity $anim-time ease,
                    visibility $anim-time step-end
                );
            }
            .index {
                color: #aaa;
            }
        }

        li.active {
            .btn:not([disabled]) .index, label:before {
                opacity: 1;
                visibility: visible;
                @include transition(
                    opacity $anim-time ease,
                    visibility $anim-time step-start
                );
            }
        }

        li.disabled {
            label {
                color: #888;
                pointer-events: none;
            }
        }
    }

    .comments-box {
        $default-height: 150px;

        border-top: 1px solid #cecece;
        position: relative;

        textarea {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $default-height;
            border: none;
            background-color: rgba(white, 0.75);
            @include transition(
                background-color $anim-time ease
            );

            &.empty {
                background-color: rgba(white, 0);
            }
            &:focus {
                background-color: rgba(white, 1);
            }
        }
        label {
            pointer-events: none;
            text-align: center;
            font-size: $default-height / 1.5;
            font-weight: normal;
            line-height: $default-height;
            height: $default-height;
            margin: 0;
            padding: 0;
            color: #ccc;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }
}

.text-hidden {
    visibility: hidden;
}

.modalprogress {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

    > div > i + p, .clock-progress + p {
        margin-top: 10px;
    }
    /* Style clock to match fontawesome spinner */
    .clock-progress {
        @include transform(scale(70/(18)));
        width: 70px;
        height: 70px;
    }
    .clock-edge {
        stroke-width: 2.5px;
        stroke: #333;
    }
    .clock-fill {
        fill: #333;
    }
}

column-progress {
    $column-width: (3 / 14) * 1em;
    $column-spacing: (2 / 14) * 1em;

    display: inline-block;
    vertical-align: top;
    height: 1.42857143em;
    position: relative;
    transform: skewX(-10deg);
    /*
     * Fix for jagged edges
     * http://stackoverflow.com/a/6898097/320036
     */
    -webkit-backface-visibility: hidden;

    > span {
        height: 100%;
        display: inline-block;

        &:before {
            position: absolute;
            content: ' ';
            background-color: white;
            top: -3px;
            left: -4px;
            right: -5px;
            bottom: -4px;
            border-radius: 5px;
            display: block;
            pointer-events: all;
        }
    }

    > span > span {
        width: $column-width;
        height: 100%;
        display: inline-block;
        margin-left: $column-spacing;
        overflow: hidden;
        position: relative;

        > span:not([column-progress-column]) {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            border-left: $column-width solid #eee;
        }
        > span[column-progress-column] {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            border-left: $column-width solid;
            border-color: $aq-bar1;
        }
        + span > [column-progress-column] {
            border-color: $aq-bar2;
        }
        + span + span > [column-progress-column] {
            border-color: $aq-bar3;
        }
    }

    [column-progress-column].complete:after {
        content: ' ';
        border: solid white;
        border-width: 0 0 2px 0;
        position: absolute;
        bottom: 2px;
        left: -$column-width;
        right: 0;
    }
}

@include keyframes(sine-height) {
    0% {
        height: 60%;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 60%;
    }
}

$spinner-height: 16px;
.spinner {
    $column-width: (7 / 28) * $spinner-height;
    $column-spacing: (2 / 28) * $spinner-height;

    position: fixed;
    top: 32px;
    left: 50%;
    z-index: 5000;
    height: $spinner-height;
    margin-left: 0 - $spinner-height / 2;
    margin-top: 0 - $spinner-height / 2;
    transform: skewX(-10deg);
    /*
     * Fix for jagged edges
     * http://stackoverflow.com/a/6898097/320036
     */
    -webkit-backface-visibility: hidden;

    pointer-events: none;

    > span {
        width: 0;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        border-left: $column-width solid;
        border-color: $aq-bar1;
        overflow: hidden;
        @include animation(1s sine-height ease-in-out infinite);
    }

    > span + span {
        left: ($column-spacing + $column-width) * 1;
        border-color: $aq-bar2;
        @include animation-delay(0.15s);
    }

    > span + span + span {
        left: ($column-spacing + $column-width) * 2;
        border-color: $aq-bar3;
        @include animation-delay(0.3s);
    }

    > span + span + span + span {
        left: ($column-spacing + $column-width) * 3;
        border-color: $aq-bar4;
        @include animation-delay(0.45s);
    }
}

.assessment-header {
    > div {
        display: inline-block;
        margin: 0 1em;

        > span {
            /* Pretend to be a button */
            display: inline-block;
            border: solid transparent;
            border-width: 1px 1px 3px 1px;
            padding: 6px 12px 3px;
            vertical-align: middle;
        }
    }
}

.atop {
    position: absolute;
    background-color: inherit;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-bottom: 10px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.bg-muted {
    background: #fafafa;
}

.stats {
    font-size: 120%;
    text-align: center;
    margin-bottom: 14px;

    column-progress {
        margin-right: 0.5em;
    }

    > span {
        margin: 0 1em;
        position: relative;
        display: inline-block;
    }
    .stats-bar1 {
        color: darken($aq-bar1, 10%);
    }
    .stats-bar2 {
        color: darken($aq-bar2, 10%);
    }
    .stats-bar3 {
        color: darken($aq-bar3, 10%);
    }
}
.stats:hover > span:before {
    content: attr(title);
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    bottom: -15px;
    text-align: center;
    left: -20px;
    right: -20px;
    display: block;
    color: #888;
}

.label:not(:first-child) {
    margin-left: 0.6ex;
}
.label-context, a.label.label-context {
    background: #ddd;
    color: #444;
}
.label-added {
    background: #337ab7;
}
.label-deleted {
    background: #d9534f;
}
.label-modified {
    background: #5cb85c;
}
.label-reordered {
    background: #777;
}
.label-list-index {
    background: #5bc0de;
}
.label-relocated {
    background: #f0ad4e;
}
.label-disabled {
    opacity: 0.5;
    text-decoration: line-through;
    @media print {
        display: none;
    }
}
.diff {
    del {
        background: #fcc;
        color: #400;
    }
    ins {
        background: #cfc;
        color: #040;
    }
    .only-old ins,
    .only-new del {
        display: none;
    }
}

ul.cardlist {
    padding: 0;

    li {
        list-style: none;

        @media print {
            padding: 0;
            page-break-inside: avoid;
        }
    }

    li > a {
        padding: 12px 12px;
        margin: 1px 0;
        border-left: 8px solid;
        background: #f5f5f5;
        &:hover {
            background: #eee;
        }
    }

    li:first-child > a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    li:last-child > a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    li.association > a {
        border-color: mix($aq-bar1, white, 50%);
    }
    li.question > a {
        border-color: mix($aq-bar2, white, 50%);
    }
    li.answer > a {
        border-color: mix($aq-bar3, white, 50%);
    }
}

ul.fa-ul.timeline {
    margin-left: 0;

    > li {
        background: #f5f5f5;
        margin-bottom: 1px;
        border-left: 4.3em solid #eee;

        @media (max-width: 768px) {
            border-left-width: 4.3em * 0.5;
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        > a, > div {
            padding: 18px;
        }
        > a:hover {
            background: #eee;
        }

        > .toolbar {
            position: absolute;
            right: 0;
            top: 0;
            padding: 4px;
            background-color: white;
            border-radius: 17px;
            margin: 4px;
        }

        .text-muted em {
            font-style: normal;
            color: #555;
        }
    }


    > li > i.fa-li {
        padding: 0;
        top: 50%;
        margin-top: 28px * -0.5;

        @media (max-width: 768px) {
            margin-top: 19.5px * -0.5;
        }

        width: 4.3em * 0.5;
        border-color: transparent;
        background: transparent;
    }

    /* Object types */
    > li.broadcast {
        $col: $primary-colour;
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.association {
        $col: mix($aq-bar1, white, 30%);
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.question {
        $col: mix($aq-bar2, white, 30%);
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.answer {
        $col: mix($aq-bar3, white, 30%);
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }

    /* Selection states */
    > li.selected {
        $col: #8fde8f;
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.selected.inherited {
        $col: #c3e2c3;
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.unselected {
        $col: #e69090;
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
    > li.unselected.inherited {
        $col: #d8b0b0;
        border-color: $col;
        > .fa-li > .fa-badge {
            @include text-shadow-outline($col);
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.underline-red {
    color: #a00;
}

.underline-blue {
    color: #00a;
}

.underline > span {
    color: initial;
}

.text-muted .underline > span {
    color: #777;
}
