@import '_utils.scss';
@import '_defines.scss';

.container.surveygroup-tile {
    position: relative;
    padding-bottom: 40px;
}

.surveygroup-title {
    text-align: left;
    font-size: 40px;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-elmt-container {
    position: absolute;
    padding-left: 175px;
    padding-right: 15px;
    padding-top: 50px;
    height: 196px;
    top: 0px;
    width: 98%;
    color: black;
}

.surveygroup-desc {
    font-size: 18px;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
    .desc-content {
        padding-left: 0;
        padding-right: 0;
    }
}
