@mixin fontawesome($content) {
    font-family: FontAwesome;
    content: $content;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transition($rules...) {
    -webkit-transition: $rules;
    -moz-transition: $rules;
    -ms-transition: $rules;
    -o-transition: $rules;
    transition: $rules;
}

@mixin transition-duration($rules...) {
    -webkit-transition-duration: $rules;
    -moz-transition-duration: $rules;
    -ms-transition-duration: $rules;
    -o-transition-duration: $rules;
    transition-duration: $rules;
}

@mixin transition-property($rules...) {
    -webkit-transition-property: $rules;
    -moz-transition-property: $rules;
    -ms-transition-property: $rules;
    -o-transition-property: $rules;
    transition-property: $rules;
}

@mixin transform($rules...) {
    -webkit-transform: $rules;
    -moz-transform: $rules;
    -ms-transform: $rules;
    -o-transform: $rules;
    transform: $rules;
}

@mixin transform-origin($rules...) {
    -webkit-transform-origin: $rules;
    -moz-transform-origin: $rules;
    -ms-transform-origin: $rules;
    -o-transform-origin: $rules;
    transform-origin: $rules;
}

@mixin animation($rules...) {
    -webkit-animation: $rules;
    -moz-animation: $rules;
    -ms-animation: $rules;
    -o-animation: $rules;
    animation: $rules;
}

@mixin animation-delay($rules...) {
    -webkit-animation-delay: $rules;
    -moz-animation-delay: $rules;
    -ms-animation-delay: $rules;
    -o-animation-delay: $rules;
    animation-delay: $rules;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

$outline-width: 1px;
$outline-blur: 0.00em;
$outline-jitter: 0.5;

@mixin text-shadow-outline($colour) {
    text-shadow:
        ($outline-width) ($outline-width * $outline-jitter) $outline-blur $colour,
        (-$outline-width) (-$outline-width * $outline-jitter) $outline-blur $colour,
        ($outline-width * $outline-jitter) (-$outline-width) $outline-blur $colour,
        (-$outline-width * $outline-jitter) ($outline-width) $outline-blur $colour,

        (-$outline-width) ($outline-width * $outline-jitter) $outline-blur $colour,
        ($outline-width) (-$outline-width * $outline-jitter) $outline-blur $colour,
        (-$outline-width * $outline-jitter) (-$outline-width) $outline-blur $colour,
        ($outline-width * $outline-jitter) ($outline-width) $outline-blur $colour;
}
