@import '_utils.scss';
@import '_defines.scss';

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #fafafa;
    overflow-y: scroll;
}

div[ng-view] {
    background: white;
    padding-bottom: 64px;
}

div#non-footer {
    min-height: 100%;
    padding-bottom: 32px;
}
div#footer {
    line-height: 30px;
    margin-top: -30px;
    text-align: center;
    > p {
        margin: 0;
        color: #888;
    }
    a:not(:hover) {
        color: #888;
    }
}

.jumbotron {
    text-align: center;
    background: $primary-colour;
    color: mix(black, $primary-colour, 70%);

    .text-muted {
        color: mix(black, $primary-colour, 50%);
    }
}

@import '_basic.scss';
@import '_navigation.scss';
@import '_forms.scss';
@import '_tables.scss';
@import '_survey.scss';
@import '_surveygroup.scss';
@import '_legal.scss';
@import 'login.scss';
@import 'category.scss';
