$fg-colour: #444;
$bg-colour: white;

#clock-face {
    fill: $bg-colour;
    stroke: none;
}
#clock-edge {
    fill: none;
    stroke: $fg-colour;
    stroke-width: 1.2px;
}
#clock-fill {
    fill: $fg-colour;
    stroke: none;
}
