div.chart {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
  cursor: pointer;
}

.box.odd {
  background-color: #FBFBFB;
}

.box.even {
  background-color: #FFFFFF;
}

.box:hover {
  background-color: #E6E6E6;
}

.box line, .box title {
  fill: #fff;
  stroke: gray;
  stroke-width: 2px;
}

.box rect {
  fill: #DDDDDD;
  stroke: gray;
  stroke-width: 1px;  
}

.box:hover rect {
  fill: #BFBFBF;
}

.box .median {
  stroke: blue;
}

.box:hover .whisker {
  stroke: black;
}


.box .current {
  stroke-width: 4px;
  stroke: #A95252;
}

.box .current_text {
  fill: #A95252;
}

.box .median_text {
  stroke-width: 2px;
  fill: blue;
}

.box .center {
  stroke: gray;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.box .border20 {
  stroke: white;
}

.info {
  font: 20px sans-serif;
  fill: red;
}
