div.chart {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
  cursor: pointer;
  background-color: #E6E6E6;
}

.box line, .box title, 
.box circle {
  fill: #fff;
  stroke: gray;
  stroke-width: 2px;
}

.box rect {
  fill: #DDDDDD;
  stroke: gray;
  stroke-width: 2px;  
}

.box .median {
  stroke: blue;
}

.box .current {
  stroke-width: 4px;
  stroke: #A95252;
}

.box .current_text {
  fill: #A95252;
}

.box .median_text {
  stroke-width: 2px;
  fill: blue;
}

.box .center {
  stroke: gray;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.info {
  font: 20px sans-serif;
  fill: red;
}
