# See also requirements_force.txt

alembic~=0.7.6
bleach~=1.4.3
boto3~=1.2.6
cairosvg~=2.0.0rc4
libsass~=0.8.2
numpy~=1.9.2
parse~=1.6.6
passlib~=1.6.2
passwordmeter~=0.1.1
py_expression_eval~=0.3.3
pyyaml~=3.11
scour~=0.35
# simpleeval is still required by the version upgrade scripts
simpleeval~=0.8.5
slimit~=0.8.1
SQLAlchemy~=1.0.6
sqlparse~=0.1.16
tornado~=4.1.0
voluptuous~=0.9.1
xlrd~=0.9.4
XlsxWriter~=0.7.6
# Non-functional requirements (dev tools)
pudb
