tornado~=4.1.0
slimit~=0.8.1
libsass~=0.8.2
SQLAlchemy~=1.0.6
passlib~=1.6.2
alembic~=0.7.6
passwordmeter~=0.1.1
xlrd~=0.9.4
parse~=1.6.6
voluptuous~=0.8.7
simpleeval~=0.8.5
boto3~=1.1.2
numpy~=1.9.2
XlsxWriter~=0.7.6
sqlparse~=0.1.16
# Non-functional requirements (dev tools)
pudb
