SMTP_SERVER: <YOUR SMTP SERVER>
SMTP_PORT: 587
SMTP_USERNAME: <SMTP SERVER USERNAME>
SMTP_PASSWORD: <SMTP SERVER PASSWORD>

MESSAGE_SEND_FROM: <SENDER EMAIL>

MESSAGE_SUBJECT: Aquamark - Activity Notification
MESSAGE_CONTENT: |
    This is a report for relative or intereted issue and user's activities. 
    Here are activities from last notifications.

    ${message}