SMTP_SERVER: <YOUR SMTP SERVER>
SMTP_PORT: 587
SMTP_USERNAME: <SMTP SERVER USERNAME>
SMTP_PASSWORD: <SMTP SERVER PASSWORD>

MESSAGE_SEND_FROM: <SENDER EMAIL>

MESSAGE_SUBJECT: Aquamark Notification
MESSAGE_CONTENT: |
    This is test message.

    Message is like this : ${message}