SMTP_SERVER: <YOUR SMTP SERVER>
SMTP_PORT: 587
SMTP_USERNAME: <SMTP SERVER USERNAME>
SMTP_PASSWORD: <SMTP SERVER PASSWORD>

MESSAGE_SEND_FROM: <SENDER EMAIL>
MESSAGE_SEND_TO: <RECEIVER EMAIL>

MESSAGE_SUBJECT: Aquamark - Submission score calculation error
MESSAGE_CONTENT: |
    This is a notification from an automated process that updates the scores of
    submissions in Aquamark. The process runs when a survey changes, e.g. when
    a measure's weight is modified.

    Some errors were encountered when updating submission scores:

    ${message}
